.p-t-0 {
    padding-top: 0!important;
}
.section-header {
    padding-top: 3rem;
}
.justify-content-between {
    justify-content: space-between!important;
}
.d-flex {
    display: flex!important;
}
@media (min-width: 1024px) {
    .section-header .description {
        font-size: 18px;
        top: -1.5rem;
    }
}

.section-header .description {
    color: #656565;
}
.t-color_light {
    color: #343434;
}
.t-read {
    max-width: 40em!important;
}

.page-header h1.page-title {
    text-transform: capitalize;
    color: #222;
    font-size: 30px;
    margin-top: 0;
    font-weight: 600;
}
.s-tile.blank-tile {
    padding: 2rem;
}
.s-tile.no-border {
    border-top: 0;
}
.s-tile {
    background: #fff;
    box-shadow: 0 7px 15px 0 rgba(0,0,0,.1);
}
.m-t-lg {
    margin-top: 2rem;
}
.tile-no-results {
    padding: 1.5rem;
    background: #fff;
    box-shadow: 0 7px 15px 0 rgba(0,0,0,.1);
    border-left: 6px solid #c00;
}