<template>
    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>

    <div class="section-header p-t-0 slds-var-p-around_small">
        <div class="d-flex justify-content-between page-header">
            <h1 class="page-title">{heading}</h1>
        </div>
        <div class="description t-read t-color_light">{subheading}</div>
    </div>

    <template if:true={cmpLoaded}>
        <div class="main-content" if:true={courses}>
            <lightning-layout multiple-rows="true">
                <template for:each={courses} for:item="course">
                    <lightning-layout-item size="6" key={course.userEnrollmentId}>
                        <div class="slds-var-p-around_small">
                            <template if:true={isActiveContainer}>
                                <c-lms-active-course-card course={course}></c-lms-active-course-card>
                            </template>
                            <template if:true={isUpdatedContainer}>
                                <c-lms-updated-course-card course={course}></c-lms-updated-course-card>
                            </template>
                            <template if:true={isCompletedContainer}>
                                <c-lms-completed-course-card course={course}></c-lms-completed-course-card>
                            </template>
                            <template if:true={isOverdueContainer}>
                                <c-lms-overdue-courses course={course}></c-lms-overdue-courses>
                            </template>
                        </div>
                    </lightning-layout-item>
                </template>
            </lightning-layout>
        </div>
        <template if:true={noCoursesFound}>
            <div class="s-tile blank-tile no-border tile-no-results m-t-lg">
            <div class="d-sm-flex justify-content-between">
                <div class="content">
                <div>
                    <div class="card-title">{noCourseFoundTitle}</div>
                    <div class="description">To view and enroll in courses, please visit the course catalog.</div>
                </div>
                <div class="slds-var-m-top_medium">
                    <lightning-button variant="brand" label="View the course catalog" title="View the course catalog" onclick={handleViewCatalog}></lightning-button>
                </div>
                </div>
            </div>
            </div>
        </template>
    </template>
</template>