<template>

  <!-- <center if:true={initiatedQuiz} class="slds-var-p-around_x-small">
  <template if:true={initiatedQuiz} for:each={allQuizResponses} for:item="q">
    <lightning-button class="slds-var-p-around_x-small" if:false={q.isAnswered} variant="brand-outline" key={q.questionId} label={q.sequenceNumber} title={q.sequenceNumber} onclick={handleNavigate} ></lightning-button>
    <lightning-button class="slds-var-p-around_x-small" if:true={q.isAnswered} variant="success" key={q.questionId} label={q.sequenceNumber} title={q.sequenceNumber} onclick={handleNavigate} ></lightning-button>
  </template>
</center> -->

  <template if:true={submitError}>
    <div class="demo-only" style="height:4rem">
      <div class="slds-notify_container slds-is-relative">
        <div class=" slds-notify_toast slds-theme_warning" role="status">
          <lightning-icon icon-name="utility:error" alternative-text="Error!" title="Error"></lightning-icon>
          <div class="">
            <h2 class="slds-text-heading_small ">Complete all the questions before Submitting the Quiz
            </h2>
          </div>
          <div class="slds-notify__close">
            <lightning-button-icon icon-name="utility:close" onclick={hideSubmitError} alternative-text="Close"
              title="Close"></lightning-button-icon>
          </div>
        </div>
      </div>
    </div>
  </template>


  <lightning-spinner alternative-text="Loading" variant="brand" size="large" if:false={loaded}></lightning-spinner>
  <template if:true={showError}>
    <center>
      <lightning-formatted-rich-text value="You Have already take the quiz">
      </lightning-formatted-rich-text>
      <br />
      <lightning-button variant="brand" label="Review your Answers" onclick={reviewQuiz}></lightning-button>
    </center>
  </template>

  <template if:true={showQuizInstructions}>
    <p class="model_card">
      <lightning-formatted-rich-text value={moduleOnlineInstructions}>
      </lightning-formatted-rich-text>
    </p>
    <div class="slds-modal__footer model_footer">
      <lightning-button label="Cancel" variant="neutral" onclick={closeModal} class="slds-m-right_large model_btn_sq">
      </lightning-button>
      <lightning-button class="model_btn_sq" variant="brand" label="Start Quiz" onclick={startQuiz}></lightning-button>
    </div>
  </template>

  <template if:true={initiatedQuiz}>
    
    <template if:true={currentQuestion}>
      <div class="model_error slds-text-align_center">
        <template if:true={showValidationError}>
          <lightning-icon icon-name="utility:error" alternative-text="Error!" title="Error"></lightning-icon>
          <p>Select At Least One Response</p>
        </template>
      </div>
      <div class="model_card">
        <span class="question_label">Question <span class="question_number">{currentQuestion.sequenceNumber}</span> out
          of <span class="question_total">{totalQuestions}</span></span>
        <div class="model_body">
          <div class="model_question">
            <lightning-formatted-rich-text class="qq" value={currentQuestion.questionText}>
            </lightning-formatted-rich-text>
            <p class="slds-var-p-horizontal_small model_answer">

              <template if:true={currentQuestion.isSingleChoice}>
                <fieldset id="single">
                  <template for:each={currentQuestion.listOfResponses} for:item="acc">
                    <div key={acc.answerId}><input type="radio" value={acc.answerId} checked={acc.isSelected}
                        name="single" onchange={radioChangeHandler} />
                      <lightning-formatted-rich-text style="display: inline-flex;" value={acc.answerText}>
                      </lightning-formatted-rich-text>
                    </div>
                  </template>
                </fieldset>
              </template>
              <template if:false={currentQuestion.isSingleChoice}>
                <fieldset id="multiple">
                  <template for:each={currentQuestion.listOfResponses} for:item="acc">
                    <div key={acc.answerId}><input type="checkbox" value={acc.answerId} checked={acc.isSelected}
                        name="multiple" onchange={radioChangeHandler} />
                      <lightning-formatted-rich-text style="display: inline-flex;" value={acc.answerText}>
                      </lightning-formatted-rich-text>
                    </div>
                  </template>
                </fieldset>
              </template>
            </p>
          </div>
        </div>
        <div class="slds-modal__footer model_footer">
          <div class="left_section-btn">
            <lightning-button label="Previous" icon-name="utility:back" disabled={previousDisabled}
              onclick={goPrevious}>
            </lightning-button>
          </div>
          <div class="right_section-btn">
            <lightning-button label="Cancel" variant="neutral" onclick={closeModal} class="slds-m-right_large">
            </lightning-button>
            <lightning-button variant="brand" label="Next" icon-name="utility:forward" icon-position="right"
              if:false={nextDisabled} onclick={goNext}></lightning-button>
            <lightning-button label="Complete" class="complete" if:true={nextDisabled}
              variant="brand" data-user-content={courseUserModuleContent}
              data-user-module={courseUserModule} onclick={completedQuiz}></lightning-button>
          </div>
        </div>
       
      </div>

      <!-- <lightning-card >
          <span class="question_label">Question <span class="question_number">{currentQuestion.sequenceNumber}</span> out of <span class="question_total">5</span></span>


          <div class="slds-col slds-size_1-of-1 model_question">
                    <lightning-formatted-rich-text value={currentQuestion.questionText}>
                    </lightning-formatted-rich-text>
        </div>
         
        

        <div slot="footer">
          <lightning-button label="Previous" icon-name="utility:back" disabled={previousDisabled} onclick={goPrevious}>
          </lightning-button>
          <lightning-button label="Next" icon-name="utility:forward" icon-position="right" disabled={nextDisabled}
            onclick={goNext}></lightning-button>
          <br />
          <template if:true={showValidationError}>
            <lightning-icon icon-name="utility:error" alternative-text="Error!" title="Error"></lightning-icon>
            <p>Select At Least One Response</p>
          </template>


        </div>
        <p class="slds-var-p-horizontal_small">

          <template if:true={currentQuestion.isSingleChoice}>
            <fieldset id="single">
              <template for:each={currentQuestion.listOfResponses} for:item="acc">
                <div key={acc.answerId}><input type="radio" value={acc.answerId} checked={acc.isSelected} name="single"
                    onchange={radioChangeHandler} />
                  <lightning-formatted-rich-text style="display: inline-flex;" value={acc.answerText}>
                  </lightning-formatted-rich-text>
                </div>
              </template>
            </fieldset>
          </template>
          <template if:false={currentQuestion.isSingleChoice}>
            <fieldset id="multiple">
              <template for:each={currentQuestion.listOfResponses} for:item="acc">
                <div key={acc.answerId}><input type="checkbox" value={acc.answerId} checked={acc.isSelected}
                    name="multiple" onchange={radioChangeHandler} />
                  <lightning-formatted-rich-text style="display: inline-flex;" value={acc.answerText}>
                  </lightning-formatted-rich-text>
                </div>
              </template>
            </fieldset>
          </template>
        </p>
      </lightning-card> -->
    </template>
  </template>

  <template if:true={showReview}>
    <p style="font-size: xx-large;
    font-weight: bolder;
    text-align: center;">
      <b>Score : {userScore}/{quizScore}</b>
    </p>
    <div style="overflow-y: scroll; max-height:400px">
    <template for:each={allQuizResponses} for:item="currentResponse" class="modal_scroll" for:index="i">
    <div class="model_card" key={currentResponse.questionId}>
      <span class="question_label">Question <span class="question_number">{currentResponse.sequenceNumber}</span> out
        of <span class="question_total">{totalQuestions}</span></span>
      <div class="model_body">
        <div class="model_question">
          <lightning-formatted-rich-text class="qq" value={currentResponse.questionText}>
          </lightning-formatted-rich-text>
          <p class="slds-var-p-horizontal_small model_answer">

            <template if:true={currentResponse.isSingleChoice}>
              <fieldset>
                <template for:each={currentResponse.listOfResponses} for:item="acc">
                  <div key={acc.answerId} class={acc.className}><input type="radio" disabled value={acc.answerId}
                      checked={acc.isSelected} />
                    <lightning-formatted-rich-text style="display: inline-flex;" value={acc.answerText}>
                    </lightning-formatted-rich-text>
                  </div>
                </template>
              </fieldset>
            </template>
            <template if:false={currentResponse.isSingleChoice}>
              <fieldset>
                <template for:each={currentResponse.listOfResponses} for:item="acc">
                  <div key={acc.answerId} class={acc.className}><input type="checkbox" value={acc.answerId} disabled
                      checked={acc.isSelected} />
                    <lightning-formatted-rich-text style="display: inline-flex;" value={acc.answerText}>
                    </lightning-formatted-rich-text>
                  </div>
                </template>
              </fieldset>
            </template>
          </p>
        </div>
      </div>
    </div>
    
    
  </template>
</div>
<div class="slds-modal__footer model_footer">
  <div class="left_section-btn">
  &nbsp;
  </div>
  <div class="right_section-btn">
    <lightning-button label="Cancel" variant="neutral" onclick={closeModal} class="slds-m-right_large">
    </lightning-button>
  </div>
</div>


    <!-- <div style="overflow-y: scroll; max-height:400px">
      <template for:each={allQuizResponses} for:item="currentResponse" for:index="i">
        <lightning-card key={currentResponse.questionId}>
          <h3 slot="title" style="white-space: pre-wrap;">
            <lightning-icon icon-name="action:clone" size="small"></lightning-icon>
            Question {currentResponse.sequenceNumber}
            <br />
            <lightning-formatted-rich-text value={currentResponse.questionText}>
            </lightning-formatted-rich-text>
          </h3>
          <p class="slds-var-p-horizontal_small">
            <template if:true={currentResponse.isSingleChoice}>
              <fieldset>
                <template for:each={currentResponse.listOfResponses} for:item="acc">
                  <div key={acc.answerId} class={acc.className}><input type="radio" disabled value={acc.answerId}
                      checked={acc.isSelected} />
                    <lightning-formatted-rich-text style="display: inline-flex;" value={acc.answerText}>
                    </lightning-formatted-rich-text>
                  </div>
                </template>
              </fieldset>
            </template>
            <template if:false={currentResponse.isSingleChoice}>
              <fieldset>
                <template for:each={currentResponse.listOfResponses} for:item="acc">
                  <div key={acc.answerId} class={acc.className}><input type="checkbox" value={acc.answerId} disabled
                      checked={acc.isSelected} />
                    <lightning-formatted-rich-text style="display: inline-flex;" value={acc.answerText}>
                    </lightning-formatted-rich-text>
                  </div>
                </template>
              </fieldset>
            </template>
          </p>
        </lightning-card>
      </template>
    </div> -->
  </template>

</template>