:host{
width:100%;
}
.correct{
background-color : lightgreen;
}
.wrong{
        background-color : red;
        color:#fff;
}


.model_btn_sq {
        margin: 0 2rem;
}
.question_label{
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #9b9b9b;
        padding-bottom: 1rem;
}

.question_number{
        font-weight: bold;
        color: #376dc8;
}

.question_total{
        font-weight: bold;
}

.model_card{
        padding: 0 2rem;
}

.model_question{
        padding: .5rem 0 2rem;
}
.model_question p {
        font-size: 1rem;
        margin-left: -.5rem;
        margin-top: 1rem;
    }

    .model_footer{
        display: flex;
        justify-content: space-between;
        margin: 0 -2.2rem -1rem;
    }

    .slds-var-p-horizontal_small fieldset input{
        margin-right: .5rem;
    }

    .model_question lightning-formatted-rich-text span {
        font-size: 1.2rem !important;
    }
    .model_answer lightning-formatted-rich-text span {
        font-size: 1rem !important;
    }
    .modal_scroll{
        overflow-y: scroll;
    }