<!--
  @description       : 
  @author            : Manish Sogani
  @group             : 
  @last modified on  : 01-05-2021
  @last modified by  : Manish Sogani
  Modifications Log 
  Ver   Date         Author          Modification
  1.0   01-04-2021   Manish Sogani   Initial Version
-->
<template>
  <template if:true={showSpinner}>
    <lightning-spinner alternative-text="Loading"></lightning-spinner>
  </template>

  <div if:true={componentLoaded}>
    <div class="component_block">
      <div class="form_group inline_form">
        <div class="form_ele">
          <label><sup>*</sup>Course Name</label>
          <div class="form_control">
            <lightning-input
              class="form_input"
              type="text"
              name="Name"
              value={dataObj.Name}
              onchange={handleInputs}
              variant="label-hidden"
              required
            ></lightning-input>
          </div>
        </div>
        <div class="form_ele"></div>
      </div>
      <div class="form_group">
        <div class="form_ele">
          <div class="slds-form-element">
            <div class="slds-form-element__label">
              <label><sup>*</sup>Roles</label>&nbsp;
              <lightning-helptext content="Select Roles"></lightning-helptext>
            </div>
            <div class="slds-form-element__control">
              <lightning-dual-listbox
                name="roles"
                source-label="Available"
                selected-label="Selected"
                options={options}
                value={roles}
                onchange={handleRoleChange}
              >
              </lightning-dual-listbox>
            </div>
          </div>
        </div>
      </div>
      <div class="form_group">
        <div class="form_ele">
          <label><sup>*</sup>Course Overview</label>
          <div class="form_control">
            <lightning-input-rich-text
              type="text"
              class="form_textarea"
              name="Description__c"
              onblur={handleInputs}
              value={dataObj.Description__c}
              variant="label-hidden"
              required
            ></lightning-input-rich-text>
          </div>
        </div>
      </div>
      <div class="form_group">
        <div class="form_ele">
          <label><sup>*</sup>Course Objective</label>
          <div class="form_control">
            <lightning-input-rich-text
              type="text"
              class="form_input"
              value={dataObj.Objective__c}
              onchange={handleInputs}
              name="Objective__c"
              variant="label-hidden"
              required
            ></lightning-input-rich-text>
          </div>
        </div>
      </div>
      <div class="form_group mb_m">
        <div class="form_ele">
          <div class="checkbox">
            <lightning-input
              type="checkbox"
              label="Reoccurring"
              onchange={handleInputs}
              name="Recurring__c"
              checked={dataObj.Recurring__c}
            ></lightning-input>
          </div>
        </div>
      </div>
      <div class="form_group mb_m">
        <div class="form_ele">
          <div class="checkbox">
            <lightning-input
              type="checkbox"
              label="On Job Training"
              onchange={handleInputs}
              name="On_Job_Training__c"
              checked={dataObj.On_Job_Training__c}
            ></lightning-input>
          </div>
        </div>
      </div>
      <template if:true={isRecurringChecked}>
        <div class="slds-grid slds-gutters">
          <div class="slds-col">
            <div class="form_group mb_m">
              <div class="form_ele">
                <div class="form_control cust-dropdown">
                  <lightning-combobox
                    name="Reoccurence__c"
                    label="Recurring Date"
                    value={dataObj.Reoccurence__c}
                    placeholder="Recurring Date"
                    options={recurringDateOptions}
                    onchange={handleInputs}
                  >
                  </lightning-combobox>
                </div>
              </div>
            </div>
          </div>
          <div class="slds-col">
            <div class="form_group mb_m">
              <div class="form_ele">
                <div class="form_control cust-dropdown">
                  <lightning-combobox
                    name="Recurring_Month__c"
                    label="Recurring Month"
                    value={dataObj.Recurring_Month__c}
                    placeholder="Recurring Month"
                    options={recurringMonthOptions}
                    onchange={handleInputs}
                  >
                  </lightning-combobox>
                </div>
              </div>
            </div>
          </div>
          <div class="slds-col">
            <div class="form_group mb_m">
              <div class="form_ele">
                <div class="form_control cust-dropdown">
                  <lightning-combobox
                    name="Recurring_Year__c"
                    label="Recurring Year"
                    value={dataObj.Recurring_Year__c}
                    placeholder="Recurring Year"
                    options={recurringYearOptions}
                    onchange={handleInputs}
                  >
                  </lightning-combobox>
                </div>
              </div>
            </div>
          </div>
          <div class="slds-col">
            <div class="form_group mb_m">
              <div class="form_ele">
                <div class="form_control">
                  <lightning-input
                    type="text"
                    label="Meeting Occurence"
                    onchange={handleInputs}
                    name="Recurring_Duration_In_Days__c"
                    value={dataObj.Recurring_Duration_In_Days__c}
                  ></lightning-input>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template if:true={isOJTChecked}>
        <div class="form_group">
          <div class="form_ele">
            <div class="slds-form-element">
              <div class="slds-form-element__label">
                <label><sup>*</sup>Competency</label>&nbsp;
                <lightning-helptext content="Select Competency"></lightning-helptext>
              </div>
              <div class="slds-form-element__control">
                <lightning-dual-listbox
                  name="roles"
                  source-label="Available"
                  selected-label="Selected"
                  options={competencyOptions}
                  value={competency}
                  onchange={handleCompetencyChange}
                >
                </lightning-dual-listbox>
              </div>
            </div>
          </div>
        </div>

      </template>

      <div class="form_group">
        <div class="form_ele">
          <div class="checkbox">
            <lightning-input
              type="checkbox"
              label="Require Supervisor Approval for enrollment"
              onchange={handleInputs}
              name="Require_Supervisor_Approval__c"
              checked={dataObj.Require_Supervisor_Approval__c}
            ></lightning-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>