@charset "UTF-8";
.btn {
  background: #cccccc;
  padding: 6px 15px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
  transition: all 0.3s;
  border-radius: 3px;
}
.btn:focus {
  outline: none;
}
.btn.btn_primary {
  background: #0176b4;
  color: #ffffff;
}
.btn.btn_secondary {
  background: #ffffff;
  border: 2px solid #0261ad;
  color: #0261ad;
}
.btn.btn_transparent {
  background: transparent;
  padding: 10px 0;
  color: #0261ad;
}
.btn.btn_icon {
  border-radius: 30px;
}
.btn.btn_icon:hover {
  background: #cccccc;
}

input.form_input,
textarea.form_textarea {
  height: 48px;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #cccccc;
  background: #ffffff;
  transition: all 0.3s;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  font-family: "Mulish", sans-serif;
}
input.form_input:focus,
textarea.form_textarea:focus {
  outline: none;
}
input.form_input::placeholder,
textarea.form_textarea::placeholder {
  font-weight: 300;
}

textarea.form_textarea {
  height: 150px;
}

.form_group {
  display: flex;
  margin-bottom: 15px;
}
.form_group .form_ele {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form_group .form_ele label {
  margin-bottom: 10px;
  color: #555555;
  font-weight: 300;
  font-size: 16px;
}
.form_group .form_ele label sup {
  color: red;
  margin-right: 5px;
}
.form_group.inline_form {
  justify-content: space-between;
}
.form_group.inline_form .form_ele {
  width: 45%;
}

.form_upload {
  border: 1px dotted #a8c2e5;
  height: 90px;
  padding: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_upload label {
  margin: 0 !important;
}
.form_upload .btn {
  font-size: 13px;
}
.form_upload input {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  top: 0;
  left: 0;
}

.checkbox input,
.radio input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.checkbox label,
.radio label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px !important;
  margin-bottom: 0 !important;
}
.checkbox label:before,
.radio label:before {
  content: "";
  -webkit-appearance: none;
  background: transparent;
  border: 2px solid #d3d8e2;
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 15px;
  border-radius: 5px;
}

.radio input:checked + label:before,
.checkbox input:checked + label:before {
  border-color: #0079bf;
  background: #0079bf;
}

.radio input:checked + label:after,
.checkbox input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 6px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  flex: 1;
  padding: 0 10px;
  color: #333333 !important;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

/* Custom Select */
.select {
  position: relative;
  display: flex;
  height: 48px;
  width: 100%;
  border: 1px solid #cccccc;
}

/* Arrow */
.select::after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 48px;
  width: 48px;
  font-size: 26px;
  color: #333333;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  pointer-events: none;
}

.mt_l {
  margin-top: 30px;
}

.mt_m {
  margin-top: 20px;
}

.mt_s {
  margin-top: 10px;
}

.mb_l {
  margin-bottom: 30px;
}

.mb_m {
  margin-bottom: 20px;
}

.mb_s {
  margin-bottom: 10px;
}

.mt_0 {
  margin-top: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Mulish", sans-serif;
  background: #ececec;
}

.main_header {
  background: #0176b4;
  height: 90px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_header .brand_logo a {
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main_header .brand_logo a img {
  height: 70px;
  width: 70px;
  margin-right: 10px;
}
.main_header .user_info a {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.main_header .user_info a img {
  width: 36px;
  height: 36px;
  margin-left: 10px;
}

.breadcrumbs {
  background: white;
  height: 110px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.19);
  position: relative;
  z-index: 1;
}
.breadcrumbs ul {
  list-style: none;
}
.breadcrumbs ul li {
  display: inline-block;
  color: #4f4f4f;
  font-size: 15px;
  margin-right: 15px;
  font-weight: 600;
}
.breadcrumbs ul li.current {
  font-weight: normal;
}

.main_content {
  display: flex;
  height: calc(100vh - 200px);
}
.main_content .left_nav {
  width: 300px;
  padding: 30px;
  background: #ffffff;
  height: 100%;
  overflow: auto;
}
.main_content .main_content {
  width: calc(100% - 300px);
  height: 100%;
  padding: 40px 25px 0 40px;
  overflow: hidden;
  background: #eeeeee;
}

.nav_list {
  list-style: none;
  padding: 10px 0;
}
.nav_list li {
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.nav_list li label {
  cursor: pointer;
}
.nav_list li img {
  margin-right: 10px;
}
.nav_list li img.default {
  display: block;
}
.nav_list li img.active {
  display: none;
}
.nav_list li.logout_li {
  margin-top: 50px;
}
.nav_list li:hover, .nav_list li.active {
  color: #0176b4;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.nav_list li:hover img.default, .nav_list li.active img.default {
  display: none;
}
.nav_list li:hover img.active, .nav_list li.active img.active {
  display: block;
}

.component_block {
  width: 100%;
  overflow-y: auto;
}
.component_block .cm_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.component_block .cm_header h1 {
  font-size: 26px;
  font-weight: normal;
  color: #333333;
}
.component_block .content_block {
  margin-top: 30px;
  padding: 25px 0 0;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #c3d6f0;
  overflow: hidden;
}
.component_block .content_block .content_header {
  padding: 0 30px;
  position: relative;
}
.component_block .content_block .content_header:after {
  content: "";
  border-bottom: 2px dotted #eeeeee;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 0;
  bottom: 10px;
}
.component_block .content_block .content_header h1 {
  color: #333333;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.component_block .content_block .content_header label {
  color: #256acb;
  font-size: 16px;
  line-height: 26px;
  position: relative;
  z-index: 1;
  background: white;
  padding: 0 10px;
  left: -10px;
  font-weight: 300;
}
.component_block .content_block .content_header .btn {
  position: absolute;
  padding: 0 10px;
  z-index: 1;
  bottom: 2px;
  background: white;
  color: #666666;
  right: 30px;
}
.component_block .content_block .content_body {
  padding: 30px;
}
.component_block .content_block .content_footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 30px 20px;
  border-top: 1px solid #c3d6f0;
}
.component_block .content_block .content_footer .btn {
  margin: 0 10px;
  height: 40px;
}
.component_block .content_block .content_footer .btn {
  min-width: 110px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dddddd;
}
table thead th {
  text-transform: uppercase;
  font-size: 14px;
  color: #908888;
  padding: 10px;
  background: #f9f9f9;
  text-align: left;
  border-bottom: 1px solid #dddddd;
  font-weight: normal;
}
table tbody tr td {
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #dddddd;
}
table tbody tr td a {
  color: #0176b4;
}

.rating {
  font-size: 14px;
  unicode-bidi: bidi-override;
  color: #efd358;
}
.rating span {
  display: inline-block;
  position: relative;
  width: 1em;
}

.rating > span.active:before {
  content: "★";
  position: absolute;
}

.go_back {
  margin-bottom: 20px;
}

.stepper {
  margin: 15px 0px;
}
.stepper ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stepper ul li {
  width: 25%;
  position: relative;
}
.stepper ul li span {
  color: #cccccc;
  background: transparent;
  transition: all 0.3s;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 2px solid #cccccc;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.stepper ul li:after {
  content: "";
  position: absolute;
  height: 4px;
  width: calc(100% - 30px);
  background: #cccccc;
  left: 56.5%;
  top: 14px;
}
.stepper ul li:last-child:after {
  content: none;
}
.stepper ul li:hover span, .stepper ul li.active span {
  color: #0176b4;
  border-color: #0176b4;
}
.stepper ul li.completed span {
  color: #ffffff;
  background: #0176b4;
  border-color: #0176b4;
}
.stepper ul li.completed:after {
  background: #0176b4;
}

.multi_sel_sec {
  display: flex;
  align-items: center;
}
.multi_sel_sec .multi_sel {
  border: 1px solid #cccccc;
  padding: 10px 0;
  width: 45%;
}
.multi_sel_sec .multi_sel ul {
  list-style: none;
}
.multi_sel_sec .multi_sel ul li {
  color: #333333;
  font-size: 14px;
  padding: 6px 14px;
  cursor: pointer;
  background: #ffffff;
  transition: all 0.3s;
}
.multi_sel_sec .multi_sel ul li:hover, .multi_sel_sec .multi_sel ul li.selected {
  background: rgba(37, 106, 203, 0.09);
}
.multi_sel_sec .multi_actions {
  width: 10%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.multi_sel_sec .multi_actions .btn {
  margin: 5px 0;
}