<template>
    <div class="slds-var-p-around_medium">
        <div class="slds-clearfix">
            
              <div class="slds-float_right">
              <lightning-button
              variant="brand"
              label="Add Facility"
              title="Add Facility"
              onclick={openAddCourseModal}
              class="slds-m-left_x-small"
            ></lightning-button>
            </div>
        </div>
        
    <table>
        <thead>
          <tr>
            <th>
              <div class="slds-align_absolute-center action__width">Action</div>
            </th>
            <th>Facilty Name</th>
            <th>Course</th>
            <th>Added By</th>
          </tr>
        </thead>
        <tbody>
          <template if:true={isNoCFRecords}>
            <tr>
              <td colspan="4">No Records Found</td>
            </tr>
          </template>
          <template if:false={isNoCFRecords}>
            <template for:each={courses} for:item="wr" >
              <tr key={wr.Id}>
                <td class="action__width">
                  <div class="slds-align_absolute-center">
                   
                    <lightning-icon
                      icon-name="utility:delete"
                      alternative-text="Delete"
                      size="x-small"
                      title="Delete"
                      class="cursor_pointer"
                      data-rid={wr.Id}
                      data-rmodulename={wr.Facility__r.Name} 
                      onclick={deleteModule}
                    ></lightning-icon>
                  </div>
                </td>
                
                <td>
                    <div if:true={wr.Facility__r.Name}>
                        {wr.Facility__r.Name}
                    </div>
                </td>
                <td>
                    <div if:true={wr.Course_Catalogue__c}>
                        {wr.Course_Catalogue__r.Name}
                    </div>
                </td>
                
                <td>{wr.CreatedBy.Name}</td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>
      <template if:true={isShowDeleteModal}>
        <div class="slds-modal slds-fade-in-open" role=dialog>
            <div class="slds-modal__container">
                <div class=slds-modal__header >
                    <h2 class=slds-text-heading--medium>Delete {deleteHeaderItemName}</h2>
                    <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                        <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
                        alternative-text=Close title=Close onclick={handleCancelDeleteRecord}></lightning-icon>
                    </span>
                </div>
                <div class="slds-modal__content slds-p-around_medium">
                    <lightning-formatted-rich-text value={deleteItemMessage}></lightning-formatted-rich-text>
                </div>
                <div class=slds-modal__footer>
                    <button type="button" class="btn btn_neutral" onclick={handleCancelDeleteRecord}>Cancel</button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn_primary" onclick={handleDeleteRecord}>Delete</button>
                </div>
            </div>
        </div>
        <div class="slds-backdrop slds-backdrop--open"></div>
      </template>



      <template if:true={isModalOpen}>
        <section
          role="dialog"
          tabindex="-1"
          aria-labelledby="modal-heading-01"
          aria-modal="true"
          aria-describedby="modal-content-id-1"
          class="slds-modal slds-fade-in-open"
        >
          <div class="slds-modal__container">
            <header class="slds-modal__header">
              <button
                class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                title="Close"
                onclick={closeAddCourseModal}
              >
                <lightning-icon
                  icon-name="utility:close"
                  alternative-text="close"
                  variant="inverse"
                  size="small"
                ></lightning-icon>
                <span class="slds-assistive-text">Close</span>
              </button>
              <h2
                id="modal-heading-01"
                class="slds-text-heading_medium slds-hyphenate"
              >
                Add Facility to Course
              </h2>
            </header>
            <div
              class="slds-modal__content slds-p-around_medium"
              id="modal-content-id-1"
            >
              <div class="slds-p-top_large">
                <table
                  class="slds-table slds-table_cell-buffer slds-table_bordered"
                >
                  <thead>
                    <tr class="slds-line-height_reset">
                      <th class="" scope="col">
                        <div class="slds-truncate" title="Name">Name</div>
                      </th>
                      
                      <th class="" scope="col" >
                        <div class="slds-truncate" title="Vendor">Add</div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <template
                      for:each={remainingFacility}
                      for:item="Facility"
                    >
                      <tr class="slds-hint-parent" key={Facility.Id}>
                        <th data-label="Facility Name" scope="row">
                          <div class="slds-truncate" title={Facility.Name}>
                            {Facility.Name}
                          </div>
                        </th>
                        
                        <td data-label="Add">
                          <lightning-input
                          
                            class="slds-p-left_xx-large "
                            type="checkbox"
                            data-id={Facility.Id}
                            label=""
                            onchange={handleCourseSelect}
                          ></lightning-input>
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
            </div>
            <footer class="slds-modal__footer">
              <button
                class="slds-button slds-button_neutral"
                onclick={closeAddCourseModal}
                title="Cancel"
              >
                Cancel
              </button>
              <button
                class="slds-button slds-button_brand"
                onclick={handleAddCourses}
                title="OK"
              >
                Add Facility
              </button>
            </footer>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </template>
    </div>
</template>