<template>
    <div class="component_block">
        
        <div class="component_block">
            
            <div class="content_block">
              <div class="content_header">
                <h1>Course Catalogue</h1>
                <label>sheets containing Lorem</label>
              </div>
              <div class="table_data">
					<table>
					<thead>
						<th>Course Title</th>
						
                        <th>Status</th>
                        <th>Enrolled</th>
						<th>Created By</th>
						
					</thead>  
					<tbody>

                            <template for:each={courses} for:item="con">
                                <tr key={con.Id}>
                                    
                                        <td >{con.Name}</td>
                                        
                                        <td>{con.Status__c}</td>
                                        <td >{con.Total_Enrollment__c}</td>
                                        <td>{con.CreatedBy.Name}</td>
                                        
                                    
                                    </tr>
                                </template> 
        
					</tbody>
					</table>
              </div>
            </div>
        </div></div>
</template>