<!--
  @description       : 
  @author            : Manish Sogani
  @group             : 
  @last modified on  : 12-31-2020
  @last modified by  : Manish Sogani
  Modifications Log 
  Ver   Date         Author          Modification
  1.0   12-31-2020   Manish Sogani   Initial Version
-->
<template>
    <div class="slds-grid">
        <div class="slds-size_1-of-1 slds-medium-size_8-of-12 slds-p-right_small">
            <c-lms-my-dashboard-courses ></c-lms-my-dashboard-courses>
        </div>
        <div class="slds-size_1-of-1 slds-medium-size_4-of-12 slds-p-left_small">
            <c-lms-my-dashboard-events ></c-lms-my-dashboard-events>
        </div>
    </div>
    <div class="slds-grid slds-m-top_large">
        <div class="slds-size_1-of-1 slds-medium-size_1-of-2 slds-p-right_small">
            <c-lms-announcements ></c-lms-announcements>
        </div>
        <div class="slds-size_1-of-1 slds-medium-size_1-of-2 slds-p-right_small">
            <c-lms_module_tracking ></c-lms_module_tracking>
        </div>
        
    </div>

</template>