<template>
    <div key={wr} class="tile tile-lg">
        <div class="tile-content">
            <lightning-layout>
                <lightning-layout-item size="4">
                    <div class="slds-var-p-right_small">
                        <div class="slds-form-element slds-form-element_readonly">
                            <span class="slds-form-element__label">Status</span>
                            <div class="slds-form-element__control">
                                <div class="slds-form-element__static">{course.courseStatus}</div>
                            </div>
                        </div>
                        <div class="slds-form-element slds-form-element_readonly slds-var-m-top_medium">
                            <span class="slds-form-element__label">{course.completedModules} of {course.totalModules}</span>
                            <div class="slds-form-element__control">
                                <div class="slds-form-element__static slds-text-title_caps">Completed</div>
                            </div>
                        </div>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="8">
                    <div>
                        <a href={course.courseCatalogUrl} style="text-decoration: none;">
                            <h1 class="course-title">{course.courseTitle}</h1>
                            <lightning-formatted-rich-text value={course.courseDescription}>
                            </lightning-formatted-rich-text>
                        </a>
                    </div>

                    <div class="slds-var-m-top_small">
                        <span class="slds-pill slds-pill_link">
                            <a href="javascript:void(0);" class="slds-pill__action"
                                title="Full pill label verbiage mirrored here">
                                <span class="slds-pill__label">{course.roles}</span>
                            </a>
                        </span>
                    </div>

                    <div class="slds-var-m-top_large">
                        <div class="controls">
                            <a href={course.courseCatalogUrl} class="view-course">
                                View Course <lightning-icon icon-name="utility:forward" alternative-text="View Course"
                                    size="x-small"></lightning-icon>
                            </a>
                        </div>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
        </div>
    </div>
</template>