<template>
    <template if:true={course.courseIsCompleted}>
        <lightning-button class="down-button" variant="Brand" icon-name="utility:download" label="Download" onclick={download}></lightning-button>
        <div class="certificate-content capture">
            <img src={onlineinc} class="img-size" />
            <div class="info">
                Certifies that
            </div>
            <div class="user-name">
                {course.contactName}
                <center>
                    <hr class="name-line">
                </center>
            </div>
            <div class="has-successfully-completed">
                <p>has successfully completed</p>
            </div>
            <div class="course-name">
                <p>{course.courseTitle}</p>
            </div>
            <div class="date">
                {course.completedDate}
            </div>
            <div class="sign">
                Signature
            </div>
        </div>
    </template>
    <template if:false={course.courseIsCompleted}>
        <center>
            <p>Certificate will be generated, once all the modules for this course are completed.</p>
        </center>
    </template>
</template>