<template>
    <div class="slds-text-heading_large">Manage Attendance</div>
    <lightning-layout multiple-rows>
        <lightning-layout-item size="12" small-device-size="12" medium-device-size="6" large-device-size="6" padding="around-small">
            <lightning-combobox
                name="courseCatalogueOption"
                label="Select Course Catalogue"
                value={courseCatalogueOption}
                placeholder="Select Course Catalogue"
                options={courseCatalogueOptions}
                onchange={handleChange}
                required
            ></lightning-combobox>
        </lightning-layout-item>
        <lightning-layout-item size="12" small-device-size="12" medium-device-size="6" large-device-size="6" padding="around-small">
            <lightning-combobox
                name="courseScheduleOption"
                label="Select Course Schedule"
                value={courseScheduleOption}
                placeholder="Select Course Schedule"
                options={courseScheduleOptions}
                onchange={handleChange}
                required
                if:true={showScheduleOptions}
            ></lightning-combobox>
        </lightning-layout-item>

        <lightning-layout-item size="12" padding="around-small" if:true={showEnrollments}>

            <lightning-card  title="Attendees">
                <div class="table_data">
                    <table class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table_bordered">
                        <thead>
                            <th>Contact</th>
                            <th>Status</th>
                            <th>Attendance</th>
                        </thead>
                        <tbody>
                            <template for:each={courseEnrollments} for:item="wrapper" for:index="index">
                                <tr key={wrapper.enrollmentId}>
                                    <td>{wrapper.contactName}</td>
                                    <td>{wrapper.enrollmentStatus}</td>
                                    <td>
                                        <lightning-radio-group name={wrapper.enrollmentId}
                                            label="Attendance"
                                            options={attendanceOptions}
                                            value={wrapper.userAttendance.Attendance__c}
                                            required
                                            type="radio"
                                            onchange={handleChange}
                                            class="horizontal-radio"
                                            variant ="label-hidden"
                                            data-index={index}
                                            data-type="attendance-radio-group">
                                        </lightning-radio-group>
                                    </td>
                                </tr>
                            </template>
                            <tr if:true={noCourseEnrollments}>
                                <td colspan="3" class="slds-text-align_center">No record found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p slot="footer">
                    <lightning-button variant="brand" label="Save Attendance" title="Save Attendace" onclick={handleSaveAttendanceClick} disabled={noCourseEnrollments} class="slds-m-left_x-small"></lightning-button>
                </p>
            </lightning-card>
        </lightning-layout-item>
    </lightning-layout>

    <template if:true={showSpinner}>
        <div class="slds-spinner_container slds-is-fixed">
            <div role="status" class="slds-spinner slds-spinner_medium">
                <span class="slds-assistive-text">Loading</span>
                <div class="slds-spinner__dot-a"></div>
                <div class="slds-spinner__dot-b"></div>
            </div>
        </div>
    </template>
</template>