<template>
    <div class="slds-var-p-around_medium">
    <div class="slds-text-heading_medium slds-var-m-bottom_small">
         Facilities 
      </div>
             
      <table
      class="slds-table slds-table_cell-buffer slds-table_bordered"
    >
      <thead>
        <tr class="slds-line-height_reset">
          <th class="" scope="col">
            <div class="slds-truncate" title="Facility Name">
              Facility Name
            </div>
          </th>
          <th class="" scope="col">
            <div class="slds-truncate" title="Created By">
                Created By
            </div>
          </th>
          
        </tr>
      </thead>

      <tbody>
        
        <template for:each={courses} for:item="con">
            <tr key={con.Id}>
                
                    <td >{con.Name}</td>
                    
                    <td>{con.CreatedBy.Name}</td>
                    
                    
                
                </tr>
            </template> 
       
      </tbody>
    </table>
       </div>         
              
              
            
</template>