<template>
    <div class="row form-section">
        <div class="page-header">
            <div class="page-header__title">Training &amp; Development Plans</div>
            <div class="page-header__subtitle">
             Training &amp; Development plans based on your Roles assigned by your supervisor.
            </div>
          </div>
    </div>

        <div class="slds-p-top_large">
          <lightning-layout multiple-rows="true">
            <template for:each={trainingRequests} for:item="trainingPlan">
                <lightning-layout-item size="6" key={trainingPlan.recId}>
                    <div class="slds-var-p-around_small">
                          <c-lms-training-plan-card  training-plan={trainingPlan}></c-lms-training-plan-card>
                    </div>
                </lightning-layout-item>
            </template>
        </lightning-layout>
          <!-- <table class="slds-table slds-table_cell-buffer slds-table_bordered">
            <thead>
              <tr class="slds-line-height_reset">
                <th class="" scope="col">
                  <div class="slds-truncate" title="Name">Training Plan Name</div>
                </th>
                <th class="" scope="col">
                  <div class="slds-truncate" title="Enrolment Status">
                    Enrolment Status
                  </div>
                </th>
                <th class="" scope="col">
                  <div
                    class="slds-truncate slds-align_absolute-center"
                    title="Enrolment Date"
                  >
                    Enrolment Date
                  </div>
                </th>
                <th class="" scope="col">
                  <div
                    class="slds-truncate slds-align_absolute-center"
                    title="Due Date"
                  >
                    Due Date
                  </div>
                </th>
                <th class="" scope="col">
                  <div
                    class="slds-truncate slds-align_absolute-center"
                    title="Completed Date"
                  >
                    Completed Date
                  </div>
                </th>
                <th class="" scope="col">
                    <div
                      class="slds-truncate slds-align_absolute-center"
                      title="Modules"
                    >
                      Total Courses
                    </div>
                  </th>
                  <th class="" scope="col">
                    <div
                      class="slds-truncate slds-align_absolute-center"
                      title="Enrol"
                    >
                      Enrol
                    </div>
                  </th>
              </tr>
            </thead>
            <tbody>
              <template for:each={trainingRequests} for:item="trainingPlan">
                <tr class="slds-hint-parent" key={trainingPlan.recId}>
                  <th data-label="Training Name" scope="row">
                    <div
                      class="slds-truncate"
                      title={trainingPlan.planName}
                      data-id={trainingPlan.recId}
                      onclick={navigateToTrainingRequestPage}
                    >
                      <a tabindex="-1">{trainingPlan.planName}</a>
                    </div>
                  </th>
                  <td data-label="Status">
                    <div
                      class="slds-truncate"
                      title={trainingPlan.enrolmentStatus}
                    >
                      {trainingPlan.enrolmentStatus}
                    </div>
                  </td>
                  <td data-label="Status">
                    <div
                      class="slds-truncate slds-align_absolute-center"
                      title={trainingPlan.enrolmentDate}
                    >
                      {trainingPlan.enrolmentDate}
                    </div>
                  </td>
                  <td data-label="Status">
                    <div
                      class="slds-truncate slds-align_absolute-center"
                      title={trainingPlan.dueDate}
                    >
                      {trainingPlan.dueDate}
                    </div>
                  </td>
                  <td data-label="Status">
                    <div
                      class="slds-truncate slds-align_absolute-center"
                      title={trainingPlan.completedDate}
                    >
                      {trainingPlan.completedDate}
                    </div>
                  </td>
                  <td data-label="Status">
                    <div
                      class="slds-truncate slds-align_absolute-center"
                      title={trainingPlan.totalCourses}
                    >
                    <a href="#" onclick={showCourses}>{trainingPlan.totalCourses}</a>
                    </div>
                  </td>
                  <td data-label="Status">
                    <div
                      class="slds-truncate slds-align_absolute-center"
                      title={trainingPlan.totalCourses}
                    >
                      <template if:true={trainingPlan.showEnrollButton}>
                        <lightning-button
                        variant="brand"
                        label="Enrol"
                        onclick={test}
                        class="slds-m-left_x-small">
                      </lightning-button>
                      </template>
                    </div>
                  </td>
                </tr>
              </template>
            </tbody>
          </table> -->
        </div>
</template>