<template>

  <lightning-card title="">
    <div class="">

      <div class="slds-grid slds-wrap slds-p-left_medium ">
        <div class="slds-col slds-size_2-of-12">
          <span>
            <div class="slds-box slds-box_x-small slds-float_left color-upcoming slds-p-right_medium ">
            </div>
            <p class="slds-p-left_medium ">Upcoming</p>
          </span>
        </div>
        <div class="slds-col slds-size_2-of-12">
          <span>
            <div class="slds-box slds-box_x-small slds-float_left color-past-not-started slds-p-right_medium ">
            </div>
            <p class="slds-p-left_medium ">Past(Not Started)</p>
          </span>
        </div>
        <div class="slds-col slds-size_2-of-12">
          <span>
            <div class="slds-box slds-box_x-small slds-float_left color-past-in-progress slds-p-right_medium ">
            </div>
            <p class="slds-p-left_medium ">Past(In Progress)</p>
          </span>
        </div>
        <div class="slds-col slds-size_2-of-12">
          <span>
            <div class="slds-box slds-box_x-small slds-float_left color-past-completed slds-p-right_medium ">
            </div>
            <p class="slds-p-left_medium ">Past(Completed)</p>
          </span>
        </div>
      </div>
    </div>

    <div style="background:#ffffff;padding:1%" class="slds-grid">
      <!-- This is where the calendar gets loaded. -->
      <!-- We'll use the class name "fullcalendarjs" as our dom target instead of the ID -->
      <!-- In LWC, the id can changed dynamically -->
      <div id="calendar" class="fullcalendarjs"></div>
    </div>
  </lightning-card>

</template>