.color-upcoming{
  background-color: #FFA500;
}
.color-past-not-started{
  background-color: #FF0000;

}
.color-past-in-progress{
  background-color:#008000
}
.color-past-completed{
  background-color:#696969
}