<template>
  <div if:false={showTrainingRequestForm}>
    <div class="slds-p-top_large">
      <lightning-button variant="brand" label="Submit External Training Request" onclick={openTrainingRequestForm}
        class="slds-m-left_x-small">
      </lightning-button>
    </div>

    <div class="slds-p-top_large">
      <table class="slds-table slds-table_cell-buffer slds-table_bordered">
        <thead>
          <tr class="slds-line-height_reset">
            <th class="" scope="col">
              <div class="slds-truncate" title="Name">Training Name</div>
            </th>
            <th class="" scope="col">
              <div class="slds-truncate" title="Business Justification">
                Business Justification
              </div>
            </th>
            <th class="" scope="col">
              <div class="slds-truncate slds-align_absolute-center" title="Date">
                Date
              </div>
            </th>
            <th class="" scope="col">
              <div class="slds-truncate slds-align_absolute-center" title="Vendor">
                Vendor
              </div>
            </th>
            <th class="" scope="col">
              <div class="slds-truncate slds-align_absolute-center" title="Amount">
                Cost
              </div>
            </th>
            <th class="" scope="col">
              <div class="slds-truncate slds-align_absolute-center" title="Amount">
                Status
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <template for:each={trainingRequests} for:item="trainingRequest">
            <tr class="slds-hint-parent" key={trainingRequest.Id}>
              <th data-label="Training Name" scope="row">
                <div class="slds-truncate" title={trainingRequest.Name} data-id={trainingRequest.Id}
                  onclick={navigateToTrainingRequestPage}>
                  <a tabindex="-1">{trainingRequest.Name}</a>
                </div>
              </th>
              <td data-label="Status">
                <div class="slds-truncate" title={trainingRequest.Business_Justification__c}>
                  {trainingRequest.Business_Justification__c}
                </div>
              </td>
              <td data-label="Status">
                <div class="slds-truncate slds-align_absolute-center" title={trainingRequest.Date__c}>
                  {trainingRequest.Date__c}
                </div>
              </td>
              <td data-label="Status">
                <div class="slds-truncate slds-align_absolute-center" title={trainingRequest.Vendor__c}>
                  {trainingRequest.Vendor__c}
                </div>
              </td>
              <td data-label="Status">
                <div class="slds-truncate slds-align_absolute-center" title={trainingRequest.Cost__c}>
                  {trainingRequest.Cost__c}
                </div>
              </td>
              <td data-label="Status">
                <div class="slds-truncate slds-align_absolute-center" title={trainingRequest.Status__c}>
                  {trainingRequest.Status__c}
                </div>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row form-section" if:true={showTrainingRequestForm}>
    <div class="page-header">
      <div class="page-header__title">External Training Request</div>

      <div class="page-header__subtitle">
        To request an external training, download SF 182 form, fill it and
        upload it.
      </div>
      <div class="download-button">
        <lightning-button variant="brand" label="Download Form 182" title="Download Form 182" onclick={downloadForm}
          class="slds-m-left_x-small"></lightning-button>
      </div>
    </div>
    <div style="clear: both">
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_6-of-12">
          <lightning-input type="text" label="Training Name" name="trainingName" onchange={handleInputChange}
            value={trainingRequestObj.trainingName} required></lightning-input>
        </div>
        <div class="slds-col slds-size_6-of-12">
          <div class="col-sm-4">
            <lightning-input type="text" label="Business Justification" name="businessJustification"
              onchange={handleInputChange} value={trainingRequestObj.businessJustification} required></lightning-input>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-grid slds-gutters">
      <div class="slds-col slds-size_6-of-12">
        <div class="col-sm-4">
          <lightning-input type="date" name="requestDate" style="min-width: 230px" label="Date"
            onchange={handleInputChange} value={trainingRequestObj.requestDate} required>
          </lightning-input>
        </div>
      </div>
      <div class="slds-col slds-size_6-of-12">
        <div class="col-sm-4">
          <lightning-input type="text" label="Vendor" name="vendor" onchange={handleInputChange}
            value={trainingRequestObj.vendor} required></lightning-input>
        </div>
      </div>
    </div>
    <div class="slds-grid slds-gutters">
      <div class="slds-col slds-size_6-of-12">
        <div class="col-sm-4">
          <lightning-input type="text" label="Cost" name="cost" onchange={handleInputChange}
            value={trainingRequestObj.cost} required></lightning-input>
        </div>
      </div>
      <div class="slds-col slds-size_6-of-12">
        <div class="col-sm-4">
          <label for="input-23" class="slds-form-element__label slds-no-flex">Status</label>
          <div class="slds-form-element__control slds-grow">
            <output id="input-23" name="status" class="slds-input">{trainingRequestObj.status}</output>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <lightning-file-upload label="Upload Form 182" name="uploadForm" accept={acceptedFormats} record-id={recordId}
        onuploadfinished={handleUploadFinished}>
      </lightning-file-upload>
      <template if:true={isFormUploaded}>
        <p>
          <b>{uploadedFileName}</b>
        </p>
      </template>
    </div>
    <br />
    <div class="slds-grid slds-gutters">
      <div class="slds-col slds-size_1-of-6">
        <lightning-button variant="brand" label="Save Details" title="Save" onclick={createTrainingRequest}
          class="slds-m-left_x-small" disabled={isSubmitDisabled}></lightning-button>
      </div>
      <div class="slds-col slds-size_1-of-6">
        <lightning-button variant="brand" label="Cancel" title="Cancel" onclick={cancelTrainingRequest}
          class="slds-m-left_x-small"></lightning-button>
      </div>
    </div>
  </div>
</template>