<template>
  <div >
    <table class="slds-table slds-table_cell-buffer slds-table_bordered">
      <thead>
        <tr class="slds-line-height_reset">
          <th class="" scope="col">
            <div class="slds-truncate" >Grade (Percentage)</div>
          </th>
          <th class="" scope="col">
            <div class="slds-truncate" >
              Evaluation Notes
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
          <tr class="slds-hint-parent" >
            <td data-label="Grade">
              <div class="slds-truncate">
                {grade}
              </div>
            </td>
            <td data-label="Status">
              <div class="slds-truncate slds-cell-wrap">
                {evaluationNotes}
              </div>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
    
</template>