<!--
  @description       : 
  @author            : Manish Sogani
  @group             : 
  @last modified on  : 01-05-2021
  @last modified by  : Manish Sogani
  Modifications Log 
  Ver   Date         Author          Modification
  1.0   01-05-2021   Srikanth Reddy   Initial Version
-->
<!-- <template>
    <div class="mainRescheduleCmp">
        <div class="slds-text-heading_large">Course Re-Schedule</div>
        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_6-of-12">
                <div class="slds-m-top_medium">
                    Choose Course
                    <select class="slds-select slds-m-bottom_medium slds-m-top_x-small" onchange={handleCourseChange} required>
                        <option value="">-- Choose one --</option>
                        <template for:each={courseCatelougeList} for:item="each" for:index="index">
                            <option data-index={index} key={each.Id} value={each.Id}>{each.Name}
                            </option>
                        </template>
                    </select>
                </div>
            </div>
            <div class="slds-col slds-size_6-of-12">
                <div class="slds-m-top_medium">
                    Choose Course Schedule
                    <select class="slds-select slds-m-bottom_medium slds-m-top_x-small" onchange={handleCourseSchedule} required>
                        <option value="">-- Choose one --</option>
                        <template for:each={courseScheduleList} for:item="each" for:index="index">
                            <option data-index={index} key={each.Id} value={each.Id}>{each.Name}
                            </option>
                        </template>
                    </select>
                </div>
            </div>
        </div>

        <template if:true={showTable}>
            <template if:true={showSpinner}>
                <lightning-spinner alternative-text=Loading></lightning-spinner>
            </template>
            <h2 class="slds-m-top_medium"> Enrollements</h2>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Name
                            </th>
                            <th scope="col">Enrollement Status
                            </th>
                            <th scope="col">Status
                            </th>
                            <th scope="col">Start Date
                            </th>
                            <th scope="col">Due Date
                            </th>
                            <th scope="col">Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={enrollementList} for:index="index" for:item="enrollement">
                            <tr class="slds-hint-parent" key={enrollement.Id}>
                                <td>{enrollement.Name}</td>
                                <td>{enrollement.Enrolment_Status__c}
                                </td>
                                <td>{enrollement.Status__c}
                                </td>
                                <td>
                                    <div>
                                        <lightning-formatted-date-time day="numeric" month="numeric" year="numeric"
                                            value={enrollement.Started_Date__c} time-zone="UTC">
                                        </lightning-formatted-date-time>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <lightning-formatted-date-time day="numeric" month="numeric" year="numeric"
                                            value={enrollement.Due_Date__c} time-zone="UTC">
                                        </lightning-formatted-date-time>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <lightning-button label="Re-schedule" disabled={enrollement.showEdit}
                                            onclick={openModal} data-id={enrollement.Id} data-index={index}>
                                        </lightning-button>
                                    </div>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </template>

        <template if:true={showModal}>
            <div>Test</div>
            <div class="slds-container_medium">
                <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium"
                    aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                title="Close">
                                <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Re-schedule Enrollement</h2>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <lightning-input autocomplete="off" class="noLabel stretched slds-m-right_medium"
                                label="Start Date" type="date" name="search" placeholder="Start Date"
                                onchange={handleDateChange} value={startDate} date-style="short" required>
                            </lightning-input>
                        </div>
                        <footer class="slds-modal__footer">
                            <button class="slds-button slds-button_neutral" onclick={handleCancel}>Cancel</button>
                            <button class="slds-button slds-button_brand" onclick={handleSave}>Save</button>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </div>
        </template>
    </div>
</template> -->

<template>
  <lightning-spinner
    if:true={showSpinner}
    style="height: 100vh"
    alternative-text="Loading"
    size="large"
  >
  </lightning-spinner>
  <div class="mainRescheduleCmp">
    <div class="slds-text-heading_large">Enrolled Users</div>
    <br />
    <lightning-accordion
      class="example-accordion"
      allow-multiple-sections-open
      onsectiontoggle={handleToggleSection}
      active-section-name={activeSections}
    >
      <template
        for:each={courseScheduleList}
        for:index="index1"
        for:item="each"
      >
        <lightning-accordion-section
          key={each.Id}
          name={each.Name}
          label={each.Name}
        >
          <div style="margin-bottom: 10px">
            <lightning-button
              label="Enroll learners"
              onclick={openEnrollLearnerModal}
              data-csid={each.Id}
            >
            </lightning-button>
            <lightning-button
              label="Import Evaluation"
              onclick={navigateToReport}
            >
            </lightning-button>
            <lightning-button
              label="Reserve Seats"
              onclick={handleReserveSeatButton}
              data-csid={each.Id}
            >
            </lightning-button>
            <lightning-button
              label="Assigned Reserve Seats"
              onclick={handleAssignedSeatButton}
              data-csid={each.Id}
            >
            </lightning-button>
            <lightning-button
              variant="brand"
              label="Send Notification"
              title="Send Notification"
              data-csid={each.Id}
              onclick={handleSendNotificationClick}
              class="slds-m-left_x-small"
            >
            </lightning-button>
          </div>
          <br />
          <div if:true={each.enrollementList}>
            <table>
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Enrollement Status</th>
                  <th scope="col">Status</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">
                    <div class="slds-align_absolute-center">Action</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <template
                  for:each={each.enrollementList}
                  for:index="index"
                  for:item="enrollement"
                >
                  <tr class="slds-hint-parent" key={enrollement.Id}>
                    <td>{enrollement.Contact__r.Name}</td>
                    <td>{enrollement.Enrolment_Status__c}</td>
                    <td>{enrollement.Status__c}</td>
                    <td>
                      <div>
                        <lightning-formatted-date-time
                          day="numeric"
                          month="numeric"
                          year="numeric"
                          value={enrollement.Started_Date__c}
                          time-zone="UTC"
                        >
                        </lightning-formatted-date-time>
                      </div>
                    </td>
                    <td>
                      <div>
                        <lightning-formatted-date-time
                          day="numeric"
                          month="numeric"
                          year="numeric"
                          value={enrollement.Due_Date__c}
                          time-zone="UTC"
                        >
                        </lightning-formatted-date-time>
                      </div>
                    </td>
                    <td class="action__button">
                      <div class="slds-grid slds-gutters">
                        <template
                          if:true={enrollement.isConfirmedEnrollmentStatus__c}
                        >
                          <div class="slds-col">
                            <lightning-button
                              label="Move To Waitlist"
                              onclick={moveToWaitlist}
                              data-csid={each.Id}
                              data-enrollid={enrollement.Id}
                            >
                            </lightning-button>
                          </div>
                        </template>
                        <div class="slds-col">
                          <lightning-button
                            label="Re-schedule"
                            disabled={enrollement.showEdit}
                            onclick={openModal}
                            data-id={enrollement.Id}
                            data-index={index}
                            data-pindex={index1}
                          >
                          </lightning-button>
                        </div>
                        <div class="slds-col">
                          <template
                            if:false={enrollement.Evaluation_Submitted__c}
                          >
                            <lightning-button
                              variant="neutral"
                              label="Submit Evaluation"
                              title="Submit Evaluation"
                              onclick={handleSubmitEvaluation}
                              data-id={enrollement.Id}
                            ></lightning-button>
                          </template>
                          <template
                            if:true={enrollement.Evaluation_Submitted__c}
                          >
                            <lightning-button
                              variant="neutral"
                              label="View Evaluation"
                              title="View Evaluation"
                              onclick={handleViewEvaluation}
                              data-id={enrollement.Id}
                            ></lightning-button>
                          </template>
                          <lightning-button
                            if:true={enrollement.Course_Schedule__r.OJT_Training__c}
                            variant="brand"
                            label="Manage Task"
                            onclick={handleManageTaskClick}
                            data-id={enrollement.Id}
                          >
                          </lightning-button>
                        </div>
                        <div class="slds-col">
                          <lightning-icon
                            icon-name="utility:delete"
                            alternative-text="Delete"
                            size="x-small"
                            title="Delete"
                            class="cursor_pointer"
                            data-id={enrollement.Id}
                            onclick={openDeleteEnrolledUserModal}
                          >
                          </lightning-icon>
                        </div>
                      </div>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </lightning-accordion-section>
      </template>
    </lightning-accordion>

    <template if:true={showModal}>
      <div>Test</div>
      <div class="slds-container_medium">
        <section
          role="dialog"
          tabindex="-1"
          class="slds-modal slds-fade-in-open slds-modal_medium"
          aria-labelledby="modal-heading-01"
          aria-modal="true"
          aria-describedby="modal-content-id-1"
        >
          <div class="slds-modal__container">
            <header class="slds-modal__header">
              <button
                class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                title="Close"
              >
                <svg
                  class="slds-button__icon slds-button__icon_large"
                  aria-hidden="true"
                >
                  <use
                    xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"
                  ></use>
                </svg>
                <span class="slds-assistive-text">Close</span>
              </button>
              <h2
                id="modal-heading-01"
                class="slds-modal__title slds-hyphenate"
              >
                Re-schedule Enrollement
              </h2>
            </header>
            <div
              class="slds-modal__content slds-p-around_medium"
              id="modal-content-id-1"
            >
              <lightning-input
                autocomplete="off"
                class="noLabel stretched slds-m-right_medium"
                label="Start Date"
                type="date"
                name="search"
                placeholder="Start Date"
                onchange={handleDateChange}
                value={startDate}
                date-style="short"
                required
              >
              </lightning-input>
            </div>
            <footer class="slds-modal__footer">
              <button
                class="slds-button slds-button_neutral"
                onclick={handleCancel}
              >
                Cancel
              </button>
              <button
                class="slds-button slds-button_brand"
                onclick={handleSave}
              >
                Save
              </button>
            </footer>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </div>
    </template>

    <!-- Pop up for Submit Evaluation -->
    <template if:true={showSubmitModal}>
      <!-- Modal/Popup Box LWC starts here -->
      <section
        role="dialog"
        tabindex="-1"
        aria-labelledby="modal-heading-01"
        aria-modal="true"
        aria-describedby="modal-content-id-1"
        class="slds-modal slds-fade-in-open"
      >
        <div class="slds-modal__container">
          <!-- Modal/Popup Box LWC header here -->
          <header class="slds-modal__header">
            <button
              class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
              title="Close"
              onclick={closeModal}
            >
              <lightning-icon
                icon-name="utility:close"
                alternative-text="close"
                variant="inverse"
                size="small"
              ></lightning-icon>
              <span class="slds-assistive-text">Close</span>
            </button>
            <h2
              id="modal-heading-02"
              class="slds-text-heading_medium slds-hyphenate"
            >
              Fill Evaluation Details
            </h2>
          </header>

          <!-- Modal/Popup Box LWC body starts here -->
          <div
            class="slds-modal__content slds-p-around_medium"
            id="modal-content-id-2"
          >
            <c-lms-submit-evaluation
              user-enrollment-id={userEnrollId}
              onsubmitstatuschange={handleSubmitStatusChange}
            ></c-lms-submit-evaluation>
          </div>

          <!-- Modal/Popup Box LWC footer starts here -->
          <!-- <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                <button class="slds-button slds-button_brand" onclick={submitDetails} title="Submit">Submit</button>
            </footer> -->
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <!-- Pop up for View Evaluation -->
    <template if:true={showViewModal}>
      <!-- Modal/Popup Box LWC starts here -->
      <section
        role="dialog"
        tabindex="-1"
        aria-labelledby="modal-heading-01"
        aria-modal="true"
        aria-describedby="modal-content-id-1"
        class="slds-modal slds-fade-in-open"
      >
        <div class="slds-modal__container">
          <!-- Modal/Popup Box LWC header here -->
          <header class="slds-modal__header">
            <button
              class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
              title="Close"
              onclick={closeModal}
            >
              <lightning-icon
                icon-name="utility:close"
                alternative-text="close"
                variant="inverse"
                size="small"
              ></lightning-icon>
              <span class="slds-assistive-text">Close</span>
            </button>
            <h2
              id="modal-heading-03"
              class="slds-text-heading_medium slds-hyphenate"
            >
              View Evaluation Details
            </h2>
          </header>

          <!-- Modal/Popup Box LWC body starts here -->
          <div
            class="slds-modal__content slds-p-around_medium"
            id="modal-content-id-3"
          >
            <c-lms-view-evaluation
              user-enrollment-id={userEnrollId}
              oncancel={closeModal}
            >
            </c-lms-view-evaluation>
          </div>

          <!-- Modal/Popup Box LWC footer starts here -->
          <footer class="slds-modal__footer">
            <button
              class="slds-button slds-button_neutral"
              onclick={closeModal}
              title="Cancel"
            >
              Close
            </button>
          </footer>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <!-- Pop up for Delete Enrolled User -->
    <template if:true={showDeleteModal}>
      <div class="slds-modal slds-fade-in-open" role="dialog">
        <div class="slds-modal__container">
          <div class="slds-modal__header">
            <h2 class="slds-text-heading--medium">Delete Enrolled User</h2>
            <span
              class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            >
              <lightning-icon
                icon-name="utility:close"
                variant="inverse"
                size="xx-small"
                class="cursor_pointer"
                alternative-text="Close"
                title="Close"
                onclick={handleCancelDeleteRecord}
              ></lightning-icon>
            </span>
          </div>
          <div class="slds-modal__content slds-p-around_medium">
            <lightning-formatted-rich-text
              value={deleteItemMessage}
            ></lightning-formatted-rich-text>
          </div>
          <div class="slds-modal__footer">
            <button
              type="button"
              class="btn btn_neutral"
              onclick={handleCancelDeleteRecord}
            >
              Cancel
            </button>
            &nbsp;&nbsp;
            <button
              type="button"
              class="btn btn_primary"
              onclick={handleDeleteEnrolledUser}
            >
              Delete
            </button>
          </div>
        </div>
      </div>
      <div class="slds-backdrop slds-backdrop--open"></div>
    </template>

    <!-- Pop up for Enroll User -->
    <template if:true={showEnrollUserModal}>
      <!-- Modal/Popup Box LWC starts here -->
      <section
        role="dialog"
        tabindex="-1"
        aria-labelledby="modal-heading-01"
        aria-modal="true"
        aria-describedby="modal-content-id-1"
        class="slds-modal slds-fade-in-open"
      >
        <div class="slds-modal__container">
          <!-- Modal/Popup Box LWC header here -->
          <header class="slds-modal__header">
            <button
              class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
              title="Close"
              onclick={closeModal}
            >
              <lightning-icon
                icon-name="utility:close"
                alternative-text="close"
                variant="inverse"
                size="small"
              ></lightning-icon>
              <span class="slds-assistive-text">Close</span>
            </button>
            <h2
              id="modal-heading-04"
              class="slds-text-heading_medium slds-hyphenate"
            >
              Enroll a Learner
            </h2>
          </header>

          <!-- Modal/Popup Box LWC body starts here -->
          <div
            class="slds-modal__content slds-p-around_medium"
            id="modal-content-id-4"
          >
            <template if:true={showPrequisiteCourses}>
              <p>
                Following prequisite courses must be completed before enrolling
                in this course:
              </p>
              <br />
              <template
                for:each={prerequisiteCourseList}
                for:item="prerequisite"
              >
                <a
                  key={prerequisite.key}
                  style="display: block"
                  href={prerequisite.url}
                  >{prerequisite.name}</a
                >
              </template> </template
            ><br />
            <!-- <lightning-input
              type="text"
              name="userEnrollmentName"
              value={userEnrollmentName}
              label="User Enrollment Name"
              onchange={handleEnrollmentChange}
              required
            ></lightning-input> -->
            <c-lookup
              object-api-name="Contact"
              multi-select="true"
              label="Select User"
              onrecordupdated={handleContactChange}
            >
            </c-lookup>
          </div>

          <!-- Modal/Popup Box LWC footer starts here -->
          <footer class="slds-modal__footer">
            <button
              class="slds-button slds-button_neutral"
              onclick={closeModal}
              title="Cancel"
            >
              Close
            </button>
            <button
              class="slds-button slds-button_brand"
              onclick={handleEnrollUsers}
              title="Enroll"
            >
              Enroll now
            </button>
          </footer>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
  </div>

  <!-- Reserve Seat Modal -->
  <template if:true={isShowReserveSeatModal}>
    <div class="slds-modal slds-fade-in-open" role="dialog">
      <div class="slds-modal__container">
        <div class="slds-modal__header">
          <h2 class="slds-text-heading--medium">Reserve Seat</h2>
          <template if:true={showErrorOnReserveSeatModal}>
            <h3 style="color: red">{errorMessageReserveSeat}</h3>
          </template>

          <span
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
          >
            <lightning-icon
              icon-name="utility:close"
              variant="inverse"
              size="xx-small"
              class="cursor_pointer"
              alternative-text="Close"
              title="Close"
              onclick={onCancelReserveSeatModal}
            ></lightning-icon>
          </span>
        </div>
        <div class="slds-modal__content slds-p-around_medium">
          <c-lookup
            object-api-name="Account"
            label="Select Organization"
            onrecordupdated={handleAccountChange}
            required
          >
          </c-lookup>
          <lightning-input
            label="Reserve Seats Number"
            name="reserveSeats"
            onchange={handleReserveSeatChange}
            value={reserveSeatNumber}
            required
          >
          </lightning-input>
        </div>
        <footer class="slds-modal__footer">
          <button
            class="slds-button slds-button_neutral"
            onclick={onCancelReserveSeatModal}
            title="Cancel"
          >
            Close
          </button>
          <button
            class="slds-button slds-button_brand"
            onclick={onSaveReserveSeatModal}
            title="Reserve Seats"
          >
            Reserve Seats
          </button>
        </footer>
      </div>
    </div>
    <div class="slds-backdrop slds-backdrop--open"></div>
  </template>

  <!-- Assigned Reserve Seat Modal -->

  <template if:true={isShowAssignedReservedSeatModal}>
    <div class="slds-modal slds-fade-in-open" role="dialog">
      <div class="slds-modal__container">
        <div class="slds-modal__header">
          <h2 class="slds-text-heading--medium">Assign Reserve Seat</h2>
          <span
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
          >
            <lightning-icon
              icon-name="utility:close"
              variant="inverse"
              size="xx-small"
              class="cursor_pointer"
              alternative-text="Close"
              title="Close"
              onclick={handleCancelAssignedSeatModal}
            ></lightning-icon>
          </span>
        </div>
        <div class="slds-modal__content slds-p-around_medium">
          <c-lookup
            object-api-name="Account"
            label="Select Organization"
            onrecordupdated={handleAccountChangeAssignedSeat}
            required
          >
          </c-lookup>
          <table>
            <thead>
              <tr>
                <th scope="col">Seat Owner Name</th>
                <th scope="col">New Seat Owner</th>
              </tr>
            </thead>
            <tbody>
              <template
                for:each={reservedEnrolledUserList}
                for:index="index"
                for:item="reserve"
              >
                <tr class="slds-hint-parent" key={reserve.Id}>
                  <td>{reserve.Contact__r.Name}</td>
                  <td>
                    <c-lookup
                      object-api-name="Contact"
                      onrecordupdated={handleContactChangeAssignedSeat}
                      data-id={reserve.Id}
                      required
                    >
                    </c-lookup>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <footer class="slds-modal__footer">
          <button
            class="slds-button slds-button_neutral"
            onclick={handleCancelAssignedSeatModal}
            title="Cancel"
          >
            Close
          </button>
          <button
            class="slds-button slds-button_brand"
            onclick={handleSaveAssignedSeatModal}
            title="Reserve Seats"
          >
            Assigned Seats
          </button>
        </footer>
      </div>
    </div>
    <div class="slds-backdrop slds-backdrop--open"></div>
  </template>

  <!-- Manage Task -->

  <template if:true={showManageTaskModal}>
    <div class="slds-modal slds-fade-in-open" role="dialog">
      <div class="slds-modal__container" style="min-width: 1200px">
        <div class="slds-modal__header">
          <h2 class="slds-text-heading--medium">Manage Task</h2>
          <span
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
          >
            <lightning-icon
              icon-name="utility:close"
              variant="inverse"
              size="xx-small"
              class="cursor_pointer"
              alternative-text="Close"
              title="Close"
              onclick={onManageTaskModelCancel}
            ></lightning-icon>
          </span>
        </div>
        <div class="slds-modal__content slds-p-around_medium">
          <table>
            <thead style="text-align: center">
              <tr>
                <!-- <th scope="col">Course Name
                            </th> -->
                <th scope="col">Module Name</th>
                <th scope="col">Status</th>
                <th scope="col">Start Date</th>
                <th scope="col">Due Date</th>
                <th scope="col">Completed Date</th>
                <th scope="col">Sequence</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <template for:each={userModuleAssociationList} for:item="uma">
                <tr class="slds-hint-parent" key={uma.Id}>
                  <!-- <td>{uma.Course_Module__c}</td> -->
                  <td>{uma.Course_Module__r.Module_Name__c}</td>
                  <td>{uma.Status__c}</td>
                  <td>
                    <div>
                      <lightning-formatted-date-time
                        day="numeric"
                        month="numeric"
                        year="numeric"
                        value={uma.Started_Date__c}
                        time-zone="UTC"
                      >
                      </lightning-formatted-date-time>
                      s
                    </div>
                  </td>
                  <td>
                    <template if:false={uma.Is_Completed__c}>
                      <div>
                        <lightning-input
                          type="date"
                          name="dueDate"
                          variant="label-hidden"
                          value={uma.Due_Date__c}
                          onchange={handleFieldChange}
                          data-id={uma.Id}
                        ></lightning-input>
                      </div>
                    </template>
                    <template if:true={uma.Is_Completed__c}>
                      <div>
                        <lightning-formatted-date-time
                          day="numeric"
                          month="numeric"
                          year="numeric"
                          value={uma.Due_Date__c}
                          time-zone="UTC"
                        >
                        </lightning-formatted-date-time>
                      </div>
                    </template>
                  </td>
                  <td>
                    <div>
                      s
                      <lightning-formatted-date-time
                        day="numeric"
                        month="numeric"
                        year="numeric"
                        value={uma.Completed_Date__c}
                        time-zone="UTC"
                      >
                      </lightning-formatted-date-time>
                    </div>
                  </td>
                  <td>
                    <template if:false={uma.Is_Completed__c}>
                      <lightning-input
                        name="Sequence"
                        variant="label-hidden"
                        value={uma.Sequence__c}
                        onchange={handleFieldChange}
                        data-id={uma.Id}
                      >
                      </lightning-input>
                    </template>
                    <template if:true={uma.Is_Completed__c}>
                      {uma.Sequence__c}
                    </template>
                  </td>
                  <td>
                    <lightning-icon
                      icon-name="utility:delete"
                      alternative-text="Delete"
                      size="x-small"
                      title="Delete"
                      class="cursor_pointer"
                      data-rid={uma.Id}
                      onclick={deleteTaskHandle}
                    ></lightning-icon>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <footer class="slds-modal__footer">
          <button
            class="slds-button slds-button_neutral"
            onclick={onManageTaskModelCancel}
            title="Cancel"
          >
            Cancel
          </button>
          <button
            class="slds-button slds-button_brand"
            onclick={onManageTaskModelSave}
            title="OK"
          >
            Save
          </button>
        </footer>
      </div>
    </div>
    <div class="slds-backdrop slds-backdrop--open"></div>
  </template>

  <!-- DELETE TASK MODAL -->

  <template if:true={isShowDeleteTaskModal}>
    <div class="slds-modal slds-fade-in-open" role="dialog">
      <div class="slds-modal__container" style="min-width: 100px">
        <div class="slds-modal__header">
          <h2 class="slds-text-heading--medium">Delete Task</h2>
          <span
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
          >
            <lightning-icon
              icon-name="utility:close"
              variant="inverse"
              size="xx-small"
              class="cursor_pointer"
              alternative-text="Close"
              title="Close"
              onclick={handleCancelDeleteTaskModal}
            ></lightning-icon>
          </span>
        </div>
        <div class="slds-modal__content slds-p-around_medium">
          Are you sure you want to delete this task ?
        </div>
        <footer class="slds-modal__footer">
          <button
            class="slds-button slds-button_neutral"
            onclick={handleCancelDeleteTaskModal}
            title="Cancel"
          >
            Cancel
          </button>
          <button
            class="slds-button slds-button_brand"
            onclick={handleSaveDeleteTaskModal}
            title="Delete"
          >
            Delete
          </button>
        </footer>
      </div>
    </div>
    <div class="slds-backdrop slds-backdrop--open"></div>
  </template>

  <template if:true={showEmailModal}>
    <c-lms-generic-modal>
      <div slot="header">
        <!--<lightning:buttonIcon iconName="utility:close"  variant="bare-inverse" title="Close" alternativeText="Close window"/>-->
        <lightning-button-icon
          icon-name="utility:close"
          variant="bare-inverse"
          alternative-text="Close window"
          title="Close"
          onclick={handleModalCancelClick}
          class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
          size="large"
        ></lightning-button-icon>
        Send Email Notification
      </div>
      <div slot="body">
        <lightning-layout multiple-rows>
          <lightning-layout-item size="12" if:true={showAttendeeStatusOptions}>
            <lightning-combobox
              name="attendeeStatusOption"
              label="Enrollee Status"
              value={attendeeStatusOption}
              placeholder="Select User with Enrollment Status"
              options={attendeeStatusOptions}
              onchange={handleChange}
              required
            ></lightning-combobox>
          </lightning-layout-item>
          <lightning-layout-item size="12">
            <!--<lightning-input type="text" label="To Addresses" value={emailToAddresses} placeholder="Recipients" required></lightning-input>-->
            <lightning-textarea
              name="emailToAddresses"
              required
              value={emailToAddresses}
              label="Recipients"
              field-level-help="Recipients separated by Comma(,)."
              onchange={handleChange}
            ></lightning-textarea>
          </lightning-layout-item>
          <lightning-layout-item size="12">
            <lightning-input
              type="text"
              label="Subject"
              name="emailSubject"
              value={emailSubject}
              placeholder="type subject here..."
              required
              onchange={handleChange}
            ></lightning-input>
          </lightning-layout-item>
          <lightning-layout-item size="12">
            <div class="slds-m-top_medium">
              <lightning-input-rich-text
                label="Email Body"
                value={emailBody}
                name="emailBody"
                placeholder=""
                valid={emailBodyValidity}
                onchange={handleChange}
                formats={allowedFormats}
              ></lightning-input-rich-text>
            </div>
          </lightning-layout-item>
        </lightning-layout>
      </div>
      <div slot="footer">
        <lightning-button
          label="Cancel"
          title="Cancel Data Upload"
          onclick={handleModalCancelClick}
          class="slds-m-left_x-small"
        ></lightning-button>
        <lightning-button
          variant="brand"
          label="Send Email"
          title="Send Email to all attendees"
          onclick={handleSendEmailClick}
          class="slds-m-left_x-small"
        ></lightning-button>
      </div>
    </c-lms-generic-modal>
  </template>

  <template if:true={showSpinner}>
    <div class="slds-spinner_container slds-is-fixed">
      <div role="status" class="slds-spinner slds-spinner_medium">
        <span class="slds-assistive-text">Loading</span>
        <div class="slds-spinner__dot-a"></div>
        <div class="slds-spinner__dot-b"></div>
      </div>
    </div>
  </template>
</template>