<template>
    <div class="component_block">
        
        <div class="component_block">
           
            <div class="content_block">
              <div class="content_header">
                <h1>User Module</h1>
                <label>sheets containing Lorem</label>
              </div>
              <div class="table_data">
					<table>
					<thead>
            <th>User Module Name</th>
            <th>User Enrollment Name</th>
						<th>Module Name</th>
						<th>Status</th>
						<th>Due Date</th>
					
						
					</thead>  
					<tbody>

                            <template for:each={courses} for:item="con">
                                <tr key={con.Id}>
                                    
                                        <td >{con.Name}</td>
                                        <td >
                                          <div if:true={con.User_Enrollment__c}>
                                            {con.User_Enrollment__r.Name}
                                          </div>
                                        </td>
                                        
                                        <td >
                                          <div if:true={con.Course_Module__r}>
                                            {con.Course_Module__r.Module_Name__c}
                                          </div>
                                        </td>
                                        <td>{con.Status__c}</td>
                                        
                                        <td>{con.Due_Date__c}</td>
                                       
                                    
                                    </tr>
                                </template> 
        
					</tbody>
					</table>
              </div>
            </div>
        </div></div>
</template>