<template>
    <div class="alert info d-sm-flex justify-content-between align-items-center m-t-md ng-star-inserted">
        <div class="d-flex">
        </div>
        <div class="content">
          <div class="title">Please note</div>
          <div class="copy"> You will be not able to view or
              access course content after droping from this course. </div>
      </div>
        <div class="controls"><button class="s-btn btn-md btn-primary" onclick={handleDrop}> Drop Course </button></div>
    </div>
</template>