<template>

    <lightning-button variant="brand" label="Send Notification" title="Send Notification" onclick={handleSendNotificationClick} class="slds-m-left_x-small"></lightning-button>
    
    <template if:true={showEmailModal}>
        <c-lms-generic-modal>
            <div slot="header">
                <!--<lightning:buttonIcon iconName="utility:close"  variant="bare-inverse" title="Close" alternativeText="Close window"/>-->
                <lightning-button-icon icon-name="utility:close"  variant="bare-inverse" alternative-text="Close window" title="Close" onclick={handleModalCancelClick} class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" size="large"></lightning-button-icon>
                Send Email Notification
            </div>
            <div slot="body">
                <lightning-layout multiple-rows>
                    <lightning-layout-item size="12" if:true={showAttendeeStatusOptions}>
                        <lightning-combobox
                                name="attendeeStatusOption"
                                label="Enrollee Status"
                                value={attendeeStatusOption}
                                placeholder="Select User with Enrollment Status"
                                options={attendeeStatusOptions}
                                onchange={handleChange}
                                required
                        ></lightning-combobox>
                    </lightning-layout-item>
                    <lightning-layout-item size="12">
                        <!--<lightning-input type="text" label="To Addresses" value={emailToAddresses} placeholder="Recipients" required></lightning-input>-->
                        <lightning-textarea name="emailToAddresses" required value={emailToAddresses} label="Recipients" field-level-help="Recipients separated by Comma(,)." onchange={handleChange}></lightning-textarea>
                    </lightning-layout-item>
                    <lightning-layout-item size="12">
                        <lightning-input type="text" label="Subject" name="emailSubject" value={emailSubject} placeholder="type subject here..." required onchange={handleChange}></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="12">
                        <div class="slds-m-top_medium">
                            <lightning-input-rich-text label="Email Body" value={emailBody} name="emailBody" placeholder="" valid={emailBodyValidity} onchange={handleChange} formats={allowedFormats}></lightning-input-rich-text>
                        </div>  
                    </lightning-layout-item> 
                </lightning-layout>
            </div>
            <div slot="footer">
                <lightning-button label="Cancel" title="Cancel Data Upload" onclick={handleModalCancelClick} class="slds-m-left_x-small"></lightning-button>
                <lightning-button variant="brand" label="Send Email" title="Send Email to all attendees" onclick={handleSendEmailClick} class="slds-m-left_x-small"></lightning-button>
            </div>
        </c-lms-generic-modal>
    </template>

    <template if:true={showSpinner}>
        <div class="slds-spinner_container slds-is-fixed">
            <div role="status" class="slds-spinner slds-spinner_medium">
                <span class="slds-assistive-text">Loading</span>
                <div class="slds-spinner__dot-a"></div>
                <div class="slds-spinner__dot-b"></div>
            </div>
        </div>
    </template>
</template>