<template>
    <div class="component_block">
        <div class="cm_header">
            <!--<button type="button" class="primary">ADD A ANNOUCEMENT</button>-->
            <lightning-button label="New Announcement" variant="Brand" title="Add New Announcement" class="primary" onclick={handleNewAnnouncementClick}></lightning-button>
        </div>
        <div class="content_block">
            <div class="content_header">
                <h1>Announcements</h1>
                <label>sheets containing Lorem</label>
            </div>
            <div class="table_data">
                <table>
                    <thead>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Expiry Date</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Course Catalogue</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <template for:each={announcements} for:item="announcement" for:index="index">
                            <tr key={announcement.Id}>
                                <td>{announcement.Title__c}</td>
                                <td><lightning-formatted-date-time value={announcement.Date__c} year="numeric" month="numeric" day="numeric"></lightning-formatted-date-time></td>
                                <td><lightning-formatted-date-time value={announcement.Expiry_Date__c} year="numeric" month="numeric" day="numeric"></lightning-formatted-date-time></td>
                                <td>{announcement.Status__c}</td>
                                <td>{announcement.Type__c}</td>
                                <td><template if:true={announcement.Course_Catalogue__r}>{announcement.Course_Catalogue__r.Name}</template></td>
                                <td>
                                    <lightning-button-menu alternative-text="Action" onselect={handleAnnouncementAction} menu-alignment="right">
                                        <lightning-menu-item value={announcement.menu_edit_index} label="Edit"></lightning-menu-item>
                                        <lightning-menu-item value={announcement.menu_delete_index} label="Delete"></lightning-menu-item>
                                    </lightning-button-menu>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <template if:true={showEditAnnouncementModal}>
        <c-lms-generic-modal>
            <div slot="header">
                <!--<lightning:buttonIcon iconName="utility:close"  variant="bare-inverse" title="Close" alternativeText="Close window"/>-->
                <lightning-button-icon icon-name="utility:close"  variant="bare-inverse" alternative-text="Close window" title="Close" onclick={handleEditAnnouncementModalCancel} class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" size="large"></lightning-button-icon>
                {editAnnouncementModalTitle}
            </div>
            <div slot="body">
                <lightning-layout multiple-rows>
                    <lightning-layout-item size="12">
                        <lightning-input type="text" label="Title" name="announcementTitle" value={announcement.Title__c} placeholder="" required onchange={handleChange}></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="12">
                        <!--<div class="slds-m-top_medium">
                            <span id="rich-text-editor-unique-id-01" class="slds-form-element__label"><abbr class="slds-required" title="required">* </abbr>Announcement</span>
                            <lightning-input-rich-text value={announcement.Announcement__c} name="announcementRichText" placeholder="" valid={announcementRTValidiy} onchange={handleChange} share-with-entity-id={announcement.Id} if:true={announcement.Id}></lightning-input-rich-text>
                            <lightning-input-rich-text value={announcement.Announcement__c} name="announcementRichText" placeholder="" valid={announcementRTValidiy} onchange={handleChange} if:false={announcement.Id}></lightning-input-rich-text>
                        </div> -->
                        <lightning-textarea name="announcementRichText" required value={announcement.Announcement__c} label="Announcement" onchange={handleChange}></lightning-textarea>
                    </lightning-layout-item> 
                    <lightning-layout-item size="12">
                        <lightning-input type="date" label="Date" name="announcementDate" value={announcement.Date__c} placeholder="" required onchange={handleChange}></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="12">
                        <lightning-input type="date" label="Expiry Date" name="announcementExpiryDate" value={announcement.Expiry_Date__c} placeholder="" required onchange={handleChange}></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="12">
                        <lightning-combobox
                                name="announcementStatus"
                                label="Status"
                                value={announcement.Status__c}
                                options={statusOptions}
                                onchange={handleChange}
                                required
                                dropdown-alignment="auto"
                        ></lightning-combobox>
                    </lightning-layout-item>
                    <lightning-layout-item size="12">
                        <lightning-combobox
                                name="announcementType"
                                label="Type"
                                value={announcement.Type__c}
                                options={typeOptions}
                                onchange={handleChange}
                                required
                                dropdown-alignment="auto"
                        ></lightning-combobox>
                    </lightning-layout-item>
                    <lightning-layout-item size="12" if:true={showCourseCatalogueDropdown}>
                        <lightning-combobox
                                name="announcementCourseCatalogue"
                                label="Course Catalogue"
                                value={announcement.Course_Catalogue__c}
                                options={courseCatalogueOptions}
                                onchange={handleChange}
                                required
                                dropdown-alignment="auto"
                        ></lightning-combobox>
                    </lightning-layout-item>
                </lightning-layout>
            </div>
            <div slot="footer">
                <lightning-button label="Cancel" title="Cancel Data Upload" onclick={handleEditAnnouncementModalCancel} class="slds-m-left_x-small"></lightning-button>
                <lightning-button variant="brand" label="Save" title="Save" onclick={handleEditAnnouncementModalSave} class="slds-m-left_x-small"></lightning-button>
            </div>
        </c-lms-generic-modal>
    </template>

    <template if:true={showDeleteAnnouncementModal}>
        <c-lms-generic-modal>
            <div slot="header">
                <!--<lightning:buttonIcon iconName="utility:close"  variant="bare-inverse" title="Close" alternativeText="Close window"/>-->
                <lightning-button-icon icon-name="utility:close"  variant="bare-inverse" alternative-text="Close window" title="Close" onclick={handleDeleteAnnouncementModalCancel} class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" size="large"></lightning-button-icon>
                Delete Announcement
            </div>
            <div slot="body">
                <div class="slds-text-align_center">Are you sure?</div>
            </div>
            <div slot="footer">
                <lightning-button label="Cancel" title="Cancel Data Upload" onclick={handleDeleteAnnouncementModalCancel} class="slds-m-left_x-small"></lightning-button>
                <lightning-button variant="destructive" label="Delete" title="Delete announcement" onclick={handleDeleteAnnouncementModalDelete} class="slds-m-left_x-small"></lightning-button>
            </div>
        </c-lms-generic-modal>
    </template>

    <template if:true={showSpinner}>
        <div class="slds-spinner_container slds-is-fixed">
            <div role="status" class="slds-spinner slds-spinner_medium">
                <span class="slds-assistive-text">Loading</span>
                <div class="slds-spinner__dot-a"></div>
                <div class="slds-spinner__dot-b"></div>
            </div>
        </div>
    </template>
</template>