<template>
    <lightning-spinner if:true={isLoading} alternative-text="Loading" size="large"></lightning-spinner>
    <div class="component_block">
        <div class="cm_header">
            <lightning-button data-name="Reject" label="Reject Approvals" onclick={updateApprovals}></lightning-button>
            <lightning-button data-name="Approve" label="Approve Approvals" onclick={updateApprovals}>
            </lightning-button>
            <!--<button type="button" class="primary">Reject Approvals</button>
            <button type="button" class="primary">Approve Approvals</button>-->
        </div>
        <div class="content_block">
            <lightning-tabset active-tab-value="Internal Approvals">
                <lightning-tab label="Internal Approvals" value="Internal Approvals" onactive={handleActive}>
                    <lightning-tabset active-tab-value="Internal Pending Approvals">
                        <lightning-tab label="Pending Approvals" value="Internal Pending Approvals">
                            <table>
                                <thead>
                                    <th>Course Schedule Name</th>
                                    <th>Requested By</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <template for:each={internalPendingApprovals} for:item="internalPendingApproval">
                                        <tr key={internalPendingApproval.Id}>
                                            <td><a data-id={internalPendingApproval.Id} data-name="internal"
                                                    onclick={navigateToDetails}>{internalPendingApproval.Name}</a></td>
                                            <td>{internalPendingApproval.Contact__r.Name}</td>
                                            <td>
                                                <lightning-input type="checkbox" variant="label-hidden"
                                                    data-id={internalPendingApproval.Id} data-name="internal"
                                                    onchange={handleInputChange}></lightning-input>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </lightning-tab>
                        <lightning-tab label="Past Approvals" value="Internal Past Approvals">
                            <table>
                                <thead>
                                    <th>Course Schedule Name</th>
                                    <th>Requested By</th>
                                    <th>Status</th>
                                </thead>
                                <tbody>
                                    <template for:each={internalPastApprovals} for:item="internalPastApproval">
                                        <tr key={internalPastApproval.Id}>
                                            <td><a data-id={internalPastApproval.Id} data-name="internal"
                                                    onclick={navigateToDetails}>{internalPastApproval.Name}</a></td>
                                            <td>{internalPastApproval.Contact__r.Name}</td>
                                            <td>
                                                <lightning-formatted-text value={internalPastApproval.Status__c}>
                                                </lightning-formatted-text>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </lightning-tab>
                    </lightning-tabset>
                </lightning-tab>
                <lightning-tab label="External Approvals" value="External Approvals">
                    <lightning-tabset active-tab-value="External Pending Approvals">
                        <lightning-tab label="Pending Approvals" value="External Pending Approvals">
                            <table>
                                <thead>
                                    <th>Training Name</th>
                                    <th>Requested By</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <template for:each={externalPendingApprovals} for:item="externalPendingApproval">
                                        <tr key={externalPendingApproval.Id}>
                                            <td><a data-id={externalPendingApproval.Id} data-name="external"
                                                    onclick={navigateToDetails}>{externalPendingApproval.Name}</a></td>
                                            <td>{externalPendingApproval.Contact__r.Name}</td>
                                            <td>
                                                <lightning-input type="checkbox" variant="label-hidden"
                                                    data-id={externalPendingApproval.Id} data-name="external"
                                                    onchange={handleInputChange}></lightning-input>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </lightning-tab>
                        <lightning-tab label="Past Approvals" value="External Past Approvals">
                            <table>
                                <thead>
                                    <th>Training Name</th>
                                    <th>Requested By</th>
                                    <th>Status</th>
                                </thead>
                                <tbody>
                                    <template for:each={externalPastApprovals} for:item="externalPastApproval">
                                        <tr key={externalPastApproval.Id}>
                                            <td><a data-id={externalPastApproval.Id} data-name="external"
                                                    onclick={navigateToDetails}>{externalPastApproval.Name}</a></td>
                                            <td>{externalPastApproval.Contact__r.Name}</td>
                                            <td>
                                                <lightning-formatted-text value={externalPastApproval.Status__c}>
                                                </lightning-formatted-text>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </lightning-tab>
                    </lightning-tabset>
                </lightning-tab>
                <lightning-tab label="Course Role Approvals" value="Course Role Approvals">
                    <lightning-tabset active-tab-value="Course Role Approvals">
                        <lightning-tab label="Pending Approvals" value="Course Role Approvals">
                            <table>
                                <thead>
                                    <th></th>
                                    <th>Course Name</th>
                                    <th>Role</th>
                                    <th>Submitted Date</th>
                                </thead>
                                <tbody>
                                    <template for:each={courseRolePendingApprovals} for:item="item">
                                        <tr key={item.Id}>
                                            <td>
                                                <lightning-input type="checkbox" variant="label-hidden"
                                                    data-id={item.Id} data-name="courseRole"
                                                    onchange={handleInputChange}></lightning-input>
                                            </td>
                                            <td>{item.Name}</td>
                                            <td>
                                                {item.Role__c}
                                            </td>
                                            <td>
                                                <lightning-formatted-date-time day="numeric" month="numeric"
                                                    year="numeric" value={item.CreatedDate} time-zone="UTC">
                                                </lightning-formatted-date-time>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </lightning-tab>
                        <lightning-tab label="Past Approvals" value="Course Role Past Approvals">
                            <table>
                                <thead>
                                    <th>Course Name</th>
                                    <th>Role</th>
                                    <th>Submitted Date</th>
                                </thead>
                                <tbody>
                                    <template for:each={courseRolePastApprovals} for:item="item">
                                        <tr key={item.Id}>
                                            <td>{item.Name}</td>
                                            <td>
                                                {item.Role__c}
                                            </td>
                                            <td>
                                                <lightning-formatted-date-time day="numeric" month="numeric"
                                                    year="numeric" value={item.CreatedDate} time-zone="UTC">
                                                </lightning-formatted-date-time>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </lightning-tab>
                    </lightning-tabset>
                </lightning-tab>
            </lightning-tabset>
        </div>
    </div>
</template>