<template>
  <div class="backdrop" if:true={showSpinner}>
    <div class="spinner">
      <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </div>
  </div>

  <template if:true={course}>
    <div class="section-header p-t-0 slds-var-p-around_small">
      <div class="d-flex justify-content-between page-header">
        <h1 class="page-title">{course.courseTitle}</h1>
      </div>
    </div>

    <div class="slds-var-p-around_small slds-var-m-top_small">
      <lightning-tabset>
        <!-- Overview -->
        <lightning-tab label="Overview">
          <div class="slds-var-p-around_medium">
            <div class="slds-grid slds-gutters">
              <div class="slds-col slds-size_2-of-3">
                
              </div>
              <div class="slds-col slds-size_1-of-3">
                <button
                  class="slds-button slds-button_brand"
                  onclick={onOverviewEdit}
                >
                  {overviewButtonText}
                </button>
              </div>
            </div>
            <template if:false={overviewEdit}>
              <lightning-formatted-rich-text value={overviewValue}>
              </lightning-formatted-rich-text>
            </template>
            <template if:true={overviewEdit}>
              <lightning-input-rich-text
                name="overview"
                onchange={handleOverviewChange}
                value={overviewValue}
              ></lightning-input-rich-text>
            </template>

            <div class="slds-var-m-top_large">
              <div class="slds-text-heading_small slds-var-m-bottom_x-small">
                Course tags
              </div>
              
                <span class="slds-badge">{course.roles}</span>
                  
                
             
            </div>
          </div>
        </lightning-tab>

        <!-- Objectives -->
        <lightning-tab label="Objectives">
          <div class="slds-var-p-around_medium">
            <div class="slds-grid slds-gutters">
              <div class="slds-col slds-size_2-of-3">
                
              </div>
              <div class="slds-col slds-size_1-of-3">
                <button
                  class="slds-button slds-button_brand"
                  onclick={onObjectiveEdit}
                >
                  {objectiveButtonText}
                </button>
              </div>
            </div>
            <template if:false={objectiveEdit}>
              <lightning-formatted-rich-text value={objectiveValue}>
              </lightning-formatted-rich-text>
            </template>
            <template if:true={objectiveEdit}>
              <lightning-input-rich-text
                name="objective"
                onchange={handleObjectiveChange}
                value={objectiveValue}
              ></lightning-input-rich-text>
            </template>
          </div>
        </lightning-tab>

        <!-- Modules -->
        <lightning-tab label="Modules">
          <div class="slds-var-p-around_medium">
            <template if:false={noModulesFound}>
              
              <table
                class="slds-table slds-table_cell-buffer slds-table_bordered"
              >
                <thead>
                  <tr class="slds-line-height_reset">
                    <th class="" scope="col">
                      <div class="slds-truncate" title="Module Name">
                        Module Name
                      </div>
                    </th>
                    <th class="" scope="col">
                      <div class="slds-truncate" title="Status">Status</div>
                    </th>
                    <th class="" scope="col">
                      <div class="slds-truncate" title="Type">Type</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <template
                    if:true={modulesExist}
                    for:each={modules}
                    for:item="module"
                  >
                    <tr class="slds-hint-parent" key={module.Id}>
                      <th data-label="Module Name" scope="row">
                        <div
                          class="slds-truncate"
                          title={module.Module_Name__c}
                        >
                          {module.Module_Name__c}
                        </div>
                      </th>
                      <td data-label="Status">
                        <div class="slds-truncate" title={module.Status__c}>
                          {module.Status__c}
                        </div>
                      </td>
                      <td data-label="Completion Date">
                        <div class="slds-truncate" title={module.Type__c}>
                          {module.Type__c}
                        </div>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </template>
            <template if:true={noModulesFound}>
              <div
                class="slds-text-color_error slds-text-align_center slds-var-m-top_small slds-text-heading_small"
              >
                No modules found
              </div>
            </template>
          </div>
        </lightning-tab>

        <!-- User Enrollment Tab -->
        <lightning-tab label="Enrollment">
          <div>
            <c-lms-course-catalogue-reschedule
              record-id={recordId}
            ></c-lms-course-catalogue-reschedule>
          </div>
          <!-- <div class="slds-var-p-around_medium">
            <template if:false={noEnrollmentFound}>
              <div class="slds-text-heading_medium slds-var-m-bottom_small">
                Enrolled Users
              </div>
              <table
                class="slds-table slds-table_cell-buffer slds-table_bordered"
              >
                <thead>
                  <tr class="slds-line-height_reset">
                    <th class="" scope="col">
                      <div class="slds-truncate" title="Module Name">
                        User Name
                      </div>
                    </th>
                    <th class="" scope="col">
                      <div class="slds-truncate" title="Status">
                        Schedule Start Date
                      </div>
                    </th>
                    <th class="" scope="col">
                      <div class="slds-truncate" title="Type">
                        Schedule End Date
                      </div>
                    </th>
                    <th class="" scope="col">
                      <div class="slds-truncate" title="Action">Action</div>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <template
                    if:true={enrollmentExist}
                    for:each={enrollment}
                    for:item="enroll"
                  >
                    <tr class="slds-hint-parent" key={enroll.Id}>
                      <th data-label="User Name" scope="row">
                        <div
                          class="slds-truncate"
                          title={enroll.Contact__r.Name}
                        >
                          {enroll.Contact__r.Name}
                        </div>
                      </th>
                      <td data-label="Start Date">
                        <div class="slds-truncate">
                          <lightning-formatted-date-time
                            value={enroll.Course_Schedule__r.Start_Date__c}
                          >
                          </lightning-formatted-date-time>
                        </div>
                      </td>
                      <td data-label="End Date">
                        <div class="slds-truncate">
                          <lightning-formatted-date-time
                            value={enroll.Course_Schedule__r.End_Date__c}
                          >
                          </lightning-formatted-date-time>
                        </div>
                      </td>
                      <td data-label="Action">
                        <template if:false={enroll.Evaluation_Submitted__c}>
                          <lightning-button
                            variant="brand"
                            label="Submit Evaluation"
                            title="Submit Evaluation"
                            onclick={handleSubmitEvaluation}
                            data-id={enroll.Id}
                          ></lightning-button>
                        </template>
                        <template if:true={enroll.Evaluation_Submitted__c}>
                          <lightning-button
                            variant="neutral"
                            label="View Evaluation"
                            title="View Evaluation"
                            onclick={handleViewEvaluation}
                            data-id={enroll.Id}
                          ></lightning-button>
                        </template>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </template>

            <template if:true={noModulesFound}>
              <div
                class="slds-text-color_error slds-text-align_center slds-var-m-top_small slds-text-heading_small"
              >
                No modules found
              </div>
            </template>
          </div> -->
        </lightning-tab>

        <!-- Quiz Results Tab -->
        <lightning-tab label="Quiz Results">
          <c-lms-course-module-quiz-accordion record-id={recordId}>
          </c-lms-course-module-quiz-accordion>
        </lightning-tab>

        <!-- Facilities Tab -->
        <lightning-tab label="Facilities">
         
          <c-lms-course-module-facility record-id={recordId}>
          </c-lms-course-module-facility>
        </lightning-tab>

        <!--Pre-Requisites Tab -->
        <lightning-tab label="Pre-Requisites">
          <c-lms-course-module-pre-requisites>
          </c-lms-course-module-pre-requisites>
          
        </lightning-tab>
      </lightning-tabset>
    </div>
  </template>
</template>