.p-t-0 {
    padding-top: 0!important;
}

.section-header {
    padding-top: 3rem;
}

.justify-content-between {
    justify-content: space-between!important;
}

.d-flex {
    display: flex!important;
}

@media (min-width: 1024px) {
    .section-header .description {
        font-size: 18px;
        top: -1.5rem;
    }
}

.section-header .description {
    color: #656565;
}

.page-header h1.page-title {
    text-transform: capitalize;
    color: #222;
    font-size: 30px;
    margin-top: 0;
    font-weight: 600;
}