<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text=Loading></lightning-spinner>
    </template>

    <div if:true={componentLoaded}>
        <div class="slds-m-left_large ">
            
            <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Type</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <template if:true={isNoCPRRecords}>
                        <tr>
                            <td colspan="2">No Records Found</td>
                        </tr>
                    </template>
                    <template if:false={isNoCPRRecords}>
                        <template for:each={dataObj} for:item="wr" for:index="cmi">
                            <tr key={wr.Id}>
                                <td><a href={wr.relatedCourseUrl}>{wr.relatedCourseName}</a></td>
                                <td>{wr.courseRelation.Type__c}</td>
                                
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
</template>