<!--
  @description       : 
  @author            : Manish Sogani
  @group             : 
  @last modified on  : 01-05-2021
  @last modified by  : Manish Sogani
  Modifications Log 
  Ver   Date         Author          Modification
  1.0   01-05-2021   Manish Sogani   Initial Version
-->
<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text=Loading></lightning-spinner>
    </template>

    <div if:true={componentLoaded}>
        <div class="component_block">
            <table>
                <thead>
                    <tr>
                        <th style="width: 12%;"><div class="slds-align_absolute-center">Action</div></th>
                        <th>Session Type</th>
                        <th>Instructor</th>
                        <th>Location</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th><div class="slds-align_absolute-center">Roles</div></th>
                    </tr>
                </thead>
                <tbody>
                    <template if:true={isNoCSRecords}>
                        <tr>
                            <td colspan="8">No Records Found</td>
                        </tr>
                    </template>
                    <template if:false={isNoCSRecords}>
                        <template for:each={dataObj} for:item="wr" for:index="csi">
                            <tr key={wr}>
                                <td>
                                    <div class="slds-align_absolute-center">
                                        <lightning-icon icon-name="utility:edit" alternative-text="Edit" size="x-small" title="Edit" 
                                        class="cursor_pointer" data-rid={wr.courseSchedule.Id} data-insid={wr.courseSchedule.Instructor__c} onclick={handleCourseSchduleRecordEdit}></lightning-icon>
                                        &nbsp;&nbsp;
                                        <lightning-icon icon-name="utility:delete" alternative-text="Delete" size="x-small" title="Delete" 
                                        class="cursor_pointer" data-rid={wr.courseSchedule.Id} onclick={handleCourseSchduleRecordDelete}></lightning-icon>
                                    </div>
                                </td>
                                <td>{wr.courseSchedule.Session_Type__c}</td>
                                <td>{wr.courseScheduleInstructorName}</td>
                                <td>{wr.courseSchedule.Location__c}</td>
                                <td>
                                    <lightning-formatted-date-time value={wr.courseSchedule.Start_Date__c} year="numeric" month="numeric" day="numeric" hour="2-digit"
                                    minute="2-digit" time-zone="UTC"  hour12="false"></lightning-formatted-date-time>
                                </td>
                                <td>
                                    <lightning-formatted-date-time value={wr.courseSchedule.End_Date__c} year="numeric" month="numeric" day="numeric" hour="2-digit"
                                    minute="2-digit" time-zone="UTC"  hour12="false"></lightning-formatted-date-time>
                                </td>
                                <td>{wr.courseSchedule.Status__c}</td>
                                <td>
                                    <div class="slds-align_absolute-center">
                                        <lightning-icon icon-name="utility:refresh" alternative-text="Roles" size="x-small" title="Roles" 
                                        class="cursor_pointer" data-rid={wr.courseSchedule.Id} onclick={handleShowCourseRoleModal}></lightning-icon>
                                    </div>
                                </td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
            
            <div style="margin-top: 10px;">
                <button type="button" class="btn btn_secondary" onclick={handleAddCS}>Add Course Schedule</button>
            </div>

            <template if:true={isShowCourseScheduleRecordModal}>
                <div class="slds-modal slds-fade-in-open" role=dialog>
                    <div class="slds-modal__container">
                        <div class=slds-modal__header >
                            <h2 class=slds-text-heading--medium>Course Schedule</h2>
                            <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                                <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
                                alternative-text=Close title=Close onclick={handleCourseScheduleCancelModal}></lightning-icon>
                            </span>
                        </div>
                        <div class="slds-modal__content slds-p-around_medium">
                            <lightning-record-edit-form record-id={courseScheduleRecordId} class="CourseScheduleFormCls" object-api-name="Course_Schedule__c" 
                            onsuccess={handleCourseScheduleSuccess} onsubmit ={handleCourseScheduleSubmit} onerror={handleCourseScheduleError}>
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Session_Type__c onchange={handleChangeSessionType}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Instructor__c onchange={handleChangeInstructor}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Start_Date__c onchange={handleChangeStartDate}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=End_Date__c onchange={handleChangeEndDate}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Auto_Enroll__c onchange={handleChangeAutoEnroll}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Can_User_Drop_Course__c onchange={handleChangeCanUserDropCourse}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Location__c onchange={handleChangeLocation}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Available_Seats__c onchange={handleChangeAvailableSeats}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2 cust-dropdown">
                                        <lightning-input-field field-name=Status__c onchange={handleChangeStatus}></lightning-input-field>
                                    </div>
                                </div>
                            </lightning-record-edit-form>
                        </div>
                        <div class=slds-modal__footer>
                            <button type="button" class="btn btn_neutral" onclick={handleCourseScheduleCancelModal}>Cancel</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn_primary" onclick={handleCourseScheduleSaveModal}>Save</button>
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open"></div>
            </template>

            <template if:true={isShowCourseRoleModal}>
                <div class="slds-modal slds-fade-in-open" role=dialog>
                    <div class="slds-modal__container">
                        <div class=slds-modal__header >
                            <h2 class=slds-text-heading--medium>Course Roles</h2>
                            <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                                <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
                                alternative-text=Close title=Close onclick={handleCourseRoleCancelModal}></lightning-icon>
                            </span>
                        </div>
                        <div class="slds-modal__content slds-p-around_medium">
                            <c-lms-Course-Module-Roles course-schedule-id={courseSchduleIdForRoles}></c-lms-Course-Module-Roles>
                        </div>
                        <div class=slds-modal__footer>
                            <button type="button" class="btn btn_neutral" onclick={handleCourseRoleCancelModal}>Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open"></div>
            </template>

            <template if:true={isShowDeleteModal}>
                <div class="slds-modal slds-fade-in-open" role=dialog>
                    <div class="slds-modal__container">
                        <div class=slds-modal__header >
                            <h2 class=slds-text-heading--medium>Delete {deleteHeaderItemName}</h2>
                            <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                                <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
                                alternative-text=Close title=Close onclick={handleCancelDeleteRecord}></lightning-icon>
                            </span>
                        </div>
                        <div class="slds-modal__content slds-p-around_medium">
                            <lightning-formatted-rich-text value={deleteItemMessage}></lightning-formatted-rich-text>
                        </div>
                        <div class=slds-modal__footer>
                            <button type="button" class="btn btn_neutral" onclick={handleCancelDeleteRecord}>Cancel</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn_primary" onclick={handleDeleteRecord}>Delete</button>
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open"></div>
            </template>


        </div>
    </div>
</template>