<template>

    <lightning-textarea name="notes" 
                        label="Evaluation Notes" 
                        value={notes} 
                        required
                        onchange={handleInputs} >
    </lightning-textarea>
    
    <lightning-input type="number" 
                    label="Grade(Percentage)" 
                    max="100" 
                    formatter="percent-fixed" 
                    step="0.01" 
                    name="grades" 
                    value={grades} 
                    onchange={handleInputs} 
                    required
                    class="slds-m-vertical_small">
    </lightning-input>
    
    <div class="slds-float--right">
        <button class="slds-button slds-button_brand slds-m-around_small" onclick={handleUpdate} name="update" disabled={recordUpdated}>Update</button>
        <button class="slds-button slds-button_neutral slds-m-vertical_small" onclick={closeModal} title="Cancel">Cancel</button>
    </div>
     
</template>