.tile {
    background: #fff;
    border-radius: 6px;
    position: relative;
}
.tile.tile-lg {
    box-shadow: 0 5px 11px rgba(0,0,0,.1);
    display: flex;
    transition: all .15s;
    height: 100%;
}
.tile .tile-content {
    flex: 1;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
}
.tile.tile-lg .course-title {
    color: #1869e4;
}
.tile-b-top{
    border-top: 4px solid #2c57a0;
}
.view-course{
    font-size: 14px;
    color: #6b6d70;
    text-decoration: none;
    font-weight: bold;
}