<!--
  @description       : 
  @author            : Manish Sogani
  @group             : 
  @last modified on  : 12-31-2020
  @last modified by  : Manish Sogani
  Modifications Log 
  Ver   Date         Author          Modification
  1.0   12-31-2020   Manish Sogani   Initial Version
-->
<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text=Loading></lightning-spinner>
    </template>

    <div class="mainCmp" if:true={componentLoaded}>
        <div class="stat-bar">
            <div class="title events">My Events</div>
            <div class="cards">
                <div key={wr} class="flip-container vertical">
                    <template for:each={dataObj} for:item="wr" for:index="cci">
                        <div key={wr} class="front" data-navurl={wr.eventURL} onclick={handleEventNavigation}>
                            <div class="value"> {wr.eventCount} </div>
                            <div class="name">{wr.eventLabel}</div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>