<template>
  <!-- <div>Placeholder for User Profile </div> -->
  <div class="ny_card">
    <div class="backdrop" if:true={showSpinner}>
      <div class="spinner">
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
      </div>
    </div>

    <div class="section-header p-t-0 slds-var-p-around_small">
      <div class="d-flex justify-content-between page-header">
        <h1 class="page-title">Personal Information</h1>
      </div>
    </div>
    <lightning-card title="">
      <div class="edit__button">
        <span if:true={isEditable} class="cancel__button">
          <lightning-button
            variant="brand-outline"
            label="Cancel"
            title="Cancel"
            onclick={handleCancelEdit}
          ></lightning-button>
        </span>
        <lightning-button
          variant="brand"
          label={editOrSaveLabel}
          title="Edit"
          onclick={handleProfileEdit}
        ></lightning-button>
      </div>

      <template if:true={isEditable}>
        <div class="padding-around-lg">
          <lightning-file-upload
            label="Upload Profile Image"
            name="uploadProfileImg"
            accept={acceptedFormats}
            record-id={contactId}
            onuploadfinished={handleUploadFinished}
          >
          </lightning-file-upload>
          <p>
            <b>{uploadedImageName}</b>
          </p>

          <br />

          <p>About Me</p>
          <lightning-input-rich-text
            value={aboutMe}
            onchange={handleAboutMeChange}
          >
          </lightning-input-rich-text>
        </div>
      </template>
      <template if:false={isEditable}>
        <div class="slds-grid slds-gutters slds-grid_vertical-align-center">
          <div class="slds-col profile__img">
            <img src={imgUrl} />
          </div>
          <div class="slds-col">
            <lightning-formatted-rich-text
              value={aboutMe}
            ></lightning-formatted-rich-text>
          </div>
        </div>
      </template>
    </lightning-card>
    <lightning-card title="">
      <div class="slds-grid slds-gutters">
        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="text"
                label="First Name"
                value={obj.firstName}
                name="firstName"
                onchange={handleInputChange}
              >
              </lightning-input>
            </div>
          </span>
        </div>

        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="text"
                label="Last Name"
                value={obj.lastName}
                name="lastName"
                onchange={handleInputChange}
              >
              </lightning-input>
            </div>
          </span>
        </div>
      </div>

      <div class="slds-grid slds-gutters">
        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="Text"
                label="Email"
                value={obj.email}
                name="email"
                onchange={handleInputChange}
              >
              </lightning-input>
            </div>
          </span>
        </div>

        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="text"
                label="Phone"
                name="phone"
                onchange={handleInputChange}
                value={obj.phone}
              >
              </lightning-input>
            </div>
          </span>
        </div>
      </div>

      <div class="slds-grid slds-gutters">
        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="text"
                label="Title"
                name="title"
                onchange={handleInputChange}
                value={obj.title}
              >
              </lightning-input>
            </div>
          </span>
        </div>

        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="text"
                label="Role"
                name="role"
                onchange={handleInputChange}
                value={obj.role}
              >
              </lightning-input>
            </div>
          </span>
        </div>
      </div>

      <div class="slds-grid slds-gutters">
        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="text"
                label="Location"
                name="location"
                onchange={handleInputChange}
                value={obj.location}
              ></lightning-input>
            </div>
          </span>
        </div>

        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="text"
                label="Department"
                name="department"
                onchange={handleInputChange}
                value={obj.department}
              ></lightning-input>
            </div>
          </span>
        </div>
      </div>

      <div class="slds-grid slds-gutters">
        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="text"
                label="Supervisor"
                name="supervisor"
                onchange={handleInputChange}
                value={obj.supervisor}
              ></lightning-input>
            </div>
          </span>
        </div>

        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="Date"
                label="Birthdate"
                value={obj.birthDate}
                name="birthDate"
                onchange={handleInputChange}
              >
              </lightning-input>
            </div>
          </span>
        </div>
      </div>

      <div class="slds-grid slds-gutters">
        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="text"
                label="Mailing Address"
                name="mailingAddress"
                onchange={handleInputChange}
                value={obj.mailingAddress}
              ></lightning-input>
            </div>
          </span>
        </div>
      </div>
    </lightning-card>

    <div class="section-header p-t-0 slds-var-p-around_small">
      <div class="d-flex justify-content-between page-header">
        <h1 class="page-title">Business Information</h1>
      </div>
    </div>
    <lightning-card title="">
      <div class="slds-grid slds-gutters">
        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input type="checkbox" label="SBDC" name="SBDC">
              </lightning-input>
            </div>
          </span>
        </div>

        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="checkbox"
                label="WBC"
                name="WBC"
              ></lightning-input>
            </div>
          </span>
        </div>
      </div>

      <div class="slds-grid slds-gutters">
        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="checkbox"
                label="SCORE"
                name="SCORE"
              ></lightning-input>
            </div>
          </span>
        </div>

        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input type="checkbox" label="VBOC" name="VBOC">
              </lightning-input>
            </div>
          </span>
        </div>
      </div>
    </lightning-card>

    <!-- Muskan START-->
    <div class="section-header p-t-0 slds-var-p-around_small">
      <div class="d-flex justify-content-between page-header">
        <h1 class="page-title">My Certifications</h1>
        <button
          class="slds-button slds-button_brand"
          onclick={openAddCertificationModal}
        >
          ADD NEW CERTIFICATION
        </button>
      </div>
    </div>
    <div class="component_block">
      <!-- <div class="cm_header">
        <button
          class="slds-button slds-button_brand"
          onclick={openAddCertication}
        >
          ADD NEW CERTIFICATION
        </button>
      </div> -->
      <div class="content_block">
        <!-- <div class="content_header">
          <h1>Course Management</h1>
          <label>sheets containing Lorem</label>
        </div> -->
        <div >
          <table>
            <thead>
              <th>Name</th>
              <th>Date</th>
              <th>Issuing Authority</th>
              <th></th>
            </thead>
            <tbody>
              <template for:each={certificationsList} for:item="certification">
                <tr key={certification.certificationId}>
                  <td>{certification.certificationName}</td>
                  <td>{certification.certificationDate}</td>
                  <td>{certification.issuingAuthority}</td>
                  <td class="action__width">
                    <div class="slds-align_absolute-center">
                      <lightning-icon
                        icon-name="utility:edit"
                        alternative-text="Edit"
                        size="x-small"
                        title="Edit"
                        class="cursor_pointer"
                        onclick={openCertificationEditModal}
                        data-id={certification.certificationId}
                        
                      ></lightning-icon>
                      &nbsp;&nbsp;
                      <lightning-icon
                        icon-name="utility:delete"
                        alternative-text="Delete"
                        size="x-small"
                        title="Delete"
                        class="cursor_pointer"
                        data-rmodulename={certification.certificationName}
                        data-rid={certification.certificationId}
                        onclick={deleteModule}
                      ></lightning-icon>
                    </div>
                    
                  </td>
                  
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <template if:true={isModalOpen}>
      <section
        role="dialog"
        tabindex="-1"
        aria-labelledby="modal-heading-01"
        aria-modal="true"
        aria-describedby="modal-content-id-1"
        class="slds-modal slds-fade-in-open"
      >
        <div class="slds-modal__container">
          <header class="slds-modal__header">
            <button
              class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
              title="Close"
              onclick={closeAddCertificationModal}
            >
              <lightning-icon
                icon-name="utility:close"
                alternative-text="close"
                variant="inverse"
                size="small"
              ></lightning-icon>
              <span class="slds-assistive-text">Close</span>
            </button>
            <h2
              id="modal-heading-01"
              class="slds-text-heading_medium slds-hyphenate"
            >
              <template if:true={isCertificateEditable}>
                Edit Certification
              </template>
              <template if:false={isCertificateEditable}>
                Add Certification
              </template>
            </h2>
          </header>
          <div
            class="slds-modal__content slds-p-around_medium"
            id="modal-content-id-1"
          >
            <lightning-input
              type="text"
              label="Certication Name"
              required
              name="certificationName"
              onchange={handleInputChange}
              value={certificationObj.certificationName}
            ></lightning-input>
            <lightning-input
              type="Date"
              label="Certification Date"
              required
              name="certificationDate"
              onchange={handleInputChange}
              value={certificationObj.certificationDate}
            ></lightning-input>
            <lightning-input
              type="text"
              label="Issuing Authority"
              required
              name="issuingAuthority"
              onchange={handleInputChange}
              value={certificationObj.issuingAuthority}
            ></lightning-input>
          </div>
          <footer class="slds-modal__footer">
            <button
              class="slds-button slds-button_neutral"
              onclick={closeAddCertificationModal}
              title="Cancel"
            >
              Cancel
            </button>
            <template if:true={isCertificateEditable}>
              <button
                class="slds-button slds-button_brand"
                onclick={handleEditCertification}
                title="OK"
                data-id={certificationObj.certificationId}
              >
                Edit Certification
              </button>
            </template>
            <template if:false={isCertificateEditable}>
              <button
                class="slds-button slds-button_brand"
                onclick={handleAddCertification}
                title="OK"
              >
                Add Certification
              </button>
            </template>
          </footer>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <template if:true={isShowDeleteModal}>
      <div class="slds-modal slds-fade-in-open" role=dialog>
          <div class="slds-modal__container">
              <div class=slds-modal__header >
                  <h2 class=slds-text-heading--medium>Delete {deleteHeaderItemName}</h2>
                  <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                      <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
                      alternative-text=Close title=Close onclick={handleCancelDeleteRecord}></lightning-icon>
                  </span>
              </div>
              <div class="slds-modal__content slds-p-around_medium">
                  <lightning-formatted-rich-text value={deleteItemMessage}></lightning-formatted-rich-text>
              </div>
              <div class=slds-modal__footer>
                  <button type="button" class="btn btn_neutral" onclick={handleCancelDeleteRecord}>Cancel</button>
                  &nbsp;&nbsp;
                  <button type="button" class="btn btn_primary" onclick={handleDeleteRecord}>Delete</button>
              </div>
          </div>
      </div>
      <div class="slds-backdrop slds-backdrop--open"></div>
    </template>

    <!-- Muskan END-->


    <!-- Training Engagement-->

    <div class="section-header p-t-0 slds-var-p-around_small">
      <div class="d-flex justify-content-between page-header">
        <h1 class="page-title">Training Engagement</h1>
        <template if:true={showTotalHours}>
          <h1 class="page-text">Total Learning Hours : {obj.trainingDurationInHours}</h1>
        </template>
      </div>
    </div>
    <div class="component_block">
      <div class="content_block">
        <div>
          <table>
            <thead>
              <th>Enrollment</th>
              <th>Completion Date</th>
              <th>Duration</th>
            </thead>
            <tbody>
              <template for:each={userEnrollmentList} for:item="userEnrollment">
                <tr key={userEnrollment.enrollmentId}>
                  <td>{userEnrollment.enrollmentName}</td>
                  <td>{userEnrollment.enrollmentCompletedDate}</td>
                  <td>{userEnrollment.enrollmentDurationInHours}</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>



    <div class="section-header p-t-0 slds-var-p-around_small">
      <div class="d-flex justify-content-between page-header">
        <h1 class="page-title">Learning Levels</h1>
      </div>
    </div>
    <lightning-card title="">
      <div class="slds-grid slds-gutters">
        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="checkbox"
                label="New Counselor/Advisor"
                name="newCounselorAdvisor"
              >
              </lightning-input>
            </div>
          </span>
        </div>

        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="checkbox"
                label="Experienced Counselor/Advisor"
                name="experiencedCounselorAdvisor"
              ></lightning-input>
            </div>
          </span>
        </div>
      </div>
    </lightning-card>

    <div class="section-header p-t-0 slds-var-p-around_small">
      <div class="d-flex justify-content-between page-header">
        <h1 class="page-title">Learning Interest Areas</h1>
      </div>
    </div>
    <lightning-card title="">
      <div class="slds-grid slds-gutters">
        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="checkbox"
                label="Select All"
                name="newCounselorAdvisor"
              >
              </lightning-input>
            </div>
          </span>
        </div>

        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="checkbox"
                label="Cyber Security"
                name="cyberSecurity"
              ></lightning-input>
            </div>
          </span>
        </div>

        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="checkbox"
                label="Financial Assistance"
                name="financialAssistance"
              ></lightning-input>
            </div>
          </span>
        </div>

        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="checkbox"
                label="Tax Credit And Filing Assistance"
                name="taxCreditAndFilingAssistance"
              ></lightning-input>
            </div>
          </span>
        </div>

        <div class="slds-col">
          <span>
            <div class="slds-p-around_medium lgc-bg">
              <lightning-input
                type="checkbox"
                label="FMLA And Labor Assistance"
                name="fmlaAndLaborAssistance"
              ></lightning-input>
            </div>
          </span>
        </div>
      </div>
    </lightning-card>

    <div class="slds-var-m-top_medium">
      <lightning-button
        variant="brand"
        label="Save"
        title="Save"
        onclick={handleSave}
      ></lightning-button>
    </div>
  </div>
</template>