<!--
  @description       : 
  @author            : Manish Sogani
  @group             : 
  @last modified on  : 01-05-2021
  @last modified by  : Manish Sogani
  Modifications Log 
  Ver   Date         Author          Modification
  1.0   01-04-2021   Manish Sogani   Initial Version
-->
<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text=Loading></lightning-spinner>
    </template>

    <div class="mainCmp" if:true={componentLoaded}>
        <div class="component_block">
            <div class="cm_header">
                <h1>{newEditCourseHeading}</h1>
                <button type="button" class="btn btn_secondary" onclick={handleCancel}>Back to Course Management</button>
                <!--<button type="button" class="btn btn_secondary">SAVE &amp; EXIT</button>-->
            </div>
            <div class="stepper">
                <ul>
                    <template for:each={flowSteps} for:item="step">
                        <li key={step} class={step.className}>
                            <span>{step.stepNumber}</span>
                        </li>
                    </template>
                </ul>
            </div>

            <div class="content_block">
                <div class="content_header">
                    <div if:true={isShowStep1}>
                        <h1>Course Information</h1>
                        <label>Describe what learners can expect to accomplish by enrolling in your course</label>
                        <!--<button type="button" class="btn btn_transparent">Need Help ?</button>-->
                    </div>
                    <div if:true={isShowStep2}>
                        <h1>Course Modules</h1>
                        <label>Add, edit or remove course modules using the buttons below</label>
                        <!--<button type="button" class="btn btn_transparent">Need Help ?</button>-->
                    </div>
                    <div if:true={isShowStep3}>
                        <h1>Course Schedule</h1>
                        <label>Add, edit or remove course schedules using the buttons below</label>
                    </div>
                    <div if:true={isShowStep4}>
                        <h1>Course Pre-Requisites</h1>
                        <label>Add, edit or remove course pre-requisites using the buttons below</label>
                    </div>
                </div>
                <div class="content_body">
                    <div if:true={isShowStep1}>
                        <!-- ======Course Information Form TO DO====== -->
                        <c-lms-new-course record-id={recordId}></c-lms-new-course>
                    </div>
                    <div if:true={isShowStep2}>
                        <!-- ======Screen 2 Form TO DO====== -->
                        <c-lms-course-module record-id={recordId}></c-lms-course-module>
                    </div>
                    <div if:true={isShowStep3}>
                        <!-- ======Screen 3 Form TO DO====== -->
                        <c-lms-course-schedules record-id={recordId}></c-lms-course-schedules>
                    </div>
                    <div if:true={isShowStep4}>
                        <!-- ======Screen 3 Form TO DO====== -->
                        <c-lms-course-pre-requisites record-id={recordId}></c-lms-course-pre-requisites>
                    </div>
                </div>
                <div class="content_footer">
                    <button type="button" class="btn btn_neutral" onclick={handleCancel}>Cancel</button>
                    <div if:false={isShowStep1}>
                        <button type="button" class="btn btn_secondary" onclick={handleBack}>Back</button>
                    </div>
                    <div if:false={isShowStep4}>
                        <button type="button" class="btn btn_primary" onclick={handleNext}>Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>