.alert.info {
    background: rgba(24,105,228,.075);
    border: 2px solid rgba(24,105,228,.15);
  }
  .m-b-md {
    margin-bottom: 1.5rem!important;
  }
  .align-items-center {
    align-items: center!important;
  }
  .justify-content-between {
    justify-content: space-between!important;
  }
  @media (min-width: 768px) {
    .d-sm-flex {
        display: flex!important;
    }
  }
  
  .alert {
    padding: 1.5rem;
    flex-wrap: wrap;
  }
  .d-flex {
    display: flex!important;
  }
  .alert.info .icon {
    width: 3rem;
    height: 3rem;
    margin-right: 1.5rem;
  }
  .alert .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    min-width: 2rem;
    min-height: 2rem;
  }
  .alert.info .content {
    flex: 1;
    padding-right: 0;
  }
  .alert .content {
    padding-right: 2rem;
    font-size: 1rem;
  }
  .btn-primary {
    background-color: #1869e4;
    color: #fff;
  }
  .btn-md {
    min-height: 2.875rem;
    font-size: 1.1rem;
  }
  .s-btn {
    align-items: center;
    background-image: none;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    justify-content: center;
    margin: 0;
    min-height: 3rem;
    padding: 0 1rem;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: 600;
  }
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
  }
  .alert.info .title {
    font-size: 16px;
  }
  .alert .title {
    margin-bottom: .20rem;
    font-weight: 600;
  }