<template>
    <div class="alert info d-sm-flex justify-content-between align-items-center m-b-md ng-star-inserted">
        <div class="d-flex">
        </div>
        <div class="content" >
          <div class="title">Help</div>
          <div class="copy"> {helpText} </div>
      </div>
    </div>
</template>