<template>
  <lightning-accordion
    allow-multiple-sections-open
    onsectiontoggle={handleSectionToggle}
    active-section-name={activeSections}
  >
    <template if:true={hasQuizTaken}>
      <template for:each={wrapperData} for:item="mod">
        <lightning-accordion-section
          name={mod.courseModule.Module_Name__c}
          label={mod.courseModule.Module_Name__c}
          key={mod.courseModule.Id}
        >
          <table class="slds-table slds-table_cell-buffer slds-table_bordered">
            <thead>
              <tr class="slds-line-height_reset">
                <th class="" scope="col">
                  <div class="slds-truncate" title="Opportunity Name">Name</div>
                </th>
                <th class="" scope="col">
                  <div class="slds-truncate" title="Account Name">
                    User Score
                  </div>
                </th>
                <th class="" scope="col">
                  <div class="slds-truncate" title="Close Date">
                    Passing Score
                  </div>
                </th>
                <th class="" scope="col">
                  <div class="slds-truncate" title="Close Date">Quiz Score</div>
                </th>
                <th class="" scope="col">
                  <div class="slds-truncate" title="Close Date">Status</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <template for:each={mod.userModuleList} for:item="maps">
                <tr class="slds-hint-parent" key={maps.Id}>
                  <td data-label="Name">
                    <div class="slds-truncate" title="Name">
                      {maps.User_Enrollment__r.Contact__r.Name}
                    </div>
                  </td>
                  <td data-label="Id">
                    <div class="slds-truncate" title="Id">
                      {maps.User_Score__c}
                    </div>
                  </td>
                  <td data-label="ParentId">
                    <div class="slds-truncate" title="ParentId">
                      {maps.Course_Module__r.Passing_Score__c}
                    </div>
                  </td>
                  <td data-label="Phone">
                    <div class="slds-truncate" title="Phone">
                      {maps.Quiz_Score__c}
                    </div>
                  </td>
                  <td data-label="Edit">
                    <div class="slds-truncate" title="Phone">
                      {maps.Quiz_Result__c}
                    </div>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </lightning-accordion-section>
      </template>
    </template>
    <template if:false={hasQuizTaken}>
      <lightning-card title="">
        <p class="slds-p-horizontal_small">No Quiz Module exists.</p>
      </lightning-card>
    </template>
  </lightning-accordion>
</template>