<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text=Loading></lightning-spinner>
    </template>

    <div if:true={componentLoaded}>
        <div class="component_block">
            <table>
                <thead>
                    <tr>
                        <th style="width: 12%;"><div class="slds-align_absolute-center">Action</div></th>
                        <th>Sequence</th>
                        <th>Description</th>
                        <th>Is Correct</th>
                    </tr>
                </thead>
                <tbody>
                    <template if:true={isNoQuestionResponseRecords}>
                        <tr>
                            <td colspan="4">No Records Found</td>
                        </tr>
                    </template>
                    <template if:false={isNoQuestionResponseRecords}>
                        <template for:each={dataObj} for:item="wr" for:index="csi">
                            <tr key={wr}>
                                <td>
                                    <div class="slds-align_absolute-center">
                                        <lightning-icon icon-name="utility:edit" alternative-text="Edit" size="x-small" title="Edit" 
                                        class="cursor_pointer" data-rid={wr.questionResponse.Id} onclick={handleQuestionResponseRecordEdit}></lightning-icon>
                                        &nbsp;&nbsp;
                                        <lightning-icon icon-name="utility:delete" alternative-text="Delete" size="x-small" title="Delete" 
                                        class="cursor_pointer" data-rid={wr.questionResponse.Id} onclick={handleQuestionResponseRecordDelete}></lightning-icon>
                                    </div>
                                </td>
                                <td>{wr.questionResponse.Sequence__c}</td>
                                <td>
                                    <lightning-formatted-rich-text value={wr.questionResponse.Description__c}></lightning-formatted-rich-text>
                                </td>
                                <td>{wr.questionResponse.Is_Correct__c}</td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>

            <div style="margin-top: 10px;">
                <button type="button" class="btn btn_secondary" onclick={handleAddQuestionResponse}>Add Question Option</button>
            </div>

            <template if:true={isShowQuestionResponseRecordModal}>
                <div class="slds-modal slds-fade-in-open slds-modal_large" role=dialog>
                    <div class="slds-modal__container">
                        <div class=slds-modal__header >
                            <h2 class=slds-text-heading--medium>Question Option</h2>
                            <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                                <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
                                alternative-text=Close title=Close onclick={handleQuestionResponseCancelModal}></lightning-icon>
                            </span>
                        </div>
                        <div class="slds-modal__content slds-p-around_medium" style="min-height: 300px;">
                            <lightning-record-edit-form record-id={questionResponseRecordId} class="QuestionResponseFormCls" object-api-name="Question_Response__c" 
                                onsuccess={handleQuestionResponseSuccess} onsubmit ={handleQuestionResponseSubmit} onerror={handleQuestionResponseError}>
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Sequence__c onchange={handleChangeSequence}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Is_Correct__c onchange={handleChangeIsCorrect}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-1">
                                        <lightning-input-field field-name=Description__c onchange={handleChangeDescription}></lightning-input-field>
                                    </div>
                                </div>
                            </lightning-record-edit-form>
                        </div>
                        <div class=slds-modal__footer>
                            <button type="button" class="btn btn_neutral" onclick={handleQuestionResponseCancelModal}>Cancel</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn_primary" onclick={handleQuestionResponseSaveModal}>Save</button>
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open"></div>
            </template>

            <template if:true={isShowDeleteModal}>
                <div class="slds-modal slds-fade-in-open slds-modal_large" role=dialog>
                    <div class="slds-modal__container">
                        <div class=slds-modal__header >
                            <h2 class=slds-text-heading--medium>Delete {deleteHeaderItemName}</h2>
                            <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                                <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
                                alternative-text=Close title=Close onclick={handleCancelDeleteRecord}></lightning-icon>
                            </span>
                        </div>
                        <div class="slds-modal__content slds-p-around_medium">
                            <lightning-formatted-rich-text value={deleteItemMessage}></lightning-formatted-rich-text>
                        </div>
                        <div class=slds-modal__footer>
                            <button type="button" class="btn btn_neutral" onclick={handleCancelDeleteRecord}>Cancel</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn_primary" onclick={handleDeleteRecord}>Delete</button>
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open"></div>
            </template>
            
        </div>
    </div>
</template>