.stat-bar .title.learning {
    background: #50818e;
    box-shadow: 0 3px 0 0 #50818e;
    color: #ffffff;
}

.stat-bar .title {
    border-radius: 6px 6px 0 0;
    text-transform: uppercase;
    padding: .5rem 1rem;
    position: relative;
    z-index: 1;
    font-weight: 600;
}

.stat-bar .cards {
    display: flex;
}

.vertical.flip-container {
    position: relative;
    display: flex;
    width: 100%;
}

.flip-container:first-of-type {
    margin-left: 0;
}

.front {
    border-radius: 0 0 6px 6px;
}

.front {
    background: #fff;
    box-shadow: 0 3px 6px rgba(51, 51, 51, .16), 0 3px 6px rgba(51, 51, 51, .23);
    padding: 0 1rem;
}

.front {
    backface-visibility: hidden;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.front {
    width: 33.33%;
    cursor: pointer;
}

.front {
    height: 72px;
}

.front:hover {
    background-color: #d9e3ff;
}

.stat-bar .cards .front .value {
    font-size: 44px;
    line-height: 1;
    font-weight: 600;
}

.stat-bar .cards .front .name {
    font-size: 12px;
    padding-left: .75rem;
    letter-spacing: .25px;
    line-height: 1.1;
    width: 90px;
    font-weight: 600;
}