.card {
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .25);
    padding: 1rem 1.5rem;
    border-radius: 9px;
  }
  .card > .title {
    font-size: 22px;
    letter-spacing: -0.5px;
    font-weight: 600;
    padding-bottom: 1rem;
  }
  
  .content .title {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0.25rem;
  }
  .item-list {
    display: grid;
    grid-gap: 1rem;
    max-height: 200px;
    overflow-y:scroll;
  }
  .gap {
    display: flex;
    justify-content: space-between;
  }
  .item {
    display: flex;
    align-items: flex-start;
    justify-content: between;
  }
  .icon {
    width: 32px;
  }
  .content {
    flex: 1;
    padding: 0 1rem 1rem;
  }
  .item:not(:last-of-type) {
    border-bottom: 1px solid #eee;
  }