<!--
  @description       : 
  @author            : Manish Sogani
  @group             : 
  @last modified on  : 12-31-2020
  @last modified by  : Manish Sogani
  Modifications Log 
  Ver   Date         Author          Modification
  1.0   12-31-2020   Manish Sogani   Initial Version
-->
<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text=Loading></lightning-spinner>
    </template>

    <div class="mainCmp" if:true={componentLoaded}>
        <div class="card">
            <h2 class="title">Announcements</h2>
            <div class="item-list">
                <template for:each={dataObj} for:item="wr">
                    <div key={wr} class="item">
                        <div class="icon">
                            <template if:true={wr.isGeneralNotification}>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 48 48">
                                    <rect x="5" y="9" width="38" height="29" fill="#867fe8" />
                                    <path d="M40,6H8a4,4,0,0,0-4,4V35H44V10A4,4,0,0,0,40,6ZM6,32V10H42V32Z" fill="#444"></path>
                                    <path d="M31,34v3H17V34H0a8,8,0,0,0,8,8H40a8,8,0,0,0,8-8Z" fill="#e6e6e6"></path>
                                    <path d="M16,34H32v2a1,1,0,0,1-1,1H17a1,1,0,0,1-1-1V34Z" fill="#b3b3b3"></path>
                                    <path d="M21,26a1,1,0,0,1-1-1V18a1,1,0,0,1,1.5-.864l6,3.5a1,1,0,0,1,0,1.728l-6,3.5A1.006,1.006,0,0,1,21,26Z" fill="#fff"></path>
                                </svg>
                            </template>
                            <template if:true={wr.isCourseNotification}>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 48 48">
                                    <path fill="#BADEFC" d="M47,29c0-7.168-7.626-13-17-13s-17,5.832-17,13s7.626,13,17,13c1.119,0,2.211-0.088,3.27-0.247l8.283,4.141 C41.694,45.965,41.847,46,42,46c0.183,0,0.365-0.05,0.526-0.149C42.82,45.668,43,45.347,43,45v-7.64C45.492,35.097,47,32.182,47,29z " ></path>
                                    <path fill="#43A6DD" d="M22,2C10.42,2,1,9.626,1,19c0,3.603,1.381,7.038,4,9.96V39c0,0.347,0.18,0.668,0.474,0.851 C5.635,39.95,5.817,40,6,40c0.153,0,0.306-0.035,0.447-0.105l9.33-4.665C17.812,35.741,19.903,36,22,36c11.58,0,21-7.626,21-17 S33.58,2,22,2z" ></path>
                                </svg>
                            </template>
                        </div>
                        <div class="content">
                            <div class="gap">
                                <div class="title">{wr.ann.Title__c}</div>
                                <div class="meta">
                                    <lightning-formatted-date-time value={wr.ann.Date__c} year="numeric" month="numeric" day="numeric" hour="2-digit"
                                    minute="2-digit" time-zone="UTC"  hour12="false"></lightning-formatted-date-time>
                                </div>
                            </div>
                            <div class="description">{wr.ann.Announcement__c}</div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>