<template>
    <div class="rate">
        <input type="radio" id="star15" name={name} value="5" onchange={rating} />
        <label for="star15" title="text">5 stars</label>
        <input type="radio" id="star14" name={name} value="4" onchange={rating} />
        <label for="star14" title="text">4 stars</label>
        <input type="radio" id="star13" name={name} value="3" onchange={rating} />
        <label for="star13" title="text">3 stars</label>
        <input type="radio" id="star12" name={name} value="2" onchange={rating} />
        <label for="star12" title="text">2 stars</label>
        <input type="radio" id="star11" name={name} value="1" onchange={rating} />
        <label for="star11" title="text">1 star</label>
    </div>
</template>