<template >
    <lightning-record-view-form record-id={userEnrollmentId} object-api-name="User_Enrollment__c">
        <div class="slds-box">
            <lightning-output-field field-name="Evaluation_Notes__c"></lightning-output-field>
            <lightning-output-field field-name="Grade_Percentage__c"></lightning-output-field>
        </div>
    </lightning-record-view-form>
</template>