<!--
  @description       : 
  @author            : govind.thathera@mtxb2b.com
  @group             : 
  @last modified on  : 1/6/2021
  @last modified by  : govind.thathera@mtxb2b.com
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   12-16-2020   govind.thathera@mtxb2b.com   Initial Version
-->
<template>
    <div class="slds-p-around_xx-small">
        <div role="dialog" tabindex="0" aria-labelledby="modal-heading-01" aria-modal="true"
             aria-describedby="modal-content-id-1" class={classes}>
            <div class="slds-modal__container mobileHeightAuto" style={modalStyle}>
                <header class={headerclass} if:false={hideHeader}>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                        <!-- Header Slot -->
                        <slot name="header"></slot>
                    </h2>
                </header>
                <div class={bodyclass}>
                    <!-- Body Slot -->
                    <slot name="body"></slot>
                </div>
                <footer class={footerclass} if:false={hideFooter}>
                    <!-- Footer Slot Slot -->
                    <slot name="footer"></slot>
                </footer>
            </div>
        </div>
        <div class={backdropClass}></div>
    </div>
</template>