<template>
    <lightning-button-group if:true={showBookmarkManager}>
        <lightning-button-icon-stateful icon-name="utility:favorite" selected={bookmarked} onclick={handleBookmarkClick} alternative-text="Add Favorite" disabled={disableAddBookmark} variant="border-filled"></lightning-button-icon-stateful>
        <!--<lightning-button-icon icon-name="utility:favorite" alternative-text="favorite" title="Add Favorite" variant="border-filled" if:false={disableAddBookmark}></lightning-button-icon>
        <lightning-button-icon icon-name="utility:favorite" disabled={disableAddBookmark} alternative-text="favorite" title="Add Favorite" variant="brand" if:true={disableAddBookmark}></lightning-button-icon>-->
        <lightning-button-menu alternative-text="Show Favorites" variant="border-filled" menu-alignment="right" onselect={handleOnCourseClick}>
            <template for:each={bookmarks} for:item="bookmark">
                <lightning-menu-item if:true={bookmark.Course_Catalogue__r} label={bookmark.Course_Catalogue__r.Name} value={bookmark.Course_Catalogue__c} key={bookmark.Id} prefix-icon-name="standard:article" size="large"></lightning-menu-item>
            </template>
        </lightning-button-menu>
    </lightning-button-group>
</template>