<template>
  <!--div class="container" -->
  <div class="box">
    <div
      class="chart"
      lwc:dom="manual"
      data-percent={percentage}
      data-scale-color="#72C472"
    ></div>
    <h2>{heading}</h2>
  </div>
  <!--/div-->
</template>