.box {
  display: grid;
  grid-template-columns: repeat(1, 120px);
  grid-gap: 10px;
  margin: auto 0;
  position: relative;
}

.box {
  width: 100%;
}

.box h2 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 34px;
  opacity: 0.7;
  width: 100%;
  text-align: center;
}

.box .chart {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 105px;
  height: 120px;
  color: #333;
}

.box canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
}