<template>
    
    <lightning-formatted-rich-text value={course.courseSummary}>
    </lightning-formatted-rich-text>

    <div class="slds-var-m-top_large">
        <div class="slds-text-heading_small slds-var-m-bottom_x-small">Course tags</div>
        
        <span class="slds-badge">{course.roles}</span>
    </div>
</template>