/* @import"https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
.bg-pale-grey {
    background-color: #f6f7fb
}


/* html,
body,
* {
    font-family: "Poppins", sans-serif
} */

html,
body {
    margin: 0
}

body {
    overflow: hidden
}

[class^=mxc-theme-] {
    box-sizing: content-box
}

.mxc-theme-bs-content-box {
    box-sizing: content-box
}

.mxc-theme-footerbar {
    background-color: #222;
    box-shadow: 0 2px 0 0 #f2f2f2;
    padding: 30px 50px 16px 50px;
    color: #444
}

body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px
}

body::-webkit-scrollbar-track {
    background-color: #fff
}

body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff
}

body::-webkit-scrollbar-button {
    display: none
}

.icon-archive-paper-2::before {
    content: "\ea01"
}

.icon-archive-paper::before {
    content: "\ea03"
}

.icon-arrow-left::before {
    content: "\ea02"
}

.icon-assignment::before {
    content: "\ea04"
}

.icon-audio::before {
    content: "\ea07"
}

.icon-b-chat-2::before {
    content: "\ea05"
}

.icon-b-chat::before {
    content: "\ea06"
}

.icon-bell::before {
    content: "\ea08"
}

.icon-books-46-2::before {
    content: "\ea09"
}

.icon-books-46::before {
    content: "\ea0a"
}

.icon-comment::before {
    content: "\ea0b"
}

.icon-confiramtion::before {
    content: "\ea0c"
}

.icon-ctrl-down::before {
    content: "\ea0d"
}

.icon-ctrl-up::before {
    content: "\ea0e"
}

.icon-done::before {
    content: "\ea0f"
}

.icon-eco-home-2::before {
    content: "\ea10"
}

.icon-eco-home::before {
    content: "\ea11"
}

.icon-flag-with-circle::before {
    content: "\ea12"
}

.icon-home-2::before {
    content: "\ea14"
}

.icon-home::before {
    content: "\ea13"
}

.icon-ic_arrow_back_18px::before {
    content: "\ea15"
}

.icon-launch::before {
    content: "\ea16"
}

.icon-like-default::before {
    content: "\ea17"
}

.icon-liked::before {
    content: "\ea18"
}

.icon-megaphone-2::before {
    content: "\ea19"
}

.icon-megaphone::before {
    content: "\ea1a"
}

.icon-olympic-flame-2::before {
    content: "\ea1c"
}

.icon-olympic-flame::before {
    content: "\ea1b"
}

.icon-opening-times::before {
    content: "\ea1d"
}

.icon-pdf::before {
    content: "\ea1e"
}

.icon-present::before {
    content: "\ea1f"
}

.icon-settings-gear-2::before {
    content: "\ea21"
}

.icon-settings-gear::before {
    content: "\ea20"
}

.icon-shop-2::before {
    content: "\ea22"
}

.icon-shop::before {
    content: "\ea23"
}

.icon-shopping-cart-2::before {
    content: "\ea24"
}

.icon-slide-right::before {
    content: "\ea25"
}

.icon-trash::before {
    content: "\ea27"
}

.icon-triangle-down::before {
    content: "\ea26"
}

.icon-users-wm-2::before {
    content: "\ea29"
}

.icon-users-wm::before {
    content: "\ea28"
}

.icon-video::before {
    content: "\ea2a"
}

.icon-zoom::before {
    content: "\ea2b"
}

.mxc-theme-input-search.transparent {
    position: relative
}

.mxc-theme-input-search.transparent input {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .4);
    border: none;
    padding: 4px 30px 4px 12px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal
}

.mxc-theme-input-search.transparent input::placeholder {
    color: rgba(255, 255, 255, .6)
}

.mxc-theme-input-search.transparent::after {
    position: absolute;
    font-size: 15px;
    opacity: .6;
    color: #fff;
    top: 8px;
    right: 8px;
    pointer-events: none
}

.mxc-theme-input-radio {
    position: relative
}

.mxc-theme-input-radio>input[type=radio] {
    display: none
}

.mxc-theme-input-radio>input[type=radio]+label {
    padding: 30px;
    padding-left: 68px;
    display: block
}

.mxc-theme-input-radio>input[type=radio]+label::before,
.mxc-theme-input-radio>input[type=radio]+label::after {
    position: absolute;
    content: " ";
    top: 0;
    border-radius: 50%
}

.mxc-theme-input-radio>input[type=radio]+label::before {
    top: 30px;
    left: 30px;
    width: 20px;
    height: 20px;
    border: solid 1px #d4d9dd
}

.mxc-theme-input-radio>input[type=radio]:checked+label::before {
    width: 18px;
    height: 18px;
    border: solid 3px #0095f8
}

.mxc-theme-input-radio>input[type=radio]:checked+label::after {
    top: 37px;
    left: 37px;
    width: 10px;
    height: 10px;
    background-color: #0095f8
}

.mxc-theme-input-counter {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    height: 40px
}

.mxc-theme-input-counter>button {
    width: 40px;
    border: solid 1px rgba(155, 155, 155, .15);
    background-color: #f6f7fb;
    position: relative
}

.mxc-theme-input-counter>button:first-of-type:before,
.mxc-theme-input-counter>button:last-of-type:before {
    position: absolute;
    content: "";
    left: 13px;
    top: 50%;
    width: 14px;
    height: 1px;
    background-color: #000
}

.mxc-theme-input-counter>button:last-of-type:after {
    position: absolute;
    content: "";
    top: 13px;
    left: 50%;
    height: 14px;
    width: 1px;
    background-color: #000
}

.mxc-theme-input-counter>input {
    width: 60px;
    border: solid 1px rgba(155, 155, 155, .15);
    padding: 9px 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #313b46
}

.mxc-theme-input-text-labelled {
    display: flex;
    align-items: flex-start;
    flex-direction: column
}

.mxc-theme-input-text-labelled>label {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313b46;
    padding-bottom: 6px
}

.mxc-theme-input-text-labelled>input {
    border-radius: 3px;
    border: solid 1px rgba(155, 155, 155, .15);
    padding: 15px 20px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #788995;
    width: 100%;
    box-sizing: border-box
}

.mxc-theme-button {
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    padding: 8px 21px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    flex-direction: row
}

.mxc-theme-button.outline {
    border: solid 1px rgba(0, 0, 0, .1);
    background-color: #fff;
    color: #313b46
}

.mxc-theme-button.filled {
    color: #f6f7fb;
    background-color: #376dc8
}

.mxc-theme-button.filled:disabled {
    background-color: #9b9b9b;
    cursor: not-allowed
}

.mxc-theme-button>.icon,
.mxc-theme-sidebar-list.mxc-theme-button>.mxc-theme-item.has-dropdown::after,
.mxc-theme-button>.mxc-theme-input-search.transparent::after {
    font-size: 16px;
    padding-right: 7px
}

.mxc-theme-list-reset,
.mxc-theme-sidebar-list,
.mxc-theme-sidebar-collapse,
.mxc-theme-list li,
.mxc-theme-list {
    padding: 0;
    text-indent: 0;
    list-style-type: none;
    position: relative;
    margin: 0
}

.mxc-theme-list.has-icon {
    padding-left: 32px
}

.mxc-theme-list.has-icon .icon,
.mxc-theme-list.has-icon .mxc-theme-sidebar-list>.mxc-theme-item.has-dropdown::after,
.mxc-theme-list.has-icon .mxc-theme-input-search.transparent::after {
    position: absolute;
    top: 0;
    left: -30px;
    color: #376dc8;
    font-size: 20px
}

.mxc-theme-list li {
    padding-bottom: 32px
}

.mxc-theme-list li>.mxc-theme-title {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313b46;
    line-height: 23px;
    margin-bottom: 8px
}

.mxc-theme-list li>.mxc-theme-subtitle {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    line-height: 23px
}

.mxc-theme-list li>.mxc-theme-subtitle.mxc-theme-link {
    color: #376dc8;
    cursor: pointer
}

.mxc-theme-list li>.mxc-theme-date {
    position: absolute;
    top: 6px;
    right: 0;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    line-height: 17px
}

.mxc-theme-summary-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around
}

.mxc-theme-summary {
    margin-right: 1.3125rem;
    width: 33.33%;
    margin-bottom: auto
}

.mxc-theme-summary:last-of-type {
    margin-right: 0
}

.mxc-theme-summary>img {
    height: 140px;
    width: 100%;
    margin-bottom: 16px
}

.mxc-theme-summary>.mxc-theme-title {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #555
}

.mxc-theme-summary>.mxc-theme-subtitle {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313b46;
    margin-top: 10px
}

.mxc-theme-summary>.mxc-theme-read-more {
    color: #376dc8;
    font-size: 12px
}

.mxc-theme-summary>.mxc-theme-date {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    margin-top: 10px
}

.mxc-theme-notification-badge {
    font-size: 24px;
    color: #fff;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, .1);
    padding: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer
}

.mxc-theme-notification-badge>.icon,
.mxc-theme-sidebar-list.mxc-theme-notification-badge>.mxc-theme-item.has-dropdown::after,
.mxc-theme-notification-badge>.mxc-theme-input-search.transparent::after {
    position: relative
}

.mxc-theme-notification-badge .mxc-theme-notification-badge-count {
    position: absolute;
    top: 0;
    right: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    min-width: 13px;
    height: 13px;
    background-color: #fff;
    color: #4285f4;
    font-size: 8px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal
}

.mxc-theme-header {
    height: 90px;
    background-color: #0074d1;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-width: 1280px
}

.mxc-theme-header>.mxc-theme-logo-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 40px;
    height: 100%
}

.mxc-theme-header .mxc-theme-logo-img {
    height: 30px;
    display: block;
    margin-right: 20px
}

.mxc-theme-header .mxc-theme-logo-text {
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff
}

.mxc-theme-header>.mxc-theme-input-search {
    margin: 0 auto;
}

.mxc-theme-header>.mxc-theme-right-content {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%
}

.mxc-theme-header>.mxc-theme-right-content>.mxc-theme-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    border-right: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer
}

.mxc-theme-avatar-dropdown {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    padding: 0 30px;
    box-sizing: border-box;
    min-width: 210px
}

.mxc-theme-avatar-dropdown>.mxc-theme-img {
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border: solid 1px #fff;
    margin-right: 11px
}

.mxc-theme-avatar-dropdown>.mxc-theme-text {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    margin-right: 11px
}

.mxc-theme-avatar-dropdown>.profileName {
    width: 100px;
}

.mxc-theme-avatar-dropdown>.icon,
.mxc-theme-sidebar-list.mxc-theme-avatar-dropdown>.mxc-theme-item.has-dropdown::after,
.mxc-theme-avatar-dropdown>.mxc-theme-input-search.transparent::after {
    font-size: 8px;
    color: #fff
}

.icon-archive-paper-2::before {
    content: "\ea01"
}

.icon-archive-paper::before {
    content: "\ea03"
}

.icon-arrow-left::before {
    content: "\ea02"
}

.icon-assignment::before {
    content: "\ea04"
}

.icon-audio::before {
    content: "\ea07"
}

.icon-b-chat-2::before {
    content: "\ea05"
}

.icon-b-chat::before {
    content: "\ea06"
}

.icon-bell::before {
    content: "\ea08"
}

.icon-books-46-2::before {
    content: "\ea09"
}

.icon-books-46::before {
    content: "\ea0a"
}

.icon-comment::before {
    content: "\ea0b"
}

.icon-confiramtion::before {
    content: "\ea0c"
}

.icon-ctrl-down::before {
    content: "\ea0d"
}

.icon-ctrl-up::before {
    content: "\ea0e"
}

.icon-done::before {
    content: "\ea0f"
}

.icon-eco-home-2::before {
    content: "\ea10"
}

.icon-eco-home::before {
    content: "\ea11"
}

.icon-flag-with-circle::before {
    content: "\ea12"
}

.icon-home-2::before {
    content: "\ea14"
}

.icon-home::before {
    content: "\ea13"
}

.icon-ic_arrow_back_18px::before {
    content: "\ea15"
}

.icon-launch::before {
    content: "\ea16"
}

.icon-like-default::before {
    content: "\ea17"
}

.icon-liked::before {
    content: "\ea18"
}

.icon-megaphone-2::before {
    content: "\ea19"
}

.icon-megaphone::before {
    content: "\ea1a"
}

.icon-olympic-flame-2::before {
    content: "\ea1c"
}

.icon-olympic-flame::before {
    content: "\ea1b"
}

.icon-opening-times::before {
    content: "\ea1d"
}

.icon-pdf::before {
    content: "\ea1e"
}

.icon-present::before {
    content: "\ea1f"
}

.icon-settings-gear-2::before {
    content: "\ea21"
}

.icon-settings-gear::before {
    content: "\ea20"
}

.icon-shop-2::before {
    content: "\ea22"
}

.icon-shop::before {
    content: "\ea23"
}

.icon-shopping-cart-2::before {
    content: "\ea24"
}

.icon-slide-right::before {
    content: "\ea25"
}

.icon-trash::before {
    content: "\ea27"
}

.icon-triangle-down::before {
    content: "\ea26"
}

.icon-users-wm-2::before {
    content: "\ea29"
}

.icon-users-wm::before {
    content: "\ea28"
}

.icon-video::before {
    content: "\ea2a"
}

.icon-zoom::before {
    content: "\ea2b"
}

.mxc-theme-sidebar-collapse {
    background-color: #1a4da1;
    display: none
}

.mxc-theme-sidebar-collapse li {
    color: #fff;
    padding: 1rem 19px 1rem 40px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
    white-space: nowrap
}

.mxc-theme-sidebar-list {
    height: calc(100% - 92px);
    overflow-y: auto
}

.mxc-theme-sidebar-list>.mxc-theme-item {
    position: relative;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem 31px 1rem 40px;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer
}

.mxc-theme-sidebar-list>.mxc-theme-item:first-child {
    border-top: 1px solid #f2f2f2;
}

.mxc-theme-sidebar-list>.mxc-theme-item>.mxc-theme-title {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-left: 20px;
    pointer-events: none;
    transition: .3s ease-out;
    white-space: nowrap
}

.mxc-theme-sidebar-list>.mxc-theme-item>.icon,
.mxc-theme-sidebar-list>.mxc-theme-sidebar-list.mxc-theme-item>.mxc-theme-item.has-dropdown::after,
.mxc-theme-sidebar-list>.mxc-theme-item>.mxc-theme-input-search.transparent::after {
    font-size: 22px;
    pointer-events: none
}

.mxc-theme-sidebar-list>.mxc-theme-item>.icon.is-active,
.mxc-theme-sidebar-list>.mxc-theme-sidebar-list.mxc-theme-item>.is-active.mxc-theme-item.has-dropdown::after,
.mxc-theme-sidebar-list>.mxc-theme-item>.is-active.mxc-theme-input-search.transparent::after {
    display: none
}

.mxc-theme-sidebar-list>.mxc-theme-item.has-dropdown::after {
    position: absolute;
    content: "\ea0d";
    font-size: 12px;
    top: 26px;
    right: 31px;
    pointer-events: none;
    transition: .3s ease-out
}

.mxc-theme-sidebar-list>.mxc-theme-item.active {
    color: #fff
}

.mxc-theme-sidebar-list>.mxc-theme-item.active+.mxc-theme-sidebar-collapse {
    display: block
}

.mxc-theme-sidebar-list>.mxc-theme-item.active>.icon,
.mxc-theme-sidebar-list>.mxc-theme-item.active>.mxc-theme-input-search.transparent::after,
.mxc-theme-sidebar-list>.mxc-theme-sidebar-list.mxc-theme-item.active>.mxc-theme-item.has-dropdown::after {
    display: none
}

.mxc-theme-sidebar-list>.mxc-theme-item.active>.icon.is-active,
.mxc-theme-sidebar-list>.mxc-theme-item.active>.is-active.mxc-theme-input-search.transparent::after,
.mxc-theme-sidebar-list>.mxc-theme-sidebar-list.mxc-theme-item.active>.is-active.mxc-theme-item.has-dropdown::after {
    display: block
}

.mxc-theme-sidebar-list>.mxc-theme-item.active::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: -1px;
    width: 6px;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, .05);
    background-color: #fff
}

.mxc-theme-sidebar {
    background-color: #0074d1;
    width: 280px;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .3s ease-out;
    overflow: hidden;
    flex-wrap: nowrap
}

.mxc-theme-sidebar>.mxc-theme-sidebar-toggle {
    display: flex;
    align-items: center;
    padding: 35px 41px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    cursor: pointer
}

.mxc-theme-sidebar>.mxc-theme-sidebar-toggle>.icon,
.mxc-theme-sidebar>.mxc-theme-sidebar-toggle>.mxc-theme-input-search.transparent::after,
.mxc-theme-sidebar>.mxc-theme-sidebar-list.mxc-theme-sidebar-toggle>.mxc-theme-item.has-dropdown::after {
    transition: .3s ease-out
}

.mxc-theme-sidebar>.mxc-theme-sidebar-toggle>span {
    padding-left: 21px;
    white-space: nowrap
}

.mxc-theme-sidebar.mxc-theme-sidebar-is-closed {
    width: 100px
}

.mxc-theme-sidebar.mxc-theme-sidebar-is-closed .mxc-theme-title,
.mxc-theme-sidebar.mxc-theme-sidebar-is-closed .mxc-theme-item.has-dropdown::after,
.mxc-theme-sidebar.mxc-theme-sidebar-is-closed .mxc-theme-sidebar-toggle span {
    opacity: 0
}

.mxc-theme-sidebar.mxc-theme-sidebar-is-closed .mxc-theme-sidebar-collapse {
    display: none !important
}

.mxc-theme-card {
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, .05);
    background-color: #fff;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column
}

.mxc-theme-card>.mxc-theme-title {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0f175a;
    padding: 20px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.mxc-theme-card>.mxc-theme-footer {
    border-top: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #376dc8;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 16px;
    text-align: center
}

.mxc-theme-card>.mxc-theme-list {
    padding-top: 16px;
    margin: 0 23px auto 23px
}

.mxc-theme-card>.mxc-theme-list>li:last-of-type {
    padding-bottom: 0
}

.mxc-theme-card>.mxc-theme-summary-container {
    padding: 25px
}

.mxc-theme-card>.mxc-theme-table-container {
    padding: 21px 30px 0 30px;
    margin-bottom: auto
}

.mxc-theme-card-joinee {
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, .05);
    background-color: #fff;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column
}

.mxc-theme-card-joinee>.mxc-theme-title {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0f175a;
    padding: 20px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.mxc-theme-card-joinee .mxc-theme-subtitle {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #9b9b9b;
    display: flex;
    align-items: center;
    flex-direction: row
}

.mxc-theme-card-joinee .mxc-theme-subtitle>div {
    flex: 1;
    text-align: left
}

.mxc-theme-card-joinee>.mxc-theme-list {
    padding-top: 16px;
    margin: 0 23px auto 23px
}

.mxc-theme-card-joinee>.mxc-theme-list>li {
    position: relative;
    padding-left: 84px
}

.mxc-theme-card-joinee>.mxc-theme-list>li>img {
    position: absolute;
    height: 52px;
    width: 52px;
    top: 0;
    left: 0
}

.mxc-theme-card-cart {
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, .05);
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    position: relative
}

.mxc-theme-card-cart .mxc-theme-description {
    position: relative;
    width: 100%;
    height: 194px;
    cursor: pointer
}

.mxc-theme-card-cart .mxc-theme-description>img {
    width: 100%;
    height: 100%
}

.mxc-theme-card-cart .mxc-theme-description>div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(49, 59, 70, .8);
    color: #f6f7fb;
    padding: 23px 20px;
    transition: .3s ease-out;
    opacity: 0
}

.mxc-theme-card-cart .mxc-theme-description .mxc-theme-title {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-bottom: 6px
}

.mxc-theme-card-cart .mxc-theme-description .mxc-theme-info {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal
}

.mxc-theme-card-cart .mxc-theme-description:hover>div {
    opacity: 1
}

.mxc-theme-card-cart .mxc-theme-content {
    padding: 21px 20px
}

.mxc-theme-card-cart .mxc-theme-content .mxc-theme-title {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #555;
    padding-bottom: 15px
}

.mxc-theme-card-cart .mxc-theme-content .mxc-theme-info {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    padding-bottom: 5px
}

.mxc-theme-card-cart .mxc-theme-content .mxc-theme-content-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between
}

.mxc-theme-card-cart .mxc-theme-content .mxc-theme-points {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313b46
}

.mxc-theme-card-cart .mxc-theme-content .mxc-theme-points>span {
    font-size: 20px;
    font-weight: bold
}

.mxc-theme-card-cart.disabled {
    background-color: rgba(85, 85, 85, .2)
}

.mxc-theme-card-cart.disabled .mxc-theme-description:hover {
    cursor: not-allowed
}

.mxc-theme-card-cart.disabled .mxc-theme-description:hover>div {
    opacity: 0
}

.mxc-theme-card-cart.disabled .mxc-theme-content .mxc-theme-info {
    color: #f5a623
}

.mxc-theme-card-cart.disabled .mxc-theme-content .mxc-theme-button.filled {
    background-color: #9b9b9b;
    pointer-events: none
}

.mxc-theme-card-tourguide {
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, .05);
    background-image: linear-gradient(133deg, #3771cc, #3c32cc);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative
}

.mxc-theme-card-tourguide>.mxc-theme-title {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff
}

.mxc-theme-card-tourguide>.mxc-theme-avatar {
    width: 150px;
    height: 150px;
    -webkit-clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    margin-top: 20px;
    margin-bottom: 27px
}

.mxc-theme-card-tourguide>.mxc-theme-badge {
    position: absolute;
    top: 164px;
    left: calc(50% + 45px)
}

.mxc-theme-card-tourguide>.mxc-theme-name {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f6f7fb;
    padding-bottom: 5px
}

.mxc-theme-card-tourguide>.mxc-theme-designation {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f6f7fb
}

.mxc-theme-card-order-confirmation {
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, .05);
    background-color: #fff;
    border-radius: 3px;
    padding: 2rem
}

.mxc-theme-card-order-confirmation>.mxc-theme-title {
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: .81;
    letter-spacing: normal;
    color: #376dc8;
    padding-bottom: 20px
}

.mxc-theme-card-order-confirmation>.mxc-theme-subtitle {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #9b9b9b;
    padding-bottom: 12px
}

.mxc-theme-card-order-confirmation>.mxc-theme-info {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #313b46
}

.mxc-theme-topbar {
    background-color: #fff;
    box-shadow: 0 2px 0 0 #f2f2f2;
    padding: 30px 50px 16px 50px
}

.mxc-theme-topbar>.mxc-theme-title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #555;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    padding-bottom: 20px
}

.mxc-theme-topbar>.mxc-theme-topbar-bottom {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 17px
}

.mxc-theme-topbar>.mxc-theme-topbar-bottom>.mxc-theme-topbar-left,
.mxc-theme-topbar>.mxc-theme-topbar-bottom>.mxc-theme-topbar-right {
    display: flex;
    align-items: center;
    flex-direction: row
}

.mxc-theme-topbar>.mxc-theme-topbar-bottom>.mxc-theme-topbar-right .mxc-theme-button:first-of-type {
    margin-right: 20px
}

.mxc-theme-topbar .mxc-theme-topbar-earned {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313b46;
    margin-right: 14px
}

.mxc-theme-topbar .mxc-theme-topbar-points {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #376dc8
}

.mxc-theme-topbar-back {
    background-color: #fff;
    box-shadow: 0 2px 0 0 #f2f2f2;
    padding: 30px 50px 16px 50px
}

.mxc-theme-topbar-back>.mxc-theme-content {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #788995
}

.mxc-theme-topbar-back>.mxc-theme-title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #555
}

.mxc-theme-topbar-back .mxc-theme-subtitle {
    padding-left: 16px
}

.mxc-theme-stepper.is-horizontal {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    min-height: 54px;
    padding: 0 35px
}

.mxc-theme-stepper.is-horizontal .mxc-theme-title {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #313b46;
    position: absolute;
    top: 35px;
    white-space: nowrap
}

.mxc-theme-stepper.is-horizontal>.mxc-theme-stepper-step {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 54px;
    margin-right: 190px;
    cursor: pointer
}

.mxc-theme-stepper.is-horizontal>.mxc-theme-stepper-step>.icon-done {
    color: #376dc8;
    font-size: 24px
}

.mxc-theme-stepper.is-horizontal>.mxc-theme-stepper-step>.mxc-theme-stepper-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #37bc9b;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center
}

.mxc-theme-stepper.is-horizontal>.mxc-theme-stepper-step:after {
    position: absolute;
    content: "";
    top: 10px;
    left: calc(100% + 20px);
    width: 150px;
    height: 2px;
    background-color: rgba(151, 151, 151, .15)
}

.mxc-theme-stepper.is-horizontal>.mxc-theme-stepper-step:last-of-type {
    margin-right: 0
}

.mxc-theme-stepper.is-horizontal>.mxc-theme-stepper-step:last-of-type:after {
    display: none
}

.mxc-theme-stepper.is-horizontal>.mxc-theme-stepper-step.disabled {
    cursor: not-allowed
}

.mxc-theme-stepper.is-horizontal>.mxc-theme-stepper-step.disabled>.mxc-theme-stepper-marker {
    background-color: rgba(0, 0, 0, .27)
}

.mxc-theme-carousel {
    position: relative;
    border-radius: 3px;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, .05);
    overflow: hidden
}

.mxc-theme-carousel.mxc-theme-carousel-connect {
    height: 140px;
    width: 100%
}

.mxc-theme-carousel.mxc-theme-carousel-connect .mxc-theme-carousel-window {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    transition: .6s ease-out
}

.mxc-theme-carousel.mxc-theme-carousel-connect .mxc-theme-carousel-window img {
    height: 100%;
    width: 100%
}

.mxc-theme-carousel.mxc-theme-carousel-connect .mxc-theme-carousel-pages {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 20px
}

.mxc-theme-carousel.mxc-theme-carousel-connect .mxc-theme-carousel-page {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer
}

.mxc-theme-carousel.mxc-theme-carousel-connect .mxc-theme-carousel-page.mxc-theme-active {
    border: solid 2px #fff;
    background-color: #376dc8
}

.mxc-theme-carousel.mxc-theme-carousel-connect .mxc-theme-carousel-page::last-of-type {
    margin-right: 0
}

.mxc-theme-table {
    border-collapse: collapse;
    width: 100%
}

.mxc-theme-table.mxc-theme-table-tasks td,
.mxc-theme-table.mxc-theme-table-tasks tr {
    text-align: left
}

.mxc-theme-table.mxc-theme-table-tasks th {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #f6f7fb;
    background-color: #376dc8;
    padding: 14px 0
}

.mxc-theme-table.mxc-theme-table-tasks th:first-of-type {
    padding-left: 40px
}

.mxc-theme-table.mxc-theme-table-tasks td {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #313b46;
    padding: 21px 0
}

.mxc-theme-table.mxc-theme-table-tasks td:first-of-type {
    padding-left: 35px;
    border-bottom: 0;
    font-weight: 600;
    color: #376dc8
}

.mxc-theme-table.mxc-theme-table-tasks tr {
    border-bottom: solid 1px rgba(0, 0, 0, .1)
}

.mxc-theme-table.mxc-theme-table-tasks tr:first-of-type,
.mxc-theme-table.mxc-theme-table-tasks tr:last-of-type {
    border-bottom: 0
}

.mxc-theme-table.mxc-theme-table-tasks tr>td:first-of-type {
    color: #376dc8
}

.mxc-theme-table.mxc-theme-table-products td,
.mxc-theme-table.mxc-theme-table-products tr {
    text-align: left
}

.mxc-theme-table.mxc-theme-table-products th {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
    padding: 20px 0
}

.mxc-theme-table.mxc-theme-table-products th:nth-of-type(2) {
    padding-left: 10px
}

.mxc-theme-table.mxc-theme-table-products td {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313b46;
    padding: 16px 0
}

.mxc-theme-table.mxc-theme-table-products td:first-of-type {
    padding-left: 20px;
    width: 60px
}

.mxc-theme-table.mxc-theme-table-products td:nth-of-type(2) {
    padding-left: 10px
}

.mxc-theme-table.mxc-theme-table-products tr {
    border-bottom: solid 1px rgba(0, 0, 0, .1)
}

.mxc-theme-table.mxc-theme-table-products tbody tr:last-of-type {
    border-bottom: none
}

.mxc-theme-table .mxc-theme-table-product-img {
    width: 60px;
    height: 60px
}

.mxc-theme-table .mxc-theme-table-product-text {
    font-weight: 600;
    color: #313b46
}

.mxc-theme-table.mxc-theme-table-leaderboard td,
.mxc-theme-table.mxc-theme-table-leaderboard tr {
    text-align: left
}

.mxc-theme-table.mxc-theme-table-leaderboard th {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #f6f7fb;
    background-color: #376dc8;
    padding: 14px 0
}

.mxc-theme-table.mxc-theme-table-leaderboard th:first-of-type {
    padding-left: 40px
}

.mxc-theme-table.mxc-theme-table-leaderboard th:last-of-type {
    text-align: right;
    padding-right: 10px
}

.mxc-theme-table.mxc-theme-table-leaderboard td {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313b46;
    padding: 20px 0
}

.mxc-theme-table.mxc-theme-table-leaderboard td:first-of-type {
    width: 8%;
    padding-right: 2rem
}

.mxc-theme-table.mxc-theme-table-leaderboard td:last-of-type {
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #9b9b9b
}

.mxc-theme-table.mxc-theme-table-leaderboard tr {
    border-bottom: 0
}

.mxc-theme-table.mxc-theme-table-leaderboard .mxc-theme-table-leaderboard-img {
    width: 50px;
    height: 50px;
    border: solid 1px #979797
}

.mxc-theme-overlay-container-class {
    position: relative;
    min-width: 1000px;
    min-height: 1000px
}

.mxc-theme-overlay-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #376dc8;
    min-width: 500px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .71
}

.mxc-theme-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center
}

.mxc-theme-overlay-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}

.mxc-theme-overlay-placeholder {
    height: auto;
    width: 60%
}

.mxc-theme-overlay-text {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #4285f4;
    margin-top: 30px
}

.mxc-theme-overlay-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px
}

.mxc-theme-overlay-button {
    border: none;
    cursor: pointer;
    font-style: normal;
    font-stretch: normal;
    line-height: 41px;
    letter-spacing: normal;
    text-align: center;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid #376dc8;
    border-radius: 3px;
    font-size: 24px;
    font-weight: 600;
    line-height: 41px;
    color: #4285f4;
    text-align: center
}

.mxc-theme-overlay-button:first-of-type {
    margin-right: 30px
}

@font-face {
    font-family: "Internal-Project-Icon";
    src: url("fonts/Internal-Project-Icon.eot");
    src: url("fonts/Internal-Project-Icon.eot") format("embedded-opentype"), url("fonts/Internal-Project-Icon.woff2") format("woff2"), url("fonts/Internal-Project-Icon.woff") format("woff"), url("fonts/Internal-Project-Icon.ttf") format("truetype"), url("fonts/Internal-Project-Icon.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

.icon,
.mxc-theme-input-search.transparent::after,
.mxc-theme-sidebar-list>.mxc-theme-item.has-dropdown::after {
    display: inline-block;
    font: normal normal normal 1em/1 "Internal-Project-Icon";
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-sm {
    font-size: .8em
}

.icon-lg {
    font-size: 1.2em
}

.icon-16 {
    font-size: 16px
}

.icon-32 {
    font-size: 32px
}

.icon-bg-square,
.icon-bg-circle {
    padding: .35em;
    background-color: #eee
}

.icon-bg-circle {
    border-radius: 50%
}

.icon-ul {
    padding-left: 0;
    list-style-type: none
}

.icon-ul>li {
    display: flex;
    align-items: flex-start;
    line-height: 1.4
}

.icon-ul>li>.icon,
.icon-ul>li>.mxc-theme-input-search.transparent::after,
.icon-ul>li.mxc-theme-sidebar-list>.mxc-theme-item.has-dropdown::after {
    margin-right: .4em;
    line-height: inherit
}

.icon-is-spinning {
    -webkit-animation: icon-spin 2s infinite linear;
    -moz-animation: icon-spin 2s infinite linear;
    animation: icon-spin 2s infinite linear
}

@-webkit-keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes icon-spin {
    0% {
        -moz-transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(360deg)
    }
}

@keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.icon-rotate-0,
.mxc-theme-sidebar.mxc-theme-sidebar-is-closed .mxc-theme-sidebar-toggle>.icon,
.mxc-theme-sidebar.mxc-theme-sidebar-is-closed .mxc-theme-sidebar-toggle>.mxc-theme-input-search.transparent::after,
.mxc-theme-sidebar.mxc-theme-sidebar-is-closed .mxc-theme-sidebar-list.mxc-theme-sidebar-toggle>.mxc-theme-item.has-dropdown::after {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
}

.icon-rotate-90 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.icon-rotate-180,
.mxc-theme-sidebar-list>.mxc-theme-item.active.has-dropdown::after,
.mxc-theme-sidebar>.mxc-theme-sidebar-toggle>.icon,
.mxc-theme-sidebar>.mxc-theme-sidebar-toggle>.mxc-theme-input-search.transparent::after,
.mxc-theme-sidebar>.mxc-theme-sidebar-list.mxc-theme-sidebar-toggle>.mxc-theme-item.has-dropdown::after {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.icon-rotate-270 {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

.icon-flip-y {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.icon-flip-x {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1)
}

.icon-archive-paper-2::before {
    content: "\ea01"
}

.icon-archive-paper::before {
    content: "\ea03"
}

.icon-arrow-left::before {
    content: "\ea02"
}

.icon-assignment::before {
    content: "\ea04"
}

.icon-audio::before {
    content: "\ea07"
}

.icon-b-chat-2::before {
    content: "\ea05"
}

.icon-b-chat::before {
    content: "\ea06"
}

.icon-bell::before {
    content: "\ea08"
}

.icon-books-46-2::before {
    content: "\ea09"
}

.icon-books-46::before {
    content: "\ea0a"
}

.icon-comment::before {
    content: "\ea0b"
}

.icon-confiramtion::before {
    content: "\ea0c"
}

.icon-ctrl-down::before {
    content: "\ea0d"
}

.icon-ctrl-up::before {
    content: "\ea0e"
}

.icon-done::before {
    content: "\ea0f"
}

.icon-eco-home-2::before {
    content: "\ea10"
}

.icon-eco-home::before {
    content: "\ea11"
}

.icon-flag-with-circle::before {
    content: "\ea12"
}

.icon-home-2::before {
    content: "\ea14"
}

.icon-home::before {
    content: "\ea13"
}

.icon-ic_arrow_back_18px::before {
    content: "\ea15"
}

.icon-launch::before {
    content: "\ea16"
}

.icon-like-default::before {
    content: "\ea17"
}

.icon-liked::before {
    content: "\ea18"
}

.icon-megaphone-2::before {
    content: "\ea19"
}

.icon-megaphone::before {
    content: "\ea1a"
}

.icon-olympic-flame-2::before {
    content: "\ea1c"
}

.icon-olympic-flame::before {
    content: "\ea1b"
}

.icon-opening-times::before {
    content: "\ea1d"
}

.icon-pdf::before {
    content: "\ea1e"
}

.icon-present::before {
    content: "\ea1f"
}

.icon-settings-gear-2::before {
    content: "\ea21"
}

.icon-settings-gear::before {
    content: "\ea20"
}

.icon-shop-2::before {
    content: "\ea22"
}

.icon-shop::before {
    content: "\ea23"
}

.icon-shopping-cart-2::before {
    content: "\ea24"
}

.icon-slide-right::before {
    content: "\ea25"
}

.icon-trash::before {
    content: "\ea27"
}

.icon-triangle-down::before {
    content: "\ea26"
}

.icon-users-wm-2::before {
    content: "\ea29"
}

.icon-users-wm::before {
    content: "\ea28"
}

.icon-video::before {
    content: "\ea2a"
}

.icon-zoom::before {
    content: "\ea2b"
}

.mxc-theme-layout-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row
}

.mxc-theme-layout-container>.mxc-theme-aside {
    flex-shrink: 0
}

.mxc-theme-layout-container>.mxc-theme-main {
    flex: 1;
    height: calc(100vh - 60px);
    overflow-y: auto
}

.mxc-theme-layout-split {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between
}

.mxc-theme-flex-row {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap
}

.mxc-theme-flex-1 {
    flex: 1;
    min-width: 300px;
    margin: 1rem
}

.mxc-theme-flex-2 {
    flex: 2;
    min-width: 600px;
    margin: 1rem
}

.mxc-theme-flex-3 {
    flex: 3;
    min-width: 600px;
    margin: 1rem 1rem 1rem 3rem
}

.mxc-theme-p-1 {
    padding: 1rem
}

.mxc-theme-p-2 {
    padding: 2rem
}

.mxc-theme-px-1 {
    padding-left: 1rem;
    padding-right: 1rem
}

.mxc-theme-px-2 {
    padding-left: 2rem;
    padding-right: 2rem
}

.mxc-theme-py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.mxc-theme-py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.mxc-theme-pt-1 {
    padding-top: 1rem
}

.mxc-theme-pt-2 {
    padding-top: 2rem
}

.mxc-theme-pt-3 {
    padding-top: 3rem
}

.mxc-theme-pr-0-5 {
    padding-right: .5rem
}

.mxc-theme-pl-0-5 {
    padding-left: .5rem
}

.mxc-theme-m-0 {
    margin: 0
}

.mxc-theme-mt-1 {
    margin-top: 1rem
}

.mxc-theme-mr-0 {
    margin-right: 0
}

.mxc-theme-mr-0-5 {
    margin-right: .5rem
}

.mxc-theme-mr-1 {
    margin-right: 1rem
}

.mxc-theme-mr-2 {
    margin-right: 2rem
}

.mxc-theme-ml-0-5 {
    margin-left: .5rem
}

.mxc-theme-cart-detail {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px
}

.mxc-theme-cart-detail>img {
    width: 90px;
    height: 90px;
    margin-right: 25px
}

.mxc-theme-cart-detail .mxc-theme-cart-title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    align-self: stretch;
    margin-right: auto;
    width: 300px
}

.mxc-theme-cart-detail .mxc-theme-cart-title>div:first-of-type {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #313b46
}

.mxc-theme-cart-detail .mxc-theme-cart-title>div:last-of-type {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #313b46
}

.mxc-theme-cart-detail>.mxc-theme-cart-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px
}

.mxc-theme-cart-detail>.mxc-theme-cart-right>.icon,
.mxc-theme-cart-detail>.mxc-theme-cart-right>.mxc-theme-input-search.transparent::after,
.mxc-theme-cart-detail>.mxc-theme-sidebar-list.mxc-theme-cart-right>.mxc-theme-item.has-dropdown::after {
    color: #ce0000;
    width: 12px;
    height: 10px;
    font-size: 15px;
    height: 15px;
    width: 15px
}

.mxc-theme-cart-total {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    width: 400px;
    margin-top: 6px;
    border-top: solid 2px rgba(155, 155, 155, .15);
    padding-top: 23px
}

.mxc-theme-cart-total>div:first-of-type {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #313b46
}

.mxc-theme-cart-total>div:last-of-type {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #313b46
}

.mxc-theme-cart-checkout-bordercontainer {
    border-radius: 3px;
    border: solid 1px rgba(155, 155, 155, .15)
}

.mxc-theme-cart-checkout-title {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313b46;
    margin-bottom: 8px
}

.mxc-theme-cart-checkout-subtitle {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #9b9b9b
}

.mxc-theme-cart-checkout-edit {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #376dc8;
    margin-bottom: 11px;
    cursor: pointer
}

.mxc-theme-cart-points-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 420px
}

.mxc-theme-cart-points-information>span {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #313b46
}

.mxc-theme-cart-points-information>span:last-of-type {
    font-weight: bold
}

.mxc-theme-blog-detail {
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, .05);
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    min-width: 1000px
}

.mxc-theme-blog-detail>.mxc-theme-blog-banner-img {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    width: 100%;
    height: 140px
}

.mxc-theme-blog-detail>.mxc-theme-blog-content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2.5rem
}

.mxc-theme-blog-detail .mxc-theme-blog-aside {
    padding-right: 1.8rem
}

.mxc-theme-blog-detail p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #555;
    padding-bottom: 1.8rem
}

.mxc-theme-blog-detail .mxc-theme-blog-avatar-container {
    display: flex;
    align-items: flex-start;
    padding-bottom: 1rem
}

.mxc-theme-blog-detail .mxc-theme-blog-avatar-container .mxc-theme-blog-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
    flex-shrink: 0
}

.mxc-theme-blog-detail .mxc-theme-blog-avatar-container .mxc-theme-blog-person {
    min-width: 130px
}

.mxc-theme-blog-detail .mxc-theme-blog-avatar-container .mxc-theme-blog-person>div:first-of-type {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #555
}

.mxc-theme-blog-detail .mxc-theme-blog-avatar-container .mxc-theme-blog-person>div:nth-of-type(2) {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b
}

.mxc-theme-blog-detail .mxc-theme-blog-views {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #555
}

.mxc-theme-blog-detail .mxc-theme-blog-date {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b
}

.mxc-theme-bookmark-dropdown button {
    border: none;
}

.tile {
    border-top: none !important;
}