<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text=Loading></lightning-spinner>
    </template>

    <div if:true={componentLoaded}>
        <div class="component_block">
            <table>
                <thead>
                    <tr>
                        <th style="width: 12%;"><div class="slds-align_absolute-center">Action</div></th>
                        <th>Sequence</th>
                        <th>Category</th>
                        <th>Question Type</th>
                        <th>Score</th>
                        <th>Active?</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <template if:true={isNoQuestionRecords}>
                        <tr>
                            <td colspan="7">No Records Found</td>
                        </tr>
                    </template>
                    <template if:false={isNoQuestionRecords}>
                        <template for:each={dataObj} for:item="wr" for:index="csi">
                            <tr key={wr}>
                                <td>
                                    <div class="slds-align_absolute-center">
                                        <lightning-icon icon-name="utility:edit" alternative-text="Edit" size="x-small" title="Edit" 
                                        class="cursor_pointer" data-rid={wr.question.Id} onclick={handleQuestionRecordEdit}></lightning-icon>
                                        &nbsp;&nbsp;
                                        <lightning-icon icon-name="utility:delete" alternative-text="Delete" size="x-small" title="Delete" 
                                        class="cursor_pointer" data-rid={wr.question.Id} onclick={handleQuestionRecordDelete}></lightning-icon>
                                    </div>
                                </td>
                                <td>{wr.question.Sequence__c}</td>
                                <td>{wr.question.Category__c}</td>
                                <td>{wr.question.Question_Type__c}</td>
                                <td>{wr.question.Score__c}</td>
                                <td>{wr.question.Is_Active__c}</td>
                                <td>
                                    <div class="slds-align_absolute-center">
                                        <lightning-icon icon-name="utility:refresh" alternative-text="Options" size="x-small" title="Options" 
                                        class="cursor_pointer" data-rid={wr.question.Id} onclick={handleShowQuestionResponsesModal}></lightning-icon>
                                    </div>
                                </td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>

            <div style="margin-top: 10px;">
                <button type="button" class="btn btn_secondary" onclick={handleAddQuestion}>Add Question</button>
            </div>

            <template if:true={isShowQuestionRecordModal}>
                <div class="slds-modal slds-fade-in-open slds-modal_large" role=dialog>
                    <div class="slds-modal__container">
                        <div class=slds-modal__header >
                            <h2 class=slds-text-heading--medium>Question</h2>
                            <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                                <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
                                alternative-text=Close title=Close onclick={handleQuestionCancelModal}></lightning-icon>
                            </span>
                        </div>
                        <div class="slds-modal__content slds-p-around_medium" style="min-height: 300px;">
                            <lightning-record-edit-form record-id={questionRecordId} class="QuestionFormCls" object-api-name="Question__c" 
                                onsuccess={handleQuestionSuccess} onsubmit ={handleQuestionSubmit} onerror={handleQuestionError}>
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Category__c onchange={handleChangeCategory}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Question_Type__c onchange={handleChangeQuestionType}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Sequence__c onchange={handleChangeSequence}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Score__c onchange={handleChangeScore}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-1">
                                        <lightning-input-field field-name=Description__c onchange={handleChangeDescription}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Is_Active__c onchange={handleChangeIsActive}></lightning-input-field>
                                    </div>
                                </div>
                            </lightning-record-edit-form>
                        </div>
                        <div class=slds-modal__footer>
                            <button type="button" class="btn btn_neutral" onclick={handleQuestionCancelModal}>Cancel</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn_primary" onclick={handleQuestionSaveModal}>Save</button>
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open"></div>
            </template>

            <template if:true={isShowQuestionResponsesModal}>
                <div class="slds-modal slds-fade-in-open slds-modal_large" role=dialog>
                    <div class="slds-modal__container">
                        <div class=slds-modal__header >
                            <h2 class=slds-text-heading--medium>Question Options</h2>
                            <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                                <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
                                alternative-text=Close title=Close onclick={handleQuestionResponsesCancelModal}></lightning-icon>
                            </span>
                        </div>
                        <div class="slds-modal__content slds-p-around_medium">
                            <c-lms-quiz-question-responses question-id={questionIdForQuestionResponses}></c-lms-quiz-question-responses>
                        </div>
                        <div class=slds-modal__footer>
                            <button type="button" class="btn btn_neutral" onclick={handleQuestionResponsesCancelModal}>Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open"></div>
            </template>

            <template if:true={isShowDeleteModal}>
                <div class="slds-modal slds-fade-in-open slds-modal_large" role=dialog>
                    <div class="slds-modal__container">
                        <div class=slds-modal__header >
                            <h2 class=slds-text-heading--medium>Delete {deleteHeaderItemName}</h2>
                            <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                                <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
                                alternative-text=Close title=Close onclick={handleCancelDeleteRecord}></lightning-icon>
                            </span>
                        </div>
                        <div class="slds-modal__content slds-p-around_medium">
                            <lightning-formatted-rich-text value={deleteItemMessage}></lightning-formatted-rich-text>
                        </div>
                        <div class=slds-modal__footer>
                            <button type="button" class="btn btn_neutral" onclick={handleCancelDeleteRecord}>Cancel</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn_primary" onclick={handleDeleteRecord}>Delete</button>
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open"></div>
            </template>

        </div>
    </div>
</template>