<!--
  @description       : 
  @author            : Manish Sogani
  @group             : 
  @last modified on  : 01-04-2021
  @last modified by  : Manish Sogani
  Modifications Log 
  Ver   Date         Author          Modification
  1.0   01-04-2021   Manish Sogani   Initial Version
-->
<template>
	<div class="component_block">
		<div class="cm_header"> <a href="/s/new-course" class="addnewCourseBtn">ADD A NEW COURSE</a> </div>
		<div class="content_block">
			<div class="content_header">
				<h1>Course Management</h1>
				<label>sheets containing Lorem</label>
			</div>
			<div class="table_data">
				<table>
					<thead>
						<th>Course Title</th>
						<th>Applicable Role</th>
						<th>Status</th>
						<th>Published On</th>
						<th>Ratings</th>
						<th>Enrolled</th>
						<th>Action</th>
					</thead>
					<tbody>
						<template for:each={courses} for:item="con">
							<tr key={con.Id}>
								<td><a href={con.courseCatalogUrl}>{con.courseCatalog.Name}</a></td>
								<td>{con.courseCatalog.Roles__c}</td>
								<td>{con.courseCatalog.Status__c}</td>
								<td>{con.courseCatalog.Published_Date__c}</td>
								<td>
									<div class="rating"> <span class="active">☆</span> <span class="active">☆</span> <span class="active">☆</span> <span>☆</span> <span>☆</span> </div>
								</td>
								<td>{con.courseCatalog.Total_Enrollment__c}</td>
								<td>
									<lightning-button variant="brand" label="Manage" data-course-id={con.courseCatalog.Id} title="Manage" onclick={manageCourse} class="slds-m-left_x-small"></lightning-button>


								</td>
							</tr>
						</template>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>