.addnewCourseBtn{
    background: #fff;
    border: 2px solid #0261ad;
    color: #0261ad;
    padding: 6px 15px;
    font-size: 16px;
    cursor: pointer;
    font-family: Mulish,sans-serif;
    transition: all .3s;
    border-radius: 3px;
    text-decoration: none;
}