button{
    background: #cccccc;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    &.primary{
        background: rgb(1, 118, 180);
        color: #ffffff;
    }
    &:focus{
        outline: none;
    }
}