@import "./form-elements.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
body {
    font-family: "Mulish", sans-serif;
    background: #ececec;
}

.main_header {
    background: rgb(1, 118, 180);
    height: 90px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .brand_logo{
        a{
           color: rgb(255, 255, 255);
            font-size: 18px;
            display: flex;
            align-items: center;
            cursor: pointer;
            img{
                height: 70px;
                width: 70px;
                margin-right: 10px;
            } 
        }
    }
    .user_info{
        a{
            display: flex;
            align-items: center;
            color: rgb(255, 255, 255);
            font-size: 16px;
            cursor: pointer;
            img{
                width: 36px;
                height: 36px;
                margin-left: 10px;
            }
        }
        
    }
}

.breadcrumbs{
    background: rgb(255, 255, 255);
    height: 110px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 1;
    ul{
        list-style: none;
        li{
            display: inline-block;
            color: rgb(79, 79, 79);
            font-size: 15px;  
            margin-right: 15px;  
            font-weight: 600;
            &.current{
                font-weight: normal;
            }
        }
    }
}

.main_content {
    display: flex;
    height: calc(100vh - 90px);
    .left_nav {
        width: 300px;
        padding: 30px;
        background: #ffffff;
        height: 100%;
        overflow: auto;
    }
    .main_content {
        width: calc(100% - 300px);
        height: 100%;
        overflow: auto;
        padding: 40px 40px 0 40px;
        background: #eeeeee;
    }
}

.nav_list {
    list-style: none;
    padding: 10px 0;
    li {
        padding: 10px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 6px;
        cursor: pointer;
        transition: background .3s;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        img{
            margin-right: 10px;
            &.default{
                display: block;
            }
            &.active{
                display: none;
            }
        }
        
        &.logout_li{
            margin-top: 50px;
        }
        &:hover,
        &.active {
            color: rgb(1, 118, 180);
            background: rgba(0, 0, 0, 0.04);
            border-radius: 4px;
            img{
                &.default{
                    display: none;
                }
                &.active{
                    display: block;
                } 
            }  
        }
    }
}

.component_block{
    width: 100%;
    .cm_header{
        text-align: right;
    }
    .content_block {
        margin-top: 30px;
        padding: 25px 30px;
        background: #ffffff;
        border-radius: 3px;
        border: 1px solid rgb(195, 214, 240);
        overflow: hidden;
        .content_header{
            position: relative;
            &:after{
                content: '';
                border-bottom: 2px dotted #eeeeee;
                height: 2px;
                width: 120%;
                position: absolute;
                left: -10%;
                z-index: 0;
                bottom: 10px;
            }
            h1{
                color: rgb(51, 51, 51);
                font-size: 22px;
                font-weight: 600;   
                margin-bottom: 10px;
            }
            label{
                color: rgb(136, 136, 136);
                font-size: 16px;
                line-height: 26px;
                position: relative;
                z-index: 1;
                background: white;
                padding: 0 10px;
                left: -10px;
            }
            
        }
    }   
}
.table_data{
    margin: 65px 0 100px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(221, 221, 221);
    thead{
        th{
            text-transform: uppercase;
            font-size: 14px;
            color: #908888;
            padding: 10px;
            background: #f9f9f9;
            text-align: left;
            border-bottom: 1px solid rgb(221, 221, 221);
            font-weight: normal;
        }
    }
    tbody{
        tr{
            td{
                padding: 10px;
                font-size: 14px;
                font-weight: 600;
                border-bottom: 1px solid rgb(221, 221, 221);
                a{
                    color: #0176b4;
                }
            }
        }
    }
}
.rating {
  font-size: 14px;
  unicode-bidi: bidi-override;
  color: #efd358;
  span {
    display: inline-block;
    position: relative;
    width: 1em;
  }
}
.rating > span.active:before {
  content: "\2605";
  position: absolute;
}