@charset "UTF-8";
button {
  background: #cccccc;
  padding: 10px 15px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
button.primary {
  background: #0176b4;
  color: #ffffff;
}
button:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Mulish", sans-serif;
  background: #ececec;
}

.main_header {
  background: #0176b4;
  height: 90px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_header .brand_logo a {
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main_header .brand_logo a img {
  height: 70px;
 
  margin-right: 10px;
}
.main_header .user_info a {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.main_header .user_info a img {
  width: 36px;
  height: 36px;
  margin-left: 10px;
}

.breadcrumbs {
  background: white;
  height: 110px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.19);
  position: relative;
  z-index: 1;
}
.breadcrumbs ul {
  list-style: none;
}
.breadcrumbs ul li {
  display: inline-block;
  color: #4f4f4f;
  font-size: 15px;
  margin-right: 15px;
  font-weight: 600;
}
.breadcrumbs ul li.current {
  font-weight: normal;
}

.main_content {
  display: flex;
  height: calc(100vh - 90px);
}
.main_content .left_nav {
  width: 300px;
  padding: 30px;
  background: #ffffff;
  height: 100%;
  overflow: auto;
}
.main_content .main_content {
  width: calc(100% - 300px);
  height: 100%;
  overflow: auto;
  padding: 40px 40px 0 40px;
  background: #eeeeee;
}

.nav_list {
  list-style: none;
  padding: 10px 0;
}
.nav_list li {
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.nav_list li img {
  margin-right: 10px;
}
.nav_list li img.default {
  display: block;
}
.nav_list li img.active {
  display: none;
}
.nav_list li.logout_li {
  margin-top: 50px;
}
.nav_list li:hover, .nav_list li.active {
  color: #0176b4;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.nav_list li:hover img.default, .nav_list li.active img.default {
  display: none;
}
.nav_list li:hover img.active, .nav_list li.active img.active {
  display: block;
}

.component_block {
  width: 100%;
}
.component_block .cm_header {
  text-align: right;
}
.component_block .content_block {
  margin-top: 30px;
  padding: 25px 30px;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #c3d6f0;
  overflow: hidden;
}
.component_block .content_block .content_header {
  position: relative;
}
.component_block .content_block .content_header:after {
  content: "";
  border-bottom: 2px dotted #eeeeee;
  height: 2px;
  width: 120%;
  position: absolute;
  left: -10%;
  z-index: 0;
  bottom: 10px;
}
.component_block .content_block .content_header h1 {
  color: #333333;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.component_block .content_block .content_header label {
  color: #888888;
  font-size: 16px;
  line-height: 26px;
  position: relative;
  z-index: 1;
  background: white;
  padding: 0 10px;
  left: -10px;
}

.table_data {
  margin: 65px 0 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dddddd;
}
table thead th {
  text-transform: uppercase;
  font-size: 14px;
  color: #908888;
  padding: 10px;
  background: #f9f9f9;
  text-align: left;
  border-bottom: 1px solid #dddddd;
  font-weight: normal;
}
table tbody tr td {
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #dddddd;
}
table tbody tr td a {
  color: #0176b4;
}

.rating {
  font-size: 14px;
  unicode-bidi: bidi-override;
  color: #efd358;
}
.rating span {
  display: inline-block;
  position: relative;
  width: 1em;
}

.rating > span.active:before {
  content: "★";
  position: absolute;
}

/*# sourceMappingURL=main.css.map */
