<template>
    <template if:false={noModulesFound}>
       
        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
            <thead>
                <tr class="slds-line-height_reset">
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Module Name">Module Name</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Status">Status</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Completion Date">Completion Date</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Action">Action</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <template if:true={modulesExist} for:each={modules} for:item="module">
                    <tr class="slds-hint-parent" key={module.umaId}>
                        <th data-label="Module Name" scope="row">
                            <div class="slds-truncate" title={module.moduleName}>
                                {module.moduleName}
                            </div>
                        </th>
                        <td data-label="Status">
                            <div class="slds-truncate" title={module.moduleStatus}>{module.moduleStatus}</div>
                        </td>
                        <td data-label="Completion Date">
                            <div class="slds-truncate" if:true={module.moduleIsCompleted}>
                                <lightning-formatted-date-time value={module.completionDate}></lightning-formatted-date-time>
                            </div>
                        </td>
                        <td data-label="Action">
                            <template if:false={module.moduleIsCompleted}>
                                <lightning-button variant="brand" label="Launch" title="Launch" onclick={handleLaunch} data-module-id={module.moduleId} data-module-video-url={module.moduleVideoUrl} data-module-type={module.moduleType} data-uma-id={module.umaId} disabled={module.disableActions} data-scorm-url={module.scormURL}></lightning-button>
                            </template>
                            <template if:true={module.moduleIsCompleted}>
                                <lightning-button variant="neutral" label="Revisit" title="Revisit" onclick={handleRevisit} data-module-id={module.moduleId} data-module-video-url={module.moduleVideoUrl} data-module-type={module.moduleType} data-uma-id={module.umaId} disabled={module.disableActions}></lightning-button>
                            </template>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        <div class="slds-m-top_medium slds-m-right_medium slds-float_right" if:true={isShowSubmitForApprovalButton}>
            <lightning-button label="Submit for Approval" variant=brand onclick={handleSubmitForApproval}></lightning-button>
        </div>
    </template>
    <template if:true={noModulesFound}>
        <div class="slds-text-color_error slds-text-align_center slds-var-m-top_small slds-text-heading_small">No modules found</div>
    </template>


    <template if:true={isModalQuizOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Quiz Module</h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                  <c-l-m-s_-quiz course-module-id={courseModuleId} oncancel={closeModal}></c-l-m-s_-quiz>
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <!-- <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">OK</button>
                </footer> -->
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:true={isModalVideoOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-2" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Video Module</h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-var-p-around_medium" id="modal-content-id-2" style="height:75vh;">
                   
                        <iframe width="100%" height="100%" src={fullUrl}></iframe>
                    
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_brand" onclick={completeModule} title="Complete">Complete</button>
                    <!-- <button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">OK</button> -->
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <template if:true={isModalScormOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-03" aria-modal="true" aria-describedby="modal-content-id-3" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-03" class="slds-text-heading_medium slds-hyphenate">Video Module</h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-var-p-around_medium" id="modal-content-id-3" style="height:75vh;">
                   
                       <c-scrom-demo   scrom-u-r-l={scormURL} user-module-associate-id={userModuleId} ></c-scrom-demo>
                    
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <!-- <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">OK</button>
                </footer> -->
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    


</template>