.mainCmp {
    margin-bottom: 2.5rem;
}

.page-header h1.page-title {
    text-transform: capitalize;
    color: #222;
    font-size: 30px;
}

.page-header h1.page-title+.description {
    font-size: 18px;
    font-style: italic;
}

.s-tile.blank-tile {
    padding: 2rem;
}

.s-tile.no-border {
    border-top: 0;
}

.s-tile {
    background: #fff;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .1);
}

.search-input-label {
    margin-bottom: .5rem;
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
}

.tile {
    background: #fff;
    border-radius: 6px;
    position: relative;
}

.tile.tile-lg {
    box-shadow: 0 5px 11px rgba(0, 0, 0, .1);
    display: flex;
    transition: all .15s;
    height: 100%;
}

.tile .tile-content {
    flex: 1;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
}

.d-sm-grid.four-col {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.m-t-md {
    margin-top: 1.5rem!important;
}

.d-sm-grid {
    flex-wrap: wrap;
    display: grid;
    column-gap: 2rem;
    font-size: 13px;
    row-gap: 2rem;
}

.tile.tile-lg .controls {
    margin-top: auto;
    padding-top: 0.5rem;
}

.tile.tile-lg .course-title {
    color: #1869e4;
}

.tile .course-title {
    font-size: 20px;
    margin: 0;
    line-height: 1.2;
    font-weight: 600;
}

.clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.tile.tile-lg .description {
    font-size: 14px;
}

.tile .description {
    color: #343434;
    margin-bottom: 1rem;
    padding-top: .5rem;
    font-size: 16px;
    max-height: 140px;
    overflow: hidden;
}

.richtext-reset.description {
    line-height: 1.3;
}

.clamp-6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cursor_pointer {
    cursor: pointer;
}

.m-t-lg {
    margin-top: 2rem;
}

.tile-no-results {
    padding: 1.5rem;
    background: #fff;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .1);
    border-left: 6px solid #c00;
}

.justify-content-between {
    justify-content: space-between!important;
}

.d-sm-flex {
    display: flex!important;
}

.tile-no-results .card-title {
    font-size: 18px;
    padding-bottom: .3333333333rem;
    line-height: 1.2;
    font-weight: 600;
}

.tile-no-results .description {
    line-height: 1.4;
}

.courses-heading {
    margin-top: 5px;
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
}

.view-course {
    font-size: 14px;
    color: #6b6d70;
    text-decoration: none;
    font-weight: bold;
}

.tile-b-top {
    border-top: 4px solid #2c57a0;
}

.page-header {
    margin: 10px 0;
}

.page-header .page-header__title {
    font-size: 30px;
}

.page-header .page-header__subtitle {
    font-size: 14px;
}

.download-button {
    float: right;
}

.slds-modal__content {
    min-height: 250px;
}

@charset "UTF-8";
.btn {
    background: #cccccc;
    padding: 6px 15px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: "Mulish", sans-serif;
    transition: all 0.3s;
    border-radius: 3px;
    min-width: 110px;
}

.btn:focus {
    outline: none;
}

.btn.btn_primary {
    background: #0176b4;
    color: #ffffff;
}

.btn.btn_secondary {
    background: #ffffff;
    border: 2px solid #0261ad;
    color: #0261ad;
}

.btn.btn_transparent {
    background: transparent;
    padding: 10px 0;
    color: #0261ad;
}