<template>
	<lightning-spinner if:true={loading} style="height: 100vh" alternative-text="Loading" size="large"> </lightning-spinner>
	<div if:true={trainingPlan} class="row form-section">
		<div>
			<lightning-button variant="base" label="Back To Training Plans" title="Back" icon-name="utility:back" class="slds-var-m-left_x-small" onclick={backToTrainingPlans}></lightning-button>
		</div>
		<div style="float:right">
			<!-- <lightning-button variant="brand" label="Feedback" title="Feedback" icon-name="standard:feedback" class="slds-var-m-left_x-small" onclick={submitFeedback}></lightning-button> -->
			<lightning-button variant="brand" label="Request" title="Request" icon-name="standard:feedback" class="slds-var-m-left_x-small" onclick={requestSubmit}></lightning-button>
		</div>
		<div class="page-header">
			<div class="page-header__title">{trainingPlan.Name}</div>
			<div class="page-header__subtitle"> {trainingPlan.Description__c} </div>
		</div>
	</div>
	<template if:true={noCoursesFound}>
		<div class="s-tile blank-tile no-border tile-no-results m-t-lg">
			<div class="d-sm-flex justify-content-between">
				<div class="content">
					<div>
						<div class="card-title">{noCourseFoundTitle}</div>
						<!-- <div class="description">To view and enroll in courses, please visit the Training &amp; Development Plan.</div> -->
					</div>
					<div class="slds-var-m-top_medium">
            No Courses Added 
						<!-- <lightning-button variant="brand" label="View Training &amp; Development Plan" title="View Training &amp; Development Plan" onclick={handleViewTrainingPlans}></lightning-button> -->
					</div>
				</div>
			</div>
		</div>
	</template>
	<template if:true={courseRecordsFound}>
		<div class="d-sm-grid four-col m-t-md">
			<template for:each={dataObj} for:item="wr" for:index="cci">
				<div key={wr} class="tile tile-lg tile-b-top">
					<div class="tile-content col-sm-4">
						<div class="slds-p-around_small"> <a href="javascript:void(0);" data-course-id={wr.courseId} onclick={navigateToCourse} class="course-title clamp-3">{wr.courseName}</a>
							<div class="description clamp-6 richtext-reset">
								<lightning-formatted-rich-text value={wr.courseDescription}></lightning-formatted-rich-text>
							</div>
							<!-- <div>
                <lightning-badge label={wr.sessionType}></lightning-badge>
              </div> -->
							<div class="controls"> <a href="javascript:void(0);" data-course-id={wr.courseId} onclick={navigateToCourse} class="view-course">
                  View Course <lightning-icon icon-name="utility:forward" alternative-text="View Course" 
                  size="x-small"></lightning-icon>
                </a> </div>
						</div>
					</div>
				</div>
			</template>
		</div>
	</template>
	<!-- Request Modal -->
	<template if:true={isShowRequestModal}>
		<div class="slds-modal slds-fade-in-open" role=dialog>
			<div class="slds-modal__container" style="min-height: 250px">
				<div class=slds-modal__header>
					<h2 class=slds-text-heading--medium>Request</h2> <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
					<lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
					alternative-text=Close title=Close onclick={handleRequestCancel}></lightning-icon>
				</span> </div>
				<div class="slds-modal__content slds-p-around_medium">
					<lightning-combobox name="progress" required=t rue label="Type" value={requestType} placeholder="Select Type" options={options} onchange={handleRequestTypeChange}></lightning-combobox>
					<lightning-textarea name="Comment" required=t rue label="Comment" onchange={handleRequestFieldChange} value={requestComment}></lightning-textarea>
					<template if:true={isShowDateField}>
						<lightning-input type="date" required=t rue name="Date" label="Date" onchange={handleRequestFieldChange} value={requestDate}></lightning-input>
					</template>
				</div>
				<div class=slds-modal__footer>
					<button type="button" class="btn btn_neutral" onclick={handleRequestCancel}>Cancel</button> &nbsp;&nbsp;
					<button type="button" class="btn btn_primary" onclick={handleRequestSend}>Save</button>
				</div>
			</div>
		</div>
		<div class="slds-backdrop slds-backdrop--open"></div>
	</template>
	<!-- Submit FeedBack Modal -->
	<template if:true={isShowSubmitFeedbackModal}>
		<div class="slds-modal slds-fade-in-open" role=dialog>
			<div class="slds-modal__container">
				<div class=slds-modal__header>
					<h2 class=slds-text-heading--medium>Feedback</h2> <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
					<lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
					alternative-text=Close title=Close onclick={handleFeedbackCancel}></lightning-icon>
				</span> </div>
				<div class="slds-modal__content slds-p-around_medium">
					<lightning-textarea name="Comment" required=t rue label="Comment" onchange={handleFeedbackFieldChange} value={feedbackComment}></lightning-textarea>
				</div>
				<div class=slds-modal__footer>
					<button type="button" class="btn btn_neutral" onclick={handleFeedbackCancel}>Cancel</button> &nbsp;&nbsp;
					<button type="button" class="btn btn_primary" onclick={handleFeedbackSave}>Save</button>
				</div>
			</div>
		</div>
		<div class="slds-backdrop slds-backdrop--open"></div>
	</template>
</template>