<template>
  
                    <div class="grid">
                        <div class="col-4">
                            <div class="ds_type">
                                <h2>Login Matrix</h2>
                                <div class="ds_tiles">
                                    <div class="ds_item">
                                        <h3>Login Matrix 1</h3>
                                        <div class="ds_count purple"><span>2</span></div>
                                        <label>Lorem Ipsum Dolor Sit Amet</label>
                                        <ul class="ds_actions">
                                            <li><i class="fa fa-expand" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                    <div class="ds_item">
                                        <h3>Login Matrix 2</h3>
                                        <div class="ds_count green"><span>2</span></div>
                                        <label>Lorem Ipsum Dolor Sit Amet</label>
                                    </div>
                                    <div class="ds_item">
                                        <h3>Login Matrix 3</h3>
                                        <div class="ds_count green"><span>2</span></div>
                                        <label>Lorem Ipsum Dolor Sit Amet</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="ds_type">
                                <h2>Course Catalogue</h2>
                                <div class="ds_tiles">
                                    <div class="ds_item"  onclick={navigateToLmsCourseCatalogueAdminDetailsDraft}>
                                        <h3>Draft</h3>
                                        <div class="ds_count purple"><span>{courses.draftCourseCatalogue}</span></div>
                                        <label>{courses.draftCourseCatalogue} Draft Course Catalogue</label>
                                    </div>
                                    <div class="ds_item" id="published" onclick={navigateToLmsCourseCatalogueAdminDetailsPublished}>
                                        <h3>Published</h3>
                                        <div class="ds_count green"><span>{courses.publishedCourseCatalogue}</span></div>
                                        <label>{courses.publishedCourseCatalogue} Published Course Catalogue</label>
                                    </div>
                                    <div class="ds_item" id="archived" onclick={navigateToLmsCourseCatalogueAdminDetailsArchived}>
                                        <h3>Archived</h3>
                                        <div class="ds_count green"><span>{courses.archivedCourseCatalogue}</span></div>
                                        <label>{courses.archivedCourseCatalogue} Archived Course Catalogue</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="ds_type">
                                <h2>User Module</h2>
                                <div class="ds_tiles">
                                    <div class="ds_item" onclick={navigateToLmsUserModuleAdminDetailsCompleted}>
                                        <h3>Completed</h3>
                                        <div class="ds_count purple"><span>{courses.completedUserModuleAssociation}</span></div>
                                        <label>Lorem Ipsum Dolor Sit Amet</label>
                                    </div>
                                    <div class="ds_item" onclick={navigateToLmsUserModuleAdminDetailsIncomplete}>
                                        <h3>Incomplete</h3>
                                        <div class="ds_count green"><span>{courses.incompleteUserModuleAssociation}</span></div>
                                        <label>Lorem Ipsum Dolor Sit Amet</label>
                                    </div>
                                    <div class="ds_item" onclick={navigateToLmsUserModuleAdminDetailsOverdue}>
                                        <h3>Overdue</h3>
                                        <div class="ds_count green"><span>{courses.overdueUserModuleAssociation}</span></div>
                                        <label>Lorem Ipsum Dolor Sit Amet</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="ds_type">
                                <h2>Course Module</h2>
                                <div class="ds_tiles">
                                    <div class="ds_item" onclick={navigateToLmsCourseModuleAdminDetailsDraft}>
                                        <h3>Draft</h3>
                                        <div class="ds_count purple"><span>{courses.draftCourseModule}</span></div>
                                        <label>{courses.draftCourseModule} Draft Course Module</label>
                                        
                                    </div>
                                    <div class="ds_item" onclick={navigateToLmsCourseModuleAdminDetailsPublished}>
                                        <h3>Published</h3>
                                        <div class="ds_count purple"><span>{courses.publishedCourseModule}</span></div>
                                        <label>{courses.publishedCourseModule} Published Course Module</label>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
</template>