<template>
  <div class="slds-grid slds-gutters">
    <div class="slds-col slds-size_2-of-3">
      <div>
        <h1 style="font-size: 30px">{trainingPlan.Name}</h1>
        <h1 style="font-size: 16px"><b>Roles: </b>{trainingPlan.Role__c}</h1>
        <h1 style="font-size: 16px">
          
          <template if:true={isEditable}
            ><b>Is Active? : </b>
            <lightning-input
              class="slds-p-left_xx-large"
              type="checkbox"
              name="Is_Active__c"
              label=""
              checked={trainingPlan.Is_Active__c}
              onchange={handleActiveStatus}
            ></lightning-input
          ></template>
          <template if:false={isEditable} 
            ><b>Status : </b>
            <span style="text-transform: uppercase"
              ><b if:true={trainingPlan.Is_Active__c}>Active</b>
              <b if:false={trainingPlan.Is_Active__c}>Inactive</b>
             
              </span >
            </template >
            
        </h1>
      </div>
    </div>
    <div class="slds-col slds-size_1-of-3 slds-text-align_right">
      <lightning-button
        variant="brand"
        label={isEditOrSave}
        title="Edit"
        onclick={editTrainingPlan}
        class="slds-m-left_x-small"
      ></lightning-button>
      <lightning-button
        variant="brand"
        label="Add Courses"
        title="Add Courses"
        onclick={openAddCourseModal}
        class="slds-m-left_x-small"
      ></lightning-button>
    </div>
  </div>
  <div class="slds-p-top_large">
    <table class="slds-table slds-table_cell-buffer slds-table_bordered">
      <thead>
        <tr class="slds-line-height_reset">
          <th class="" scope="col">
            <div class="slds-truncate" title="Action">Action</div>
          </th>
          <th class="" scope="col">
            <div class="slds-truncate" title="Name">Name</div>
          </th>
          <th class="" scope="col">
            <div class="slds-truncate" title="Business Justification">
              Duration
            </div>
          </th>
          <th class="" scope="col">
            <div class="slds-truncate slds-align_absolute-center" title="Date">
              Role
            </div>
          </th>
          <th class="" scope="col" style="width: 600px">
            <div class="slds-wrap" title="Vendor">Summary</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <template for:each={trainingPlanCourses} for:item="trainingPlanCourse">
          <tr class="slds-hint-parent" key={trainingPlanCourse.Id}>
            <td class="action__width">
              <div class="slds-align_absolute-center">
               
                <lightning-icon
                  icon-name="utility:delete"
                  alternative-text="Delete"
                  size="x-small"
                  title="Delete"
                  class="cursor_pointer"
                  data-rid={trainingPlanCourse.Id}
                  data-rmodulename={trainingPlanCourse.Name} 
                  onclick={deleteModule}
                ></lightning-icon>
              </div>
            </td>
            <th data-label="Training Name" scope="row">
              <div class="slds-truncate" title={trainingPlanCourse.Name}>
                {trainingPlanCourse.Name}
              </div>
            </th>
            <td data-label="Status">
              <div class="slds-truncate" title={trainingPlanCourse.Duration__c}>
                {trainingPlanCourse.Duration__c}
              </div>
            </td>
            <td data-label="Status">
              <div
                class="slds-truncate slds-align_absolute-center"
                title={trainingPlanCourse.Roles__c}
              >
                {trainingPlanCourse.Roles__c}
              </div>
            </td>
            <td
              class="slds-cell-wrap"
              data-label="Status"
              style="max-width: 600px"
            >
              <lightning-formatted-rich-text
                value={trainingPlanCourse.Summary__c}
              ></lightning-formatted-rich-text>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>

  <template if:true={isModalOpen}>
    <section
      role="dialog"
      tabindex="-1"
      aria-labelledby="modal-heading-01"
      aria-modal="true"
      aria-describedby="modal-content-id-1"
      class="slds-modal slds-fade-in-open"
    >
      <div class="slds-modal__container">
        <header class="slds-modal__header">
          <button
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            title="Close"
            onclick={closeAddCourseModal}
          >
            <lightning-icon
              icon-name="utility:close"
              alternative-text="close"
              variant="inverse"
              size="small"
            ></lightning-icon>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2
            id="modal-heading-01"
            class="slds-text-heading_medium slds-hyphenate"
          >
            Add courses to Training Plan
          </h2>
        </header>
        <div
          class="slds-modal__content slds-p-around_medium"
          id="modal-content-id-1"
        >
          <div class="slds-p-top_large">
            <table
              class="slds-table slds-table_cell-buffer slds-table_bordered"
            >
              <thead>
                <tr class="slds-line-height_reset">
                  <th class="" scope="col">
                    <div class="slds-truncate" title="Name">Name</div>
                  </th>
                  <th class="" scope="col">
                    <div class="slds-truncate" title="Duration">Duration</div>
                  </th>
                  <th class="" scope="col">
                    <div class="slds-truncate" title="Date">Role</div>
                  </th>
                  <th class="" scope="col" style="text-align: revert">
                    <div class="slds-truncate" title="Vendor">Add</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <template
                  for:each={remainingCourses}
                  for:item="remainingCourse"
                >
                  <tr class="slds-hint-parent" key={remainingCourse.Id}>
                    <th data-label="Training Name" scope="row">
                      <div class="slds-truncate" title={remainingCourse.Name}>
                        {remainingCourse.Name}
                      </div>
                    </th>
                    <td data-label="Status">
                      <div
                        class="slds-truncate"
                        title={remainingCourse.Duration__c}
                      >
                        {remainingCourse.Duration__c}
                      </div>
                    </td>
                    <td data-label="Status">
                      <div
                        class="slds-truncate"
                        title={remainingCourse.Roles__c}
                      >
                        {remainingCourse.Roles__c}
                      </div>
                    </td>
                    <td data-label="Add">
                      <lightning-input
                        class="slds-p-left_xx-large"
                        type="checkbox"
                        data-id={remainingCourse.Id}
                        label=""
                        onchange={handleCourseSelect}
                      ></lightning-input>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
        <footer class="slds-modal__footer">
          <button
            class="slds-button slds-button_neutral"
            onclick={closeAddCourseModal}
            title="Cancel"
          >
            Cancel
          </button>
          <button
            class="slds-button slds-button_brand"
            onclick={handleAddCourses}
            title="OK"
          >
            Add Courses
          </button>
        </footer>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
  <template if:true={isShowDeleteModal}>
    <div class="slds-modal slds-fade-in-open" role=dialog>
        <div class="slds-modal__container">
            <div class=slds-modal__header >
                <h2 class=slds-text-heading--medium>Delete {deleteHeaderItemName}</h2>
                <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                    <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
                    alternative-text=Close title=Close onclick={handleCancelDeleteRecord}></lightning-icon>
                </span>
            </div>
            <div class="slds-modal__content slds-p-around_medium">
                <lightning-formatted-rich-text value={deleteItemMessage}></lightning-formatted-rich-text>
            </div>
            <div class=slds-modal__footer>
                <button type="button" class="btn btn_neutral" onclick={handleCancelDeleteRecord}>Cancel</button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn_primary" onclick={handleDeleteRecord}>Delete</button>
            </div>
        </div>
    </div>
    <div class="slds-backdrop slds-backdrop--open"></div>
  </template>
</template>