<template>
    <div key={wr} class="tile tile-lg tile-b-top">
        <div class="tile-content">
            <div>
                <a href={course.courseCatalogUrl} style="text-decoration: none;">
                    <h1 class="course-title">{course.courseTitle}</h1>
                    <lightning-formatted-rich-text value={course.courseDescription}>
                    </lightning-formatted-rich-text>
                </a>
            </div>

            <div class="slds-var-m-top_small">
                <span class="slds-pill slds-pill_link">
                    <a href="javascript:void(0);" class="slds-pill__action"
                        title="Full pill label verbiage mirrored here">
                        <span class="slds-pill__label">{course.roles}</span>
                    </a>
                </span>
            </div>

            <div class="slds-var-m-top_large">
                <div class="controls">
                    <a href={course.courseCatalogUrl} class="view-course">
                        View Course <lightning-icon icon-name="utility:forward" alternative-text="View Course"
                            size="x-small"></lightning-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>