.tile {
    background: #fff;
    border-radius: 6px;
    position: relative;
}

.tile.tile-lg {
    box-shadow: 0 5px 11px rgba(0, 0, 0, .1);
    display: flex;
    transition: all .15s;
    height: 100%;
}

.tile .tile-content {
    flex: 1;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
}

.tile.tile-lg .course-title {
    color: #0374d0;
}

.tr-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.training-status {
    background: #0374d0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
}

.training-status:empty {
    display: none;
}

.view-course {
    font-size: 14px;
    color: #6b6d70;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.view-course lightning-icon {
    padding-left: 5px;
}

.description-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: black;
}

.slds-form-element {
    border-bottom: none;
}