<template>
  <div key={trainingPlan.recId} class="tile tile-lg">
    <div class="tile-content">
        <lightning-layout>
            <!-- <lightning-layout-item size="4">
                <div class="slds-var-p-right_small">
                    <div class="slds-form-element slds-form-element_readonly">
                        <span class="slds-form-element__label">Status</span>
                        <div class="slds-form-element__control">
                            <div class="slds-form-element__static">{trainingPlan.enrolmentStatus}</div>
                        </div>
                    </div>
                </div>
            </lightning-layout-item> -->
            <lightning-layout-item size="12">
                <div class="tr-details">
                    <a href="javascript:void(0);" style="text-decoration: none;" onclick={navigateToTrainingPlan}>
                        <div class="tr-header">
                            <h1 class="course-title">{trainingPlan.planName}</h1>
                            <!-- <span class="training-status" >{trainingPlan.enrolmentStatus}</span> -->
                            <lightning-badge label={trainingPlan.enrolmentStatus}></lightning-badge>
                        </div>
                        <p class="description-text">{trainingPlan.description}</p>                       
                    </a>
                </div>

                <div class="slds-var-m-top_large">
                    <div class="controls">
                        <a href="javascript:void(0);" class="view-course" onclick={navigateToTrainingPlan}>
                            View Training Plan <lightning-icon icon-name="utility:forward" alternative-text="View Course"
                                size="x-small"></lightning-icon>
                        </a>
                    </div>
                </div>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</div>
    
</template>