@charset "UTF-8";
.btn {
  background: #cccccc;
  padding: 6px 15px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
  transition: all 0.3s;
  border-radius: 3px;
  border: 2px solid transparent;
}
.btn i {
  margin-right: 10px;
}
.btn:focus {
  outline: none;
}
.btn:disabled {
  opacity: 0.5;
}
.btn.btn_primary {
  background: #0176b4;
  color: #ffffff;
}
.btn.btn_secondary {
  background: #ffffff;
  border-color: #0261ad;
  color: #0261ad;
}
.btn.btn_transparent {
  background: transparent;
  padding: 10px 0;
  color: #0261ad;
}
.btn.btn_icon {
  border-radius: 30px;
  padding: 10px;
}
.btn.btn_icon i {
  margin-right: 0;
}
.btn.btn_icon:hover {
  background: #cccccc;
}

.component_block {
  width: 100%;
  overflow-y: auto;
  padding: 0 15px 40px 0;
}
.component_block .content_block {
  margin-top: 30px;
  padding: 25px 0;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #c3d6f0;
  overflow: hidden;
}
.component_block .content_block .content_header {
  padding: 0 30px;
  position: relative;
}
.component_block .content_block .content_header:after {
  content: "";
  border-bottom: 2px dotted #eeeeee;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 0;
  bottom: 10px;
}
.component_block .content_block .content_header h1 {
  color: #333333;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.component_block .content_block .content_header label {
  color: #256acb;
  font-size: 16px;
  line-height: 26px;
  position: relative;
  z-index: 1;
  background: white;
  padding: 0 10px;
  left: -10px;
  font-weight: 300;
}
.component_block .content_block .content_header .btn {
  position: absolute;
  padding: 0 10px;
  z-index: 1;
  bottom: 2px;
  right: 30px;
}
.component_block .content_block .content_header .btn.btn_transparent {
  background: white;
  color: #666666;
}
.component_block .content_block .content_body {
  padding: 30px;
}
.component_block .content_block .content_footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 30px 10px;
  border-top: 1px solid #c3d6f0;
}
.component_block .content_block .content_footer .btn {
  margin: 0 20px;
  height: 48px;
}
.component_block .content_block .content_footer .btn.btn_primary {
  min-width: 150px;
}
.component_block .content_block .content_footer .btn:last-child {
  margin-right: 0;
}
.component_block .content_block.course_details {
  margin-top: 0;
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dddddd;
}
table thead th {
  text-transform: uppercase;
  font-size: 14px;
  color: #908888;
  padding: 10px;
  background: #f9f9f9;
  text-align: left;
  border-bottom: 1px solid #dddddd;
  font-weight: normal;
}
table tbody tr td {
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #dddddd;
}
table tbody tr td a {
  color: #0176b4;
}
.select__col {
  width: 12%;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-eye:before {
  content: "\f06e";
}