<template>
  <div class="component_block">
    <!-- <div class="go_back">
      <a href="#" class="btn btn_transparent">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Dashboard
      </a>
    </div>
    <div class="cm_header">
      <h1>Add a New Course</h1>
      <button type="button" class="btn btn_secondary">SAVE & EXIT</button>
    </div>
    <div class="stepper">
      <ul>
        <li class="completed">
          <span>1</span>
        </li>
        <li class="completed">
          <span>2</span>
        </li>
        <li class="completed">
          <span>3</span>
        </li>
        <li class="active">
          <span>4</span>
        </li>
      </ul>
    </div> -->
    <div class="content_block">
      <div class="content_header">
        <h1>Certification Template</h1>
        <label>Select certification templates from the below list</label>
        <!-- <button type="button" class="btn btn_transparent">Need Help ?</button> -->
      </div>
      <div class="content_body">
        <div class="certification_template_sec">
          <h4>Select certification template</h4>
          <table>
            <thead>
              <th class="select__col">
                <div class="slds-align_absolute-center">SELECT</div>
              </th>
              <th>ID</th>
              <th>Template name</th>
              <th>Actions</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="radio slds-align_absolute-center select__col">
                    <input type="radio" id="cd1" name="crTemplate" />
                    <label for="cd1"></label>
                  </div>
                </td>
                <td>1252</td>
                <td>Certification Template 1</td>
                <td>
                  <button
                    class="btn btn_transparent btn_icon"
                    onclick={navigateToCertificateTemplate}
                  >
                    <lightning-icon
                      icon-name="utility:preview"
                      alternative-text="Preview"
                      title="Preview"
                      size="small"
                    ></lightning-icon>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="radio slds-align_absolute-center select__col">
                    <input type="radio" id="cd2" name="crTemplate" />
                    <label for="cd2"></label>
                  </div>
                </td>
                <td>1253</td>
                <td>Certification Template 2</td>
                <td>
                  <button
                    class="btn btn_transparent btn_icon"
                    onclick={navigateToCertificateTemplate}
                  >
                    <lightning-icon
                      icon-name="utility:preview"
                      alternative-text="Preview"
                      title="Preview"
                      size="small"
                    ></lightning-icon>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="radio slds-align_absolute-center select__col">
                    <input type="radio" id="cd3" name="crTemplate" />
                    <label for="cd3"></label>
                  </div>
                </td>
                <td>1254</td>
                <td>Certification Template 3</td>
                <td>
                  <button
                    class="btn btn_transparent btn_icon"
                    onclick={navigateToCertificateTemplate}
                  >
                    <lightning-icon
                      icon-name="utility:preview"
                      alternative-text="Preview"
                      title="Preview"
                      size="small"
                    ></lightning-icon>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="radio slds-align_absolute-center select__col">
                    <input type="radio" id="cd4" name="crTemplate" />
                    <label for="cd4"></label>
                  </div>
                </td>
                <td>1255</td>
                <td>Certification Template 4</td>
                <td>
                  <button
                    class="btn btn_transparent btn_icon"
                    onclick={navigateToCertificateTemplate}
                  >
                    <lightning-icon
                      icon-name="utility:preview"
                      alternative-text="Preview"
                      title="Preview"
                      size="small"
                    ></lightning-icon>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="radio slds-align_absolute-center select__col">
                    <input type="radio" id="cd5" name="crTemplate" />
                    <label for="cd5"></label>
                  </div>
                </td>
                <td>1256</td>
                <td>Certification Template 5</td>
                <td>
                  <button
                    class="btn btn_transparent btn_icon"
                    onclick={navigateToCertificateTemplate}
                  >
                    <lightning-icon
                      icon-name="utility:preview"
                      alternative-text="Preview"
                      title="Preview"
                      size="small"
                    ></lightning-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="content_footer">
        <button type="button" class="btn btn_transparent">Previous</button>
        <button type="button" class="btn btn_primary">Publish</button>
      </div> -->
    </div>
  </div>
</template>