<template>
  <lightning-spinner
    if:true={isLoading}
    alternative-text="Loading"
    size="large"
  ></lightning-spinner>
  <div style="text-align: right">
    <lightning-button
      variant="brand"
      label="Add New Training Plan"
      title="Add New Training Plan"
      onclick={openTrainingPlanModal}
      class="slds-m-left_x-small"
    ></lightning-button>
  </div>
  <div class="content_block">
    <div class="content_header">
      <h1>Training Plans</h1>
    </div>
    <div class="content_body">
      <table>
        <thead>
          <th>Training Plan Name</th>
          <th>Duration(In Days)</th>
          <th>Status</th>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <template for:each={trainingPlanList} for:item="data">
            <tr key={data.Id}>
              <td>
                <a data-id={data.Id} onclick={navigateToDetails}>{data.Name}</a>
              </td>
              <td>{data.Duration_In_Days__c}</td>
              <td>{data.Status__c}</td>
              <td >
                <lightning-button
                  if:true={data.Is_Published__c}
                  data-id={data.Id}
                  label="Enroll Learners"
                  onclick={enrollLearners}
                ></lightning-button>
              </td>
              <td>
                <lightning-button
                  if:true={data.Is_Published__c}
                  data-id={data.Id}
                  label="Show Proposed Changes"
                  onclick={showProposedChanges}
                ></lightning-button>
              </td>
              <td >
                <lightning-button
                  if:true={data.Is_Published__c}
                  data-id={data.Id}
                  label="Enrolled Learners"
                  onclick={showRegisteredLearners}
                ></lightning-button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>

  <template if:true={isTrainingPlanModalOpen}>
    <section
      role="dialog"
      tabindex="-1"
      aria-labelledby="modal-heading-01"
      aria-modal="true"
      aria-describedby="modal-content-id-1"
      class="slds-modal slds-fade-in-open"
    >
      <div class="slds-modal__container">
        <header class="slds-modal__header">
          <button
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            title="Close"
            onclick={closeTrainingPlanModal}
          >
            <lightning-icon
              icon-name="utility:close"
              alternative-text="close"
              variant="inverse"
              size="small"
            ></lightning-icon>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2
            id="modal-heading"
            class="slds-text-heading_medium slds-hyphenate"
          >
            Add Training Plan
          </h2>
          `
        </header>
        <div
          class="slds-modal__content slds-p-around_medium"
          id="modal-content-id"
        >
        <lightning-record-edit-form record-id={recordId}
        object-api-name="Training_Plan__c"
        onsuccess={handleTrainingPlanAdd}>
            <lightning-messages></lightning-messages>
            <div class="slds-grid slds-wrap" >
                <template for:each={fieldsForTrainingPlanEditForm} for:item="field">
                    <div key={field.name} class="slds-col slds-size_1-of-2 slds-medium-size_1-of-2 slds-large-size_1-of-2 slds-p-around_x-small">
                        <lightning-input-field 
                            data-id={field.name}
                            field-name={field.name}>
                        </lightning-input-field>
                    </div>
                </template>
            </div>
            <div style="text-align: center;">
                <lightning-button class="slds-m-top_small" 
                    variant="neutral"
                    label="Cancel"
                    onclick={closeTrainingPlanModal}>
                </lightning-button>
                <lightning-button class="slds-m-top_small slds-p-left_small" 
                    variant="brand"
                    type="submit" 
                    label="Add Training Plan">
                </lightning-button>
            </div>
        </lightning-record-edit-form>
        <!--
          <lightning-record-edit-form object-api-name="Training_Plan__c">
            <lightning-input-field field-name="Name"></lightning-input-field>
            <lightning-input-field
              field-name="Description__c"
            ></lightning-input-field>
            <lightning-input-field
              field-name="Duration_In_Days__c"
            ></lightning-input-field>
            <lightning-input-field
              field-name="Is_Active__c"
            ></lightning-input-field>
            <lightning-button
              type="submit"
              label="Add Training Plan"
              class="slds-m-top_small"
              variant="brand"
              onclick={handleTrainingPlanAdd}
            ></lightning-button>
          </lightning-record-edit-form>
        -->
        </div>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>

  <template if:true={isRegisterModal}>
    <!-- Modal/Popup Box LWC starts here -->
    <section
      role="dialog"
      tabindex="-1"
      aria-labelledby="modal-heading-02"
      aria-modal="true"
      aria-describedby="modal-content-id-1"
      class="slds-modal slds-fade-in-open slds-modal_medium"
    >
      <div class="slds-modal__container">
        <!-- Modal/Popup Box LWC header here -->
        <header class="slds-modal__header">
          <button
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            title="Close"
            onclick={closeModal}
          >
            <lightning-icon
              icon-name="utility:close"
              alternative-text="close"
              variant="inverse"
              size="small"
            ></lightning-icon>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2
            id="modal-heading02"
            class="slds-text-heading_medium slds-hyphenate"
          >
            Enroll Learners
          </h2>
        </header>
        <!-- Modal/Popup Box LWC body starts here -->
        <div
          class="slds-modal__content slds-p-around_medium"
          id="modal-content-id-1"
        >
          <table>
            <thead>
              <th>Learner Name</th>
              <th>Certifying Official</th>
              <th>Supervisor</th>
              <th>Training Administrator</th>
              <th>Coach</th>
              <th>WebTA hours</th>
              <th></th>
            </thead>
            <tbody>
              <template for:each={unregisterdLearnerList} for:item="unLearner">
                <tr key={unLearner.Id}>
                  <td>{unLearner.Name}</td>
                  <td>
                    <c-lookup
                      drop-down-css="dropDown-fixed dropDown"
                      object-api-name="Contact"
                      label=""
                      name = "Certifying_Official__c"
                      data-id={unLearner.Id}
                      onrecordupdated={handleContactChange}
                    >
                    </c-lookup>
                  </td>
                  <td>
                    <c-lookup
                      drop-down-css="dropDown-fixed dropDown"
                      object-api-name="Contact"
                      label=""
                      name="Supervisor__c"
                      data-id={unLearner.Id}
                      onrecordupdated={handleContactChange}
                    >
                  </c-lookup>
                  </td>
                  <td>
                     <c-lookup
                        drop-down-css="dropDown-fixed dropDown"
                        object-api-name="Contact"
                        label=""
                        name="Training_Administrator__c"
                        data-id={unLearner.Id}
                        onrecordupdated={handleContactChange}
                        >
                    </c-lookup>
                    </td>
                  <td>
                    <c-lookup
                      drop-down-css="dropDown-fixed dropDown"
                      object-api-name="Contact"
                      label=""
                      name="Coach__c"
                      data-id={unLearner.Id}
                      onrecordupdated={handleContactChange}
                      >
                    </c-lookup>
                  </td>
                  <td>
                    <lightning-input 
                    type="number" 
                    name="WebTA_hours__c" 
                    label=""
                    data-id={unLearner.Id}
                    variant="label-hidden"
                    onchange={handleHourChange}></lightning-input>
                  </td>
                  <td>
                    <lightning-input
                      type="checkbox"
                      variant="label-hidden"
                      data-id={unLearner.Id}
                      onchange={handleInputChange}
                    ></lightning-input>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <!-- Modal/Popup Box LWC footer starts here -->
        <footer class="slds-modal__footer">
          <button
            class="slds-button slds-button_neutral"
            onclick={closeModal}
            title="Cancel"
          >
            Cancel
          </button>
          <button
            class="slds-button slds-button_brand"
            onclick={submitRegisterationDetails}
            title="Register"
          >
            Enroll
          </button>
        </footer>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>

  <template if:true={isProposedChangesModal}>
    <!-- Modal/Popup Box LWC starts here -->
    <section
      role="dialog"
      tabindex="-1"
      aria-labelledby="modal-heading-03"
      aria-modal="true"
      aria-describedby="modal-content-id-1"
      class="slds-modal slds-fade-in-open "
    >
      <div class="slds-modal__container">
        <!-- Modal/Popup Box LWC header here -->
        <header class="slds-modal__header">
          <button
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            title="Close"
            onclick={closeModal}
          >
            <lightning-icon
              icon-name="utility:close"
              alternative-text="close"
              variant="inverse"
              size="small"
            ></lightning-icon>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2
            id="modal-heading03"
            class="slds-text-heading_medium slds-hyphenate"
          >
            Proposed Changes
          </h2>
        </header>
        <!-- Modal/Popup Box LWC body starts here -->
        <div
          class="slds-modal__content slds-p-around_medium"
          id="modal-content-id-2"
        >
          <table>
            <thead>
              <th>Learner Name</th>
              <th>Proposed Changes</th>
            </thead>
            <tbody>
              <template for:each={trainingPlanEnrollList} for:item="tpe">
                <tr key={tpe.Id}>
                  <td>{tpe.Learner__r.Name}</td>
                  <td>
                    <lightning-formatted-text
                      value={tpe.Proposed_Changes__c}
                    ></lightning-formatted-text>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <!-- Modal/Popup Box LWC footer starts here -->
        <!--<footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={submitRegisterationDetails} title="Save">Save</button>
                </footer>-->
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>

  <template if:true={isRegisteredModal}>
    <!-- Modal/Popup Box LWC starts here -->
    <section
      role="dialog"
      tabindex="-1"
      aria-labelledby="modal-heading-04"
      aria-modal="true"
      aria-describedby="modal-content-id-1"
      class="slds-modal slds-fade-in-open slds-modal_large"
    >
      <div class="slds-modal__container">
        <!-- Modal/Popup Box LWC header here -->
        <header class="slds-modal__header">
          <button
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            title="Close"
            onclick={closeModal}
          >
            <lightning-icon
              icon-name="utility:close"
              alternative-text="close"
              variant="inverse"
              size="small"
            ></lightning-icon>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2
            id="modal-heading-03"
            class="slds-text-heading_medium slds-hyphenate"
          >
            Enrolled Learners
          </h2>
        </header>
        <!-- Modal/Popup Box LWC body starts here -->
        <div
          class="slds-modal__content slds-p-around_medium"
          id="modal-content-id-3"
        >
          <table>
            <thead>
              <th>Learner Name</th>
              <th>Enrollment Date</th>
              <th>No of Courses Completed</th>

              <th>Certifying Official</th>
              <th>Supervisor</th>
              <th>Training Administrator</th>
              <th>Coach</th>
              <th>WebTA hours</th>

              <th>Status</th>
            </thead>
            <tbody>
              <template for:each={registeredLearnersList} for:item="learner">
                <tr key={learner.Id}>
                  <td><div if:true={learner.Learner__r}></div>{learner.Learner__r.Name}</td>
                  <td>{learner.Enrolment_Date__c}</td>
                  <td>0</td>
                  <td>
                    <c-lookup
                      drop-down-css="dropDown-fixed dropDown"
                      object-api-name="Contact"
                      label=""
                      already-selected-record={learner.Certifying_Official__r}
                      name = "Certifying_Official__c"
                      data-id={learner.Id}
                      onrecordupdated={handleContactChangeRegistered}
                    >
                    </c-lookup>
                  </td>
                  <td>
                    <c-lookup
                      drop-down-css="dropDown-fixed dropDown"
                      object-api-name="Contact"
                      label=""
                      already-selected-record={learner.Supervisor__r}
                      name="Supervisor__c"
                      data-id={learner.Id}
                      onrecordupdated={handleContactChangeRegistered}
                    >
                  </c-lookup>
                  </td>
                  <td>
                     <c-lookup
                        drop-down-css="dropDown-fixed dropDown"
                        object-api-name="Contact"
                        label=""
                        already-selected-record={learner.Training_Administrator__r}
                        name="Training_Administrator__c"
                        data-id={learner.Id}
                        onrecordupdated={handleContactChangeRegistered}
                        >
                    </c-lookup>
                    </td>
                  <td>
                    <c-lookup
                      drop-down-css="dropDown-fixed dropDown"
                      object-api-name="Contact"
                      label=""
                      already-selected-record={learner.Coach__r}
                      name="Coach__c"
                      data-id={learner.Id}
                      onrecordupdated={handleContactChangeRegistered}
                      >
                    </c-lookup>
                  </td>
                  <td>
                    {learner.WebTA_hours__c}
                  </td>
                  <td>{learner.Status__c}</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
         <!-- Modal/Popup Box LWC footer starts here -->
         <footer class="slds-modal__footer"
            if:true={recordsUodated}>
          <button
            class="slds-button slds-button_neutral"
            onclick={closeModal}
            title="Cancel"
          >
            Cancel
          </button>
          <button
            class="slds-button slds-button_brand"
            onclick={submitChanges}
            title="Register"
          >
            Save Changes
          </button>
        </footer>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
</template>