<template>
    <div class="component_block">
        
        <div class="component_block">
            
            <div class="content_block">
              <div class="content_header">
                <h1>Course Module</h1>
                <label>sheets containing Lorem</label>
              </div>
              <div class="table_data">
					<table>
					<thead>
						<th>Module Name</th>
						<th>Course Title</th>
						<th>Status</th>
						<th>Created By</th>
						
					</thead>  
					<tbody>

                            <template for:each={courses} for:item="con">
                                <tr key={con.Id}>
                                    
                                        <td >{con.Module_Name__c}</td>
                                        
                                        <td>
                                          <div if:true={con.Course_Catalogue__c}>
                                            {con.Course_Catalogue__r.Name}
                                          </div>
                                        </td>
                                        <td>{con.Status__c}</td>
                                        <td>{con.CreatedBy.Name}</td>
                                        
                                    
                                    </tr>
                                </template> 
        
					</tbody>
					</table>
              </div>
            </div>
        </div></div>
</template>