<template>
    <!-- <div>Placeholder for User Profile </div> -->
    <div class="ny_card">
      <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
          <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
      </div>
      <lightning-layout-item size="12" small-device-size="12" medium-device-size="6" large-device-size="6" padding="around-small">
            <lightning-combobox
                name="courseCatalogueOption"
                label="Select Profile"
                value={profileOption}
                placeholder="Select Profile"
                options={profileOptions}
                onchange={handleChange}
                
            ></lightning-combobox>
        </lightning-layout-item>
      <div class="section-header p-t-0 slds-var-p-around_small">
        <div class="d-flex justify-content-between page-header">
          <h1 class="page-title">Personal Information</h1>
        </div>
      </div>
      <lightning-card title="">
        <div class="edit__button">
          <span if:true={isEditable} class="cancel__button">
            <lightning-button
              variant="brand-outline"
              label="Cancel"
              title="Cancel"
              onclick={handleCancelEdit}
            ></lightning-button>
          </span>
          <lightning-button
            variant="brand"
            label={editOrSaveLabel}
            title="Edit"
            onclick={handleProfileEdit}
          ></lightning-button>
        </div>
  
        <template if:true={isEditable}>
          <div class="padding-around-lg">
            <lightning-file-upload
              label="Upload Profile Image"
              name="uploadProfileImg"
              accept={acceptedFormats}
              record-id={contactId}
              onuploadfinished={handleUploadFinished}
            >
            </lightning-file-upload>
            <p>
              <b>{uploadedImageName}</b>
            </p>
  
            <br />
  
            <p>About Me</p>
            <lightning-input-rich-text
              value={aboutMe}
              onchange={handleAboutMeChange}
            >
            </lightning-input-rich-text>
          </div>
        </template>
        <template if:false={isEditable}>
          <div class="slds-grid slds-gutters slds-grid_vertical-align-center">
            <div class="slds-col profile__img">
              <img src={imgUrl} />
            </div>
            <div class="slds-col">
              <lightning-formatted-rich-text
                value={aboutMe}
              ></lightning-formatted-rich-text>
            </div>
          </div>
        </template>
      </lightning-card>
      <lightning-card class = "edit-form" title="">
        <lightning-record-edit-form record-id={contactId}
        object-api-name="Contact">
        <div class="slds-grid slds-gutters">
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <!-- <lightning-input
                  type="text"
                  label="First Name"
                  value={obj.firstName}
                  name="firstName"
                  onchange={handleInputChange}
                >
                </lightning-input> -->
                <lightning-input-field field-name="FirstName"></lightning-input-field>
              </div>
            </span>
          </div>
  
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <!-- <lightning-input
                  type="text"
                  label="Last Name"
                  value={obj.lastName}
                  name="lastName"
                  onchange={handleInputChange}
                >
                </lightning-input> -->
                <lightning-input-field field-name="LastName"></lightning-input-field>
              </div>
            </span>
          </div>
        </div>
  
        <div class="slds-grid slds-gutters">
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <!-- <lightning-input
                  type="Text"
                  label="Email"
                  value={obj.email}
                  name="email"
                  onchange={handleInputChange}
                >
                </lightning-input> -->
                <lightning-input-field field-name="Email"> </lightning-input-field>
              </div>
            </span>
          </div>
  
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <!-- <lightning-input
                  type="text"
                  label="Phone"
                  name="phone"
                  onchange={handleInputChange}
                  value={obj.phone}
                >
                </lightning-input> -->
                <lightning-input-field field-name="Phone"> </lightning-input-field>
              </div>
            </span>
          </div>
        </div>
  
        <div class="slds-grid slds-gutters">
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <!-- <lightning-input
                  type="text"
                  label="Title"
                  name="title"
                  onchange={handleInputChange}
                  value={obj.title}
                >
                </lightning-input> -->
                <lightning-input-field field-name="Title"></lightning-input-field>
              </div>
            </span>
          </div>
  
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <!-- <lightning-input
                  type="text"
                  label="Role"
                  name="role"
                  onchange={handleInputChange}
                  value={obj.role}
                >
                </lightning-input> -->
                <lightning-input-field field-name="Role__c"></lightning-input-field>
              </div>
            </span>
          </div>
        </div>
  
        <div class="slds-grid slds-gutters">
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <!-- <lightning-input
                  type="text"
                  label="Location"
                  name="location"
                  onchange={handleInputChange}
                  value={obj.location}
                ></lightning-input> -->
                <lightning-input-field field-name="Location__c"></lightning-input-field>
              </div>
            </span>
          </div>
  
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <!-- <lightning-input
                  type="text"
                  label="Department"
                  name="department"
                  onchange={handleInputChange}
                  value={obj.department}
                ></lightning-input> -->
                <lightning-input-field field-name="Department"></lightning-input-field>
              </div>
            </span>
          </div>
        </div>
  
        <div class="slds-grid slds-gutters">
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <!-- <lightning-input
                  type="text"
                  label="Supervisor"
                  name="supervisor"
                  onchange={handleInputChange}
                  value={obj.supervisor}
                ></lightning-input> -->
                <lightning-input-field field-name="Supervisor__c"></lightning-input-field>
              </div>
            </span>
          </div>

          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <!-- <lightning-input
                  type="Date"
                  label="Birthdate"
                  value={obj.birthDate}
                  name="birthDate"
                  onchange={handleInputChange}
                >
                </lightning-input> -->
                <lightning-input-field field-name="Birthdate"></lightning-input-field>
              </div>
            </span>
          </div>
        </div>

        <lightning-button
            class="slds-m-top_small"
            variant="brand"
            type="submit"
            name="update"
            onclick={handleSave}
            label="Update">
        </lightning-button>

        
        </lightning-record-edit-form>
      </lightning-card>
  
      <div class="section-header p-t-0 slds-var-p-around_small">
        <div class="d-flex justify-content-between page-header">
          <h1 class="page-title">Business Information</h1>
        </div>
      </div>
      <lightning-card title="">
        <div class="slds-grid slds-gutters">
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <lightning-input type="checkbox" label="SBDC" name="SBDC">
                </lightning-input>
              </div>
            </span>
          </div>
  
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <lightning-input
                  type="checkbox"
                  label="WBC"
                  name="WBC"
                ></lightning-input>
              </div>
            </span>
          </div>
        </div>
  
        <div class="slds-grid slds-gutters">
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <lightning-input
                  type="checkbox"
                  label="SCORE"
                  name="SCORE"
                ></lightning-input>
              </div>
            </span>
          </div>
  
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <lightning-input type="checkbox" label="VBOC" name="VBOC">
                </lightning-input>
              </div>
            </span>
          </div>
        </div>
      </lightning-card>


      <!-- Certification List -->


      <div class="section-header p-t-0 slds-var-p-around_small">
        <div class="d-flex justify-content-between page-header">
          <h1 class="page-title">Certifications</h1>
          <button
            class="slds-button slds-button_brand"
            onclick={openAddCertificationModal}
          >
            ADD NEW CERTIFICATION
          </button>
        </div>
      </div>
      <div class="component_block">
        <!-- <div class="cm_header">
          <button
            class="slds-button slds-button_brand"
            onclick={openAddCertication}
          >
            ADD NEW CERTIFICATION
          </button>
        </div> -->
        <div class="content_block">
          <!-- <div class="content_header">
            <h1>Course Management</h1>
            <label>sheets containing Lorem</label>
          </div> -->
          <div>
            <table>
              <thead>
                <th>Name</th>
                <th>Date</th>
                <th>Issuing Authority</th>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                <template for:each={certificationsList} for:item="certification">
                  <tr key={certification.certificationId}>
                    <td>{certification.certificationName}</td>
                    <td>{certification.certificationDate}</td>
                    <td>{certification.issuingAuthority}</td>
                    <td>
                        <lightning-icon icon-name="utility:edit" alternative-text="Edit" size="x-small" title="Edit" 
                        class="cursor_pointer" data-id={certification.certificationId} onclick={openCertificationEditModal}></lightning-icon>
                      <!-- <lightning-button
                        variant="brand"
                        label="Edit"
                        title="Edit"
                        data-id={certification.certificationId}
                        onclick={openCertificationEditModal}
                      ></lightning-button> -->
                    </td>
                    <td>
                        <lightning-icon icon-name="utility:delete" alternative-text="Delete" size="x-small" title="Delete" 
                        class="cursor_pointer" data-id={certification.certificationId} onclick={deleteCertification}></lightning-icon>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  
      <template if:true={isModalOpen}>
        <section
          role="dialog"
          tabindex="-1"
          aria-labelledby="modal-heading-01"
          aria-modal="true"
          aria-describedby="modal-content-id-1"
          class="slds-modal slds-fade-in-open"
        >
          <div class="slds-modal__container">
            <header class="slds-modal__header">
              <button
                class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                title="Close"
                onclick={closeAddCertificationModal}
              >
                <lightning-icon
                  icon-name="utility:close"
                  alternative-text="close"
                  variant="inverse"
                  size="small"
                ></lightning-icon>
                <span class="slds-assistive-text">Close</span>
              </button>
              <h2
                id="modal-heading-01"
                class="slds-text-heading_medium slds-hyphenate"
              >
                <template if:true={isCertificateEditable}>
                  Edit Certification
                </template>
                <template if:false={isCertificateEditable}>
                  Add Certification
                </template>
              </h2>
            </header>
            <div
              class="slds-modal__content slds-p-around_medium"
              id="modal-content-id-1"
            >
              <lightning-input
                type="text"
                label="Certication Name"
                required
                name="certificationName"
                onchange={handleInputChange}
                value={certificationObj.certificationName}
              ></lightning-input>
              <lightning-input
                type="Date"
                label="Certification Date"
                required
                name="certificationDate"
                onchange={handleInputChange}
                value={certificationObj.certificationDate}
              ></lightning-input>
              <lightning-input
                type="text"
                label="Issuing Authority"
                required
                name="issuingAuthority"
                onchange={handleInputChange}
                value={certificationObj.issuingAuthority}
              ></lightning-input>
            </div>
            <footer class="slds-modal__footer">
              <button
                class="slds-button slds-button_neutral"
                onclick={closeAddCertificationModal}
                title="Cancel"
              >
                Cancel
              </button>
              <template if:true={isCertificateEditable}>
                <button
                  class="slds-button slds-button_brand"
                  onclick={handleEditCertification}
                  title="OK"
                  data-id={certificationObj.certificationId}
                >
                  Edit Certification
                </button>
              </template>
              <template if:false={isCertificateEditable}>
                <button
                  class="slds-button slds-button_brand"
                  onclick={handleAddCertification}
                  title="OK"
                >
                  Add Certification
                </button>
              </template>
            </footer>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </template>

      <!-- User Compliance Status List -->


      <div class="section-header p-t-0 slds-var-p-around_small">
        <div class="d-flex justify-content-between page-header">
          <h1 class="page-title">User Compliance Status</h1>
          <button
            class="slds-button slds-button_brand"
            onclick={openAddComplianceModal}
          >
            ADD NEW Compliance
          </button>
        </div>
      </div>
      <div class="component_block">
        <!-- <div class="cm_header">
          <button
            class="slds-button slds-button_brand"
            onclick={openAddCertication}
          >
            ADD NEW CERTIFICATION
          </button>
        </div> -->
        <div class="content_block">
          <!-- <div class="content_header">
            <h1>Course Management</h1>
            <label>sheets containing Lorem</label>
          </div> -->
          <div>
            <table>
              <thead>
                <th>Compliance</th>
                <th>Course Schedule Name</th>
                <th>Status</th>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                <template for:each={userComplianceList} for:item="userCompliance">
                  <tr key={userCompliance.complianceId}>
                    <td>{userCompliance.complianceName}</td>
                    <td>{userCompliance.courseScheduleName}</td>
                    <td>{userCompliance.complianceStatus}</td>
                    <td>
                        <lightning-icon icon-name="utility:edit" alternative-text="Edit" size="x-small" title="Edit" 
                        class="cursor_pointer" data-id={userCompliance.complianceId} onclick={openComplianceEditModal}></lightning-icon>
                      <!-- <lightning-button
                        variant="brand"
                        label="Edit"
                        title="Edit"
                        data-id={userCompliance.complianceId}
                        onclick={openComplianceEditModal}
                      ></lightning-button> -->
                    </td>
                    <td>
                        <lightning-icon icon-name="utility:delete" alternative-text="Delete" size="x-small" title="Delete" 
                        class="cursor_pointer" data-id={userCompliance.complianceId} onclick={deleteCompliance}></lightning-icon>
                      <!-- <lightning-button
                        variant="brand"
                        label="Delete"
                        title="Delete"
                        data-id={userCompliance.complianceId}
                        onclick={deleteCompliance}
                      ></lightning-button> -->
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  
      <template if:true={isComplianceModalOpen}>
        <section
          role="dialog"
          tabindex="-1"
          aria-labelledby="modal-heading-01"
          aria-modal="true"
          aria-describedby="modal-content-id-1"
          class="slds-modal slds-fade-in-open"
        >
          <div class="slds-modal__container">
            <header class="slds-modal__header">
              <button
                class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                title="Close"
                onclick={closeAddUserComplianceModal}
              >
                <lightning-icon
                  icon-name="utility:close"
                  alternative-text="close"
                  variant="inverse"
                  size="small"
                ></lightning-icon>
                <span class="slds-assistive-text">Close</span>
              </button>
              <h2
                id="modal-heading-02"
                class="slds-text-heading_medium slds-hyphenate"
              >
                <template if:true={isComplianceEditable}>
                  Edit User Compliance
                </template>
                <template if:false={isComplianceEditable}>
                  Add User Compliance
                </template>
              </h2>
            </header>
            <div
              class="slds-modal__content slds-p-around_medium"
              id="modal-content-id-2"
            >
              <lightning-input
                type="text"
                label="User Compliance Name"
                required
                name="complianceName"
                onchange={handleInputChange}
                value={ComplianceObj.complianceName}
              ></lightning-input>
              <lightning-input
                type="text"
                label="Cource Schedule Name"
                required
                name="courseScheduleName"
                onchange={handleInputChange}
                value={ComplianceObj.courseScheduleName}
              ></lightning-input>
              <lightning-combobox
                name="complianceStatus"
                label="Status"
                placeholder="Status"
                value={ComplianceObj.complianceStatus}
                options={options}
                onchange={handleInputChange} >
            </lightning-combobox>
            </div>
            <footer class="slds-modal__footer">
              <button
                class="slds-button slds-button_neutral"
                onclick={closeAddUserComplianceModal}
                title="Cancel"
              >
                Cancel
              </button>
              <template if:true={isComplianceEditable}>
                <button
                  class="slds-button slds-button_brand"
                  onclick={handleEditCompliance}
                  title="OK"
                  data-id={ComplianceObj.complianceId}
                >
                  Edit User Compliance
                </button>
              </template>
              <template if:false={isComplianceEditable}>
                <button
                  class="slds-button slds-button_brand"
                  onclick={handleAddCompliance}
                  title="OK"
                >
                  Add User Compliance
                </button>
              </template>
            </footer>
          </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
      </template>




      <!-- Training Engagement-->


<div class="section-header p-t-0 slds-var-p-around_small">
        <div class="d-flex justify-content-between page-header">
          <h1 class="page-title">Training Engagement</h1>
          <template if:true={showTotalHours}>
            <h1 class="page-text">Total Learning Hours : {obj.trainingDurationInHours}</h1>
          </template>
        </div>
      </div>
      <div class="component_block">
        <div class="content_block">
          <div>
            <table>
              <thead>
                <th>Enrollment</th>
                <th>Completion Date</th>
                <th>Duration</th>
              </thead>
              <tbody>
                <template for:each={userEnrollmentList} for:item="userEnrollment">
                  <tr key={userEnrollment.enrollmentId}>
                    <td>{userEnrollment.enrollmentName}</td>
                    <td>{userEnrollment.enrollmentCompletedDate}</td>
                    <td>{userEnrollment.enrollmentDurationInHours}</td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <!-- Learning Levels -->

      <div class="section-header p-t-0 slds-var-p-around_small">
        <div class="d-flex justify-content-between page-header">
          <h1 class="page-title">Learning Levels</h1>
        </div>
      </div>
      <lightning-card title="">
        <div class="slds-grid slds-gutters">
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <lightning-input
                  type="checkbox"
                  label="New Counselor/Advisor"
                  name="newCounselorAdvisor"
                >
                </lightning-input>
              </div>
            </span>
          </div>
  
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <lightning-input
                  type="checkbox"
                  label="Experienced Counselor/Advisor"
                  name="experiencedCounselorAdvisor"
                ></lightning-input>
              </div>
            </span>
          </div>
        </div>
      </lightning-card>
  
      <div class="section-header p-t-0 slds-var-p-around_small">
        <div class="d-flex justify-content-between page-header">
          <h1 class="page-title">Learning Interest Areas</h1>
        </div>
      </div>
      <lightning-card title="">
        <div class="slds-grid slds-gutters">
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <lightning-input
                  type="checkbox"
                  label="Select All"
                  name="newCounselorAdvisor"
                >
                </lightning-input>
              </div>
            </span>
          </div>
  
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <lightning-input
                  type="checkbox"
                  label="Cyber Security"
                  name="cyberSecurity"
                ></lightning-input>
              </div>
            </span>
          </div>
  
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <lightning-input
                  type="checkbox"
                  label="Financial Assistance"
                  name="financialAssistance"
                ></lightning-input>
              </div>
            </span>
          </div>
  
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <lightning-input
                  type="checkbox"
                  label="Tax Credit And Filing Assistance"
                  name="taxCreditAndFilingAssistance"
                ></lightning-input>
              </div>
            </span>
          </div>
  
          <div class="slds-col">
            <span>
              <div class="slds-p-around_medium lgc-bg">
                <lightning-input
                  type="checkbox"
                  label="FMLA And Labor Assistance"
                  name="fmlaAndLaborAssistance"
                ></lightning-input>
              </div>
            </span>
          </div>
        </div>
      </lightning-card>
  
      
      <div class="section-header p-t-0 slds-var-p-around_small">
        <div class="d-flex justify-content-between page-header">
          <h1 class="page-title">Course Schedule Events</h1>
        </div>
      </div>
      <lightning-accordion  allow-multiple-sections-open>
            <lightning-accordion-section  name="Course Schedule Events" label="Course Schedule Events">
                <div style="background:#ffffff;padding:1%" class="slds-grid">
                    <!-- This is where the calendar gets loaded. -->
                    <!-- We'll use the class name "fullcalendarjs" as our dom target instead of the ID -->
                    <!-- In LWC, the id can changed dynamically -->
                    <div id="calendar" class="fullcalendarjs"></div>
                </div>
            </lightning-accordion-section>
      </lightning-accordion>
    </div>
  </template>