.p-t-0 {
    padding-top: 0 !important;
  }
  .section-header {
    padding-top: 3rem;
  }
  .justify-content-between {
    justify-content: space-between !important;
  }
  .d-flex {
    display: flex !important;
  }
  
  @media (min-width: 1024px) {
    .section-header .description {
      font-size: 18px;
      top: -1.5rem;
    }
  }
  .section-header .description {
    color: #656565;
  }
  .page-header {
    margin-top: 10px;
  }
  .page-header h1.page-title {
    text-transform: capitalize;
    color: rgb(42, 10, 129);
    font-size: 30px;
  
    font-weight: 600;
  }
  .page-text{
    align-self: center;
    font-size: large;
    margin-right: 5%;
    color: rgb(42, 10, 129);
  }
  .edit-form{
    text-align: center;
  }
  .padding-around-lg {
    padding: 5px 10px;
  }
  .edit__button {
    text-align: right;
    padding: 0 10px;
  }
  .cancel__button {
    margin-right: 10px;
  }
  .profile__img img {
    min-width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dddddd;
  }
  table thead th {
    text-transform: uppercase;
    font-size: 14px;
    color: #908888;
    padding: 10px;
    background: #f9f9f9;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    font-weight: normal;
  }
  table tbody tr td {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #dddddd;
  }
  table tbody tr td a {
    color: #0176b4;
  }