<!--
  @description       : 
  @author            : Manish Sogani
  @group             : 
  @last modified on  : 12-30-2020
  @last modified by  : Manish Sogani
  Modifications Log 
  Ver   Date         Author          Modification
  1.0   12-30-2020   Manish Sogani   Initial Version
-->
<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text=Loading></lightning-spinner>
    </template>

<div class="mainCmp" if:true={componentLoaded}>

    <div class="page-header slds-p-bottom_large d-sm-flex justify-content-between">
        <div>
            <h1 class="page-title m-b">Course Catalog</h1>
            <template if:true={courseRecordsFound}>
            <div class="description t-read t-color_light">
              All courses available in the LMS. Use the search fields below to search for any specific course.
            </div>
          </template>
        </div>
    </div>

    <template if:true={noCourseRecordFound}>
        <div class="s-tile blank-tile no-border tile-no-results">
          <div class="d-sm-flex justify-content-between">
            <div class="content">
              <div>
                <div class="card-title"> You have no courses at this moment. </div>
              </div>
            </div>
          </div>
        </div>
      </template>

    <template if:false={noCourseRecordFound}>
        <div class="s-tile blank-tile no-border t-align_left search-actions">
          <div class="search-block">
            <label class="search-input-label">Looking for something specific?</label>
            <div class="search-input slds-grid">
              <div style="width: 100%;">
                <lightning-input type="search" name="searchedValue" label="Search" placeholder="Search by Course Name"
                variant="label-hidden" value={searchedValue} onchange={handleInput}></lightning-input>
              </div>
              <div>
                <lightning-button label="Search" title="Search" class="slds-m-left_x-small" variant="brand" 
                onclick={handleSearch}></lightning-button>
              </div>
            </div>
          </div>
        </div>
      </template>

    <template if:true={noCourseRecordFoundAfterSearch}>
        <div class="s-tile blank-tile no-border tile-no-results m-t-lg">
          <div class="d-sm-flex justify-content-between">
            <div class="content">
              <div>
                <div class="card-title"> No courses were found with that search term. </div>
                <div class="description"> Please verify your search or try another term. </div>
              </div>
            </div>
          </div>
        </div>
      </template>

    <template if:true={courseRecordsFound}>
        <div class="d-sm-grid four-col m-t-md">
          <template for:each={dataObj} for:item="wr" for:index="cci">
            <div key={wr} class="tile tile-lg">
              <div class="tile-content col-sm-4">
                <div class="slds-p-around_small">
                  <a href={wr.courseCatalogUrl} class="course-title clamp-3">{wr.courseCatalog.Name}</a>
                  <div class="description clamp-6 richtext-reset">
                    <lightning-formatted-rich-text value={wr.courseCatalog.Description__c}></lightning-formatted-rich-text>
                  </div>

                  <div class="course-footer">
                    <lightning-badge label={wr.sessionType}></lightning-badge>
                    <a href={wr.courseCatalogUrl} class="view-course">
                      View Course <lightning-icon icon-name="utility:forward" alternative-text="View Course" 
                      size="x-small"></lightning-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </template>
</div>
</template>

</div>
</template>