<template>
    <lightning-spinner if:true={loading} style="height: 100vh" alternative-text="Loading" size="large"> </lightning-spinner>
    <table>
        <thead>
            <tr>
                <th scope="col">Name
                </th>

                <th scope="col">Enrollement Status
                </th>
                <th scope="col">Status
                </th>
                <th scope="col">Start Date
                </th>
                <th scope="col">Due Date
                </th>
                <th scope="col">Action
                </th>
            </tr>
        </thead>
        <tbody>
            <template for:each={enrollementList} for:item="enrollement">
                <tr class="slds-hint-parent" key={enrollement.Id}>
                    <td>{enrollement.Contact__r.Name}</td>

                    <td>{enrollement.Enrolment_Status__c}
                    </td>
                    <td>{enrollement.Status__c}
                    </td>
                    <td>
                        <div>
                            <lightning-formatted-date-time day="numeric" month="numeric" year="numeric"
                                value={enrollement.Started_Date__c} time-zone="UTC">
                            </lightning-formatted-date-time>
                        </div>
                    </td>
                    <td>
                        <div>
                            <lightning-formatted-date-time day="numeric" month="numeric" year="numeric"
                                value={enrollement.Due_Date__c} time-zone="UTC">
                            </lightning-formatted-date-time>
                        </div>
                    </td>
                    <td>
                        <div>
                            <lightning-button variant="brand" label="Manage Task" disabled={showManageTaskButton}
                                onclick={handleManageTaskClick} data-id={enrollement.Id}>
                            </lightning-button>
                        </div>
                    </td>
                </tr>
            </template>
</tbody>
</table>


<!-- Manage Task Modal code -->

<template if:true={showManageTaskModal}>
        <div class="slds-modal slds-fade-in-open" role=dialog>
            <div class="slds-modal__container" style="min-width: 1200px">
                <div class=slds-modal__header>
                    <h2 class=slds-text-heading--medium>Manage Task</h2>
                    <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                        <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer"
                            alternative-text=Close title=Close onclick={onManageTaskModelCancel}></lightning-icon>
                    </span>
                </div>
                <div class="slds-modal__content slds-p-around_medium">
                    <table>
                        <thead style="text-align: center">
                            <tr>
                                <!-- <th scope="col">Course Name
                                </th> -->
                                <th scope="col">Module Name
                                </th>
                                <th scope="col">Status
                                </th>
                                <th scope="col">Start Date
                                </th>
                                <th scope="col">Due Date
                                </th>
                                <th scope="col">Completed Date
                                </th>
                                <th scope="col">Sequence
                                </th>
                                <th scope="col">Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <template for:each={userModuleAssociationList} for:item="uma">
                                <tr class="slds-hint-parent" key={uma.Id}>
                                    <!-- <td>{uma.Course_Module__c}</td> -->
                                    <td>{uma.Course_Module__r.Module_Name__c}</td>
                                    <td>{uma.Status__c}
                                    </td>
                                    <td>
                                        <div>
                                            <lightning-formatted-date-time day="numeric" month="numeric" year="numeric"
                                                value={uma.Started_Date__c} time-zone="UTC">
                                            </lightning-formatted-date-time>
                                        </div>
                                    </td>
                                    <td>
                                        <template if:false ={uma.Is_Completed__c}>
                                        <div>
                                            <lightning-input type="date" name="dueDate" variant ="label-hidden" value={uma.Due_Date__c} onchange = {handleFieldChange} data-id = {uma.Id}></lightning-input>
                                        </div>
                                    </template>
<template if:true={uma.Is_Completed__c}>
                                        <div>
                                            <lightning-formatted-date-time day="numeric" month="numeric" year="numeric"
                                                value={uma.Due_Date__c} time-zone="UTC">
                                            </lightning-formatted-date-time>
                                        </div>
                                    </template>
</td>
<td>
    <div>
        <lightning-formatted-date-time day="numeric" month="numeric" year="numeric" value={uma.Completed_Date__c} time-zone="UTC">
        </lightning-formatted-date-time>
    </div>
</td>
<td>
    <template if:false={uma.Is_Completed__c}>
    <lightning-input name="Sequence" variant="label-hidden" value={uma.Sequence__c} onchange={handleFieldChange} data-id={uma.Id}>
    </lightning-input>
</template>
    <template if:true={uma.Is_Completed__c}>
    {uma.Sequence__c}
</template>

</td>
<td>
    <lightning-icon icon-name="utility:delete" alternative-text="Delete" size="x-small" title="Delete" class="cursor_pointer" data-rid={uma.Id} onclick={deleteTaskHandle}></lightning-icon>
</td>
</tr>
</template>
</tbody>
</table>
</div>
<footer class="slds-modal__footer">
    <button class="slds-button slds-button_neutral" onclick={onManageTaskModelCancel} title="Cancel">Cancel</button>
    <button class="slds-button slds-button_brand" onclick={onManageTaskModelSave} title="OK">Save</button>
</footer>

</div>
</div>
<div class="slds-backdrop slds-backdrop--open"></div>
</template>


<!-- DELETE TASK MODAL -->

<template if:true={isShowDeleteTaskModal}>
	<div class="slds-modal slds-fade-in-open" role=dialog>
		<div class="slds-modal__container" style="min-width: 100px">
			<div class=slds-modal__header >
				<h2 class=slds-text-heading--medium>Delete Task</h2>
				<span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
					<lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
					alternative-text=Close title=Close onclick={handleCancelDeleteTaskModal}></lightning-icon>
				</span>
			</div>
			<div class="slds-modal__content slds-p-around_medium">
				Are you sure you want to delete this task ? 
			</div>
			<footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick={handleCancelDeleteTaskModal} title="Cancel">Cancel</button>
                <button class="slds-button slds-button_brand" onclick={handleSaveDeleteTaskModal} title="Delete">Delete</button>
            </footer>
		</div>
	</div>
	<div class="slds-backdrop slds-backdrop--open"></div>
</template>

</template>