<!--
  @description       : 
  @author            : Manish Sogani
  @group             : 
  @last modified on  : 01-05-2021
  @last modified by  : Manish Sogani
  Modifications Log 
  Ver   Date         Author          Modification
  1.0   01-05-2021   Manish Sogani   Initial Version
-->
<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text=Loading></lightning-spinner>
    </template>

    <div if:true={componentLoaded}>
        <div class="component_block">
            <table>
                <thead>
                    <tr>
                        <th style="width: 12%;"><div class="slds-align_absolute-center">Action</div></th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Contact</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <template if:true={isNoCRRecords}>
                        <tr>
                            <td colspan="5">No Records Found</td>
                        </tr>
                    </template>
                    <template if:false={isNoCRRecords}>
                        <template for:each={dataObj} for:item="wr" for:index="csi">
                            <tr key={wr}>
                                <td>
                                    <div class="slds-align_absolute-center">
                                        <lightning-icon icon-name="utility:edit" alternative-text="Edit" size="x-small" title="Edit" 
                                        class="cursor_pointer" data-rid={wr.courseRole.Id} onclick={handleCourseRoleRecordEdit}></lightning-icon>
                                        &nbsp;&nbsp;
                                        <lightning-icon icon-name="utility:delete" alternative-text="Delete" size="x-small" title="Delete" 
                                        class="cursor_pointer" data-rid={wr.courseRole.Id} onclick={handleCourseRoleRecordDelete}></lightning-icon>
                                    </div>
                                </td>
                                <td>{wr.courseRole.Name}</td>
                                <td>{wr.courseRole.Role__c}</td>
                                <td>{wr.courseRoleContactName}</td>
                                <td>{wr.courseRole.Status__c}</td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
            
            <div style="margin-top: 10px;">
                <button type="button" class="btn btn_secondary" onclick={handleAddCR}>Add Course Role</button>
            </div>

            <template if:true={isShowCourseRoleRecordModal}>
                <div class="slds-modal slds-fade-in-open slds-modal_large" role=dialog>
                    <div class="slds-modal__container">
                        <div class=slds-modal__header >
                            <h2 class=slds-text-heading--medium>Course Role</h2>
                            <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                                <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
                                alternative-text=Close title=Close onclick={handleCourseRoleCancelModal}></lightning-icon>
                            </span>
                        </div>
                        <div class="slds-modal__content slds-p-around_medium" style="min-height: 300px;">
                            <lightning-record-edit-form record-id={courseRoleRecordId} class="CourseRoleFormCls" object-api-name="Course_Module_Role__c" 
                                onsuccess={handleCourseRoleSuccess} onsubmit ={handleCourseRoleSubmit} onerror={handleCourseRoleError}>
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Name onchange={handleChangeName}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Role__c onchange={handleChangeRole}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Contact__c onchange={handleChangeContact}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Status__c onchange={handleChangeStatus}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=Show_All_Data__c onchange={handleChangeShowAllData}></lightning-input-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <lightning-input-field field-name=View_Exam_Result__c onchange={handleChangeViewExamResult}></lightning-input-field>
                                    </div>
                                </div>
                            </lightning-record-edit-form>
                        </div>
                        <div class=slds-modal__footer>
                            <button type="button" class="btn btn_neutral" onclick={handleCourseRoleCancelModal}>Cancel</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn_primary" onclick={handleCourseRoleSaveModal}>Save</button>
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open"></div>
            </template>

            <template if:true={isShowDeleteModal}>
                <div class="slds-modal slds-fade-in-open slds-modal_large" role=dialog>
                    <div class="slds-modal__container">
                        <div class=slds-modal__header >
                            <h2 class=slds-text-heading--medium>Delete {deleteHeaderItemName}</h2>
                            <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                                <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
                                alternative-text=Close title=Close onclick={handleCancelDeleteRecord}></lightning-icon>
                            </span>
                        </div>
                        <div class="slds-modal__content slds-p-around_medium">
                            <lightning-formatted-rich-text value={deleteItemMessage}></lightning-formatted-rich-text>
                        </div>
                        <div class=slds-modal__footer>
                            <button type="button" class="btn btn_neutral" onclick={handleCancelDeleteRecord}>Cancel</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn_primary" onclick={handleDeleteRecord}>Delete</button>
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open"></div>
            </template>

        </div>
    </div>
</template>