.SingleResult:hover{
  background-color: rgba(0, 0, 0, 0.11);
}
li{
  cursor:pointer;
  display: list-item;
}
.dropDown{
  width:100%;
  background-color:white;
  position: relative;
  z-index: 1;
  max-height:40vh;
  overflow-y: scroll;
  border: 1px gray solid;
  border-radius: 2%;
  text-align: left;
}
input{
  padding-left: 40px;
}
li{
  list-style: none;
}
.slds-pill{
  width:100% !important;
}
.dropDown-fixed{
  position: fixed;
    width: inherit;
}