<template>
    <template if:false={noResourcesFound}>
       
        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
            <thead>
                <tr class="slds-line-height_reset">
                    <th style="width: 85%" scope="col">
                        <div class="slds-truncate" title="Name">Name</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Action">Action</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <template for:each={resources} for:item="resource">
                    <tr class="slds-hint-parent" key={resource.recourceId}>
                        <th data-label="Name" scope="row">
                            <div class="slds-truncate" title={resource.resourceName}>
                                {resource.resourceName}
                            </div>
                        </th>
                        <td data-label="Action">
                            <template if:true={resource.isFile}>
                                <lightning-button variant="brand" label="Download" title="Download"
                                    onclick={handleDownload} data-resource-id={resource.recourceId}
                                    disabled={resource.disableActions}></lightning-button>
                            </template>
                            <template if:true={resource.isHyperlink}>
                                <lightning-button variant="neutral" label="Visit" title="Visit" onclick={handleVisit}
                                    data-resource-id={resource.recourceId} disabled={resource.disableActions}>
                                </lightning-button>
                            </template>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>
    <template if:true={noResourcesFound}>
        <div class="slds-text-color_error slds-text-align_center slds-var-m-top_small slds-text-heading_small">No
            resources found</div>
    </template>
</template>