<template>
    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>

    <template if:true={course}>
        <div class="section-header p-t-0 slds-var-p-around_small">
            <div class="d-flex justify-content-between page-header">
                <c-lms-bookmark-manager if:true={recordId} record-id={recordId}></c-lms-bookmark-manager>

                <h1 class="page-title">{course.courseTitle}</h1>
            </div>
            <div class="slds-var-m-top_medium">
                <lightning-layout>
                    <lightning-layout-item size="8">
                        <div class="slds-form-element">
                            <span class="slds-form-element__label">Registration Status</span>
                            <div class="slds-form-element__control">
                                <div class="slds-form-element__static">
                                    <b>{course.courseStatus}</b>
                                </div>
                            </div>
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item size="2">
                        <div class="slds-form-element">
                            <span class="slds-form-element__label slds-text-align_center" style="display: block">Module(s) completed</span>
                            <div class="slds-form-element__control">
                                <div class="slds-form-element__static slds-text-align_center">
                                    <b>{course.completedModules}</b>
                                </div>
                            </div>
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item size="2">
                        <div class="slds-form-element">
                            <span class="slds-form-element__label slds-text-align_center" style="display: block">Module(s) remaining</span>
                            <div class="slds-form-element__control">
                                <div class="slds-form-element__static slds-text-align_center">
                                    <b>{course.totalModules}</b>
                                </div>
                            </div>
                        </div>
                    </lightning-layout-item>
                </lightning-layout>
                
            </div>
        </div>

        <div class="slds-var-p-around_small slds-var-m-top_small">
            <lightning-tabset>
                <lightning-tab label="Overview">
                    <div class="slds-var-p-around_medium">
                        <c-lms-course-overview course={course}></c-lms-course-overview>
                    </div>
                </lightning-tab>

                <lightning-tab label="Objectives">
                    <div class="slds-var-p-around_medium">
                        <c-lms-course-objectives course={course}></c-lms-course-objectives>
                    </div>
                </lightning-tab>

                <template if:true={course.isShowModules}>
                    <lightning-tab label="Modules">
                        <div class="slds-var-p-around_medium">
                            <template if:true={launchStatus}>
                                <c-lms-course-details-help-text course-id={course.courseId}></c-lms-course-details-help-text>
                            </template>
                            <c-lms-course-modules modules={course.modulesList} is-show-submit-for-approval-button={course.isShowSubmitForApprovalButton}></c-lms-course-modules>
                            <div class="slds-var-m-top_large">
                                <c-lms-course-feedback></c-lms-course-feedback>
                            </div>
                        </div>
                    </lightning-tab>
                </template>

                <lightning-tab label="Resources">
                    <div class="slds-var-p-around_medium">
                        <c-lms-course-resources resources={course.resourcesList}></c-lms-course-resources>
                        <div class="slds-var-m-top_large">
                            <c-lms-course-feedback></c-lms-course-feedback>
                        </div>
                    </div>
                </lightning-tab>

                <lightning-tab label="Certificate">
                    <div class="slds-var-p-around_medium">
                        <c-lms-course-certificate course={course}></c-lms-course-certificate>
                    </div>
                </lightning-tab>
                <lightning-tab if:true={course.courseIsCompleted} label="Evaluation">
                    <div >
                        <c-lms-learner-evaluation course-id={course.courseId}></c-lms-learner-evaluation>
                    </div>
                </lightning-tab>
                <lightning-tab label="Pre-Requisites">
                    <div >
                        <c-lms-course-pre-requisites-view record-id={course.courseId}></c-lms-course-pre-requisites-view>
                    </div>
                </lightning-tab>
                <lightning-tab label="Course Action" >
                  
                        <c-lms-course-enroll-banner course-id={course.courseId}></c-lms-course-enroll-banner>
                    
                    <template if:true={course.isDropFromCourse}>
                        <c-lms-course-drop-banner course-id={course.courseId}></c-lms-course-drop-banner>
                    </template>
                </lightning-tab>
            </lightning-tabset>
        </div>
    </template>
</template>