<template>
    <div class="slds-var-p-around_medium">
       
                 
          <table
          class="slds-table slds-table_cell-buffer slds-table_bordered"
        >
          <thead>
            <tr class="slds-line-height_reset">
              <th class="" scope="col">
                <div class="slds-truncate" title="Facility Name">
                  Course Name
                </div>
              </th>
              <th class="" scope="col">
                <div class="slds-truncate" title="Created By">
                   Type
                </div>
              </th>
              
            </tr>
          </thead>
    
          <tbody>
            <template if:true={isNoCPRRecords}>
                <tr>
                    <td colspan="2">No Records Found</td>
                </tr>
            </template>
            <template if:false={isNoCPRRecords}>
                <template for:each={dataObj} for:item="wr" for:index="cmi">
                    <tr key={wr.Id}>
                        <td>{wr.relatedCourseName}</td>
                        <td>{wr.courseRelation.Type__c}</td>
                    </tr>
                </template>
            </template>
        </tbody>
        </table>
           </div>         
                  
                  
</template>