<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text=Loading></lightning-spinner>
    </template>
    
    <div class="alert info d-sm-flex justify-content-between align-items-center m-t-md ng-star-inserted">
        <div class="d-flex">
            <!-- <svg aria-hidden="true" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon">
                <use xlink:href="assets/sprites/ui.svg#info-color"></use>
            </svg> -->
            <div class="content">
                <div class="title">Please note</div>
                <div class="copy"> You will need to Enroll in this course to view or
                    access course content. </div>
            </div>
        </div>
        <div class="controls"><button class="s-btn btn-md btn-primary" onclick={handleEnroll}> Enroll now </button></div>
    </div>
</template>