<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>
    <table>
        <thead>
            <tr>
                <th>
                    <div class="slds-align_absolute-center action__width">Action</div>
                </th>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <template for:each={courseRequisitesList} for:item="wr" for:index="cmi">
                <tr key={wr.Id}>
                    <td class="action__width">
                        <div class="slds-align_absolute-center">
                            <lightning-icon icon-name="utility:edit" alternative-text="Edit" size="x-small" title="Edit"
                                class="cursor_pointer" data-id={wr.Id} onclick={editModule}>
                            </lightning-icon>
                            &nbsp;&nbsp;
                            <lightning-icon icon-name="utility:delete" alternative-text="Delete" size="x-small"
                                title="Delete" data-id={wr.Id} class="cursor_pointer" data-rid={wr.Id}
                                onclick={deleteModule}>
                            </lightning-icon>
                        </div>
                    </td>
                    <td>{wr.Name}</td>
                    <td>{wr.Type__c}</td>
                </tr>
            </template>
        </tbody>
    </table>
    <div class="component_block">


        <div style="margin-top: 10px">
            <button type="button" class="btn btn_secondary" onclick={handleAdd}>
                Add Course Pre-Requisite
            </button>
        </div>

        <template if:true={isShowRecordModal}>
            <div class="slds-modal slds-fade-in-open" role="dialog">
                <div class="slds-modal__container">
                    <div class="slds-modal__header">
                        <h2 class="slds-text-heading--medium">Course Pre-Requisite</h2>
                        <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                            <lightning-icon icon-name="utility:close" variant="inverse" size="xx-small"
                                class="cursor_pointer" alternative-text="Close" title="Close" onclick={handleCancel}>
                            </lightning-icon>
                        </span>
                    </div>
                    <div class="slds-modal__content slds-p-around_medium" style="min-height: 250px;">
                        <lightning-record-edit-form class="CourseModuleFormCls" record-id={cousreRequisiteId}
                            object-api-name="Course_Relation__c" onsuccess={handleSuccess}>
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field class="" field-label="Name" field-name="Name"
                                        onchange={handleChangeName}>
                                    </lightning-input-field>
                                </div>
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field class="" field-label="Type" field-name="Type__c"
                                        onchange={handleType} value={Name}>
                                    </lightning-input-field>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_3-of-12"></div>
                                <div class="slds-col slds-size_6-of-12">
                                    <lightning-input-field class="" field-label="Related Course" field-name="Related_Course__c"
                                        onchange={handleCourseChange} value={Name}>
                                    </lightning-input-field>
                                </div>
                                <div class="slds-col slds-size_3-of-12"></div>
                            </div>
                        </lightning-record-edit-form>
                    </div>
                    <div class="slds-modal__footer">
                        <button type="button" class="btn btn_neutral" onclick={handleCancel}>
                            Cancel
                        </button>
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn_primary" onclick={handleSave}>
                            Save
                        </button>
                    </div>
                </div>
            </div>
            <div class="slds-backdrop slds-backdrop--open"></div>
        </template>
    </div>

    <template if:true={isShowDeleteModal}>
        <div class="slds-modal slds-fade-in-open" role=dialog>
            <div class="slds-modal__container">
                <div class=slds-modal__header>
                    <h2 class=slds-text-heading--medium>Delete Record</h2>
                    <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                        <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer"
                            alternative-text=Close title=Close onclick={handleCancelDeleteRecord}></lightning-icon>
                    </span>
                </div>
                <div class="slds-modal__content slds-p-around_medium">
                    Are you sure you want to delete the record?
                </div>
                <div class=slds-modal__footer>
                    <button type="button" class="btn btn_neutral" onclick={handleCancelDeleteRecord}>Cancel</button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn_primary" onclick={handleDeleteRecord}>Delete</button>
                </div>
            </div>
        </div>
        <div class="slds-backdrop slds-backdrop--open"></div>
    </template>

</template>