<template>
    <lightning-layout multiple-rows>
        <lightning-layout-item size="3" padding="around-small" >
            <div class="rating-cmp">
                <div class="slds-text-heading_small">
                    Rate this course
                </div>
                <div style="margin-left: -0.8rem">
                    <c-lms-rating-cmp name="Course"></c-lms-rating-cmp>
                </div>
            </div>
        </lightning-layout-item>
        <lightning-layout-item size="3" padding="around-small" small-device-size="3" medium-device-size="6" large-device-size="3">
            <lightning-button variant="neutral" label="Send Feedback" title="Send Feedback" onclick={handleSendFeedback}></lightning-button>
        </lightning-layout-item>
    </lightning-layout>
    
</template>