.THIS .selfServiceProfileMenuTrigger a:hover {
   color: white;
}

.THIS .selfServiceProfileMenuTrigger a:focus {
   color: white;
}

.THIS .selfServiceProfileMenuTrigger a:active {
   color: white;
}
.THIS .mxc-theme-bookmark-dropdown{
   display: flex;
   align-items: center;
   flex-direction: row;
   cursor: pointer;
   padding: 0 30px;
   box-sizing: border-box;
   min-width: 124px;
}