<!--
  @description       : 
  @author            : Manish Sogani
  @group             : 
  @last modified on  : 01-05-2021
  @last modified by  : Manish Sogani
  Modifications Log 
  Ver   Date         Author          Modification
  1.0   01-04-2021   Manish Sogani   Initial Version
-->
<template>
  <template if:true={showSpinner}>
    <lightning-spinner alternative-text="Loading"></lightning-spinner>
  </template>

  <div if:true={componentLoaded}>
    <div class="component_block">
      <table>
        <thead>
          <tr>
            <th>
              <div class="slds-align_absolute-center action__width">Action</div>
            </th>
            <th>Module Name</th>
            <th>Type</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <template if:true={isNoCMRecords}>
            <tr>
              <td colspan="4">No Records Found</td>
            </tr>
          </template>
          <template if:false={isNoCMRecords}>
            <template for:each={dataObj} for:item="wr" for:index="cmi">
              <tr key={wr}>
                <td class="action__width">
                  <div class="slds-align_absolute-center">
                    <lightning-icon
                      icon-name="utility:edit"
                      alternative-text="Edit"
                      size="x-small"
                      title="Edit"
                      class="cursor_pointer"
                      onclick={editModule}
                      data-rid={wr.courseModule.Id}
                      data-rmoduletype={wr.courseModule.Type__c}
                    ></lightning-icon>
                    &nbsp;&nbsp;
                    <lightning-icon
                      icon-name="utility:delete"
                      alternative-text="Delete"
                      size="x-small"
                      title="Delete"
                      class="cursor_pointer"
                      data-rid={wr.courseModule.Id}
                      data-rmodulename={wr.courseModule.Module_Name__c} 
                      onclick={deleteModule}
                    ></lightning-icon>
                  </div>
                </td>
                <td>{wr.courseModule.Module_Name__c}</td>
                <td>{wr.courseModule.Type__c}
                  <template if:true={wr.isQuiz}>
                    &nbsp;&nbsp;
                    <lightning-icon icon-name="utility:refresh" alternative-text="Roles" size="x-small" title="Roles" 
                      class="cursor_pointer" data-rid={wr.courseModule.Id} onclick={handleShowQuizModal}></lightning-icon>
                  </template>
                </td>
                <td>{wr.courseModule.Status__c}</td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>

      <div style="margin-top: 10px">
        <button type="button" class="btn btn_secondary" onclick={handleAddCM}>
          Add Course Module
        </button>
      </div>

      <template if:true={isShowRecordModal}>
        <div class="slds-modal slds-fade-in-open" role="dialog">
          <div class="slds-modal__container">
            <div class="slds-modal__header">
              <h2 class="slds-text-heading--medium">Course Module</h2>
              <span
                class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
              >
                <lightning-icon
                  icon-name="utility:close"
                  variant="inverse"
                  size="xx-small"
                  class="cursor_pointer"
                  alternative-text="Close"
                  title="Close"
                  onclick={handleCancel}
                ></lightning-icon>
              </span>
            </div>
            <div class="slds-modal__content slds-p-around_medium" style="min-height: 250px;">
              <lightning-record-edit-form
                class="CourseModuleFormCls"
                object-api-name="Course_Module__c"
                record-id={courseModuleId}
                onsuccess={handleCourseModuleSuccess}
                onsubmit={handleCourseModuleSubmit}
                onerror={handleCourseModuleError}
              >
                <div class="slds-grid slds-wrap">
                  <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field
                      field-name="Module_Name__c"
                      onchange={handleChangeModuleName}
                      required
                    ></lightning-input-field>
                  </div>
                  <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field
                      field-name="Status__c"
                      onchange={handleChangeStatus}
                    ></lightning-input-field>
                  </div>
                  <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field
                      field-name="Type__c"
                      onchange={handleChangeType}
                    ></lightning-input-field>
                  </div>

                  <template if:true={showVideoURL}>
                    <div class="slds-col slds-size_1-of-2">
                      <lightning-input-field
                        field-name="Video_URL__c"
                        onchange={handleChangeVideoURL}
                      ></lightning-input-field>
                    </div>
                  </template>
                  <template if:true={showAudioURL}>
                    <div class="slds-col slds-size_1-of-2">
                      <lightning-input-field
                        field-name="Audio_URL__c"
                        onchange={handleChangeAudioURL}
                      ></lightning-input-field>
                    </div>
                  </template>
                  <template if:true={showPdfURL}>
                    <div class="slds-col slds-size_1-of-2">
                      <lightning-input-field
                        field-name="PDF_URL__c"
                        onchange={handleChangePDFURL}
                      ></lightning-input-field>
                    </div>
                  </template>
                  <template if:true={showSCORMURL}>
                    <div class="slds-col slds-size_1-of-2">
                      <lightning-input-field
                        field-name="SCORM_URL__c"
                        onchange={handleChangeSCORMURL}
                      ></lightning-input-field>
                    </div>
                  </template>
                  <template if:true={showQuizField}>
                    <div class="slds-col slds-size_1-of-2">
                      <lightning-input-field
                        field-name="Passing_Score__c"
                        onchange={handleChangePassingScore}
                      ></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2 cust-dropdown">
                      <lightning-input-field
                        field-name="Max_Attempts__c"
                        onchange={handleChangeMaxAttempts}
                      ></lightning-input-field>
                    </div>
                  </template>
                </div>
              </lightning-record-edit-form>
            </div>
            <div class="slds-modal__footer">
              <button
                type="button"
                class="btn btn_neutral"
                onclick={handleCancel}
              >
                Cancel
              </button>
              &nbsp;&nbsp;
              <button
                type="button"
                class="btn btn_primary"
                onclick={handleSave}
              >
                Save
              </button>
            </div>
          </div>
        </div>
        <div class="slds-backdrop slds-backdrop--open"></div>
      </template>
    </div>
  </div>

  <template if:true={isShowDeleteModal}>
    <div class="slds-modal slds-fade-in-open" role=dialog>
        <div class="slds-modal__container">
            <div class=slds-modal__header >
                <h2 class=slds-text-heading--medium>Delete {deleteHeaderItemName}</h2>
                <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                    <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
                    alternative-text=Close title=Close onclick={handleCancelDeleteRecord}></lightning-icon>
                </span>
            </div>
            <div class="slds-modal__content slds-p-around_medium">
                <lightning-formatted-rich-text value={deleteItemMessage}></lightning-formatted-rich-text>
            </div>
            <div class=slds-modal__footer>
                <button type="button" class="btn btn_neutral" onclick={handleCancelDeleteRecord}>Cancel</button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn_primary" onclick={handleDeleteRecord}>Delete</button>
            </div>
        </div>
    </div>
    <div class="slds-backdrop slds-backdrop--open"></div>
  </template>

  <template if:true={isShowQuizModal}>
    <div class="slds-modal slds-fade-in-open" role=dialog>
      <div class="slds-modal__container">
          <div class=slds-modal__header >
              <h2 class=slds-text-heading--medium>Quiz Questions</h2>
              <span class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                  <lightning-icon icon-name=utility:close variant=inverse size=xx-small class="cursor_pointer" 
                  alternative-text=Close title=Close onclick={handleCloseQuizModal}></lightning-icon>
              </span>
          </div>
          <div class="slds-modal__content slds-p-around_medium">
              <c-lms-quiz-questions course-module-id={quizModalCourseModuleId}></c-lms-quiz-questions>
          </div>
          <div class=slds-modal__footer>
              <button type="button" class="btn btn_neutral" onclick={handleCloseQuizModal}>Cancel</button>
          </div>
      </div>
    </div>
    <div class="slds-backdrop slds-backdrop--open"></div>
  </template>

</template>