<template>
  <div class="slds-p-top_large">
    <h1 style="font-size: 30px">My Reportees</h1>
    <br />

    <!-- <template for:each={reporteesList} for:item="reportee">
      <div class="slds-grid slds-gutters" key={reportee.Id}>
        <div class="slds-col">{reportee.Name}</div>
        <div class="slds-col">
          <div data-id={reportee.Id} onclick={openChangeSupervisorModal}>
            <lightning-button
              variant="brand"
              label="Change Supervisor"
              title="Change Supervisor"
              class="slds-m-left_x-small"
            ></lightning-button>
          </div>
        </div>
      </div>
      
    </template> -->
    <table class="slds-table slds-table_cell-buffer slds-table_bordered">
      <tbody>
        <template for:each={reporteesList} for:item="reportee">
          <tr class="slds-hint-parent" key={reportee.Id}>
            <td data-label="Name">
              <div class="slds-truncate" title={reportee.Name}>
                {reportee.Name}
              </div>
            </td>
            <td style="text-align: right">
              <div data-id={reportee.Id} onclick={openChangeSupervisorModal}>
                <lightning-button
                  variant="brand"
                  label="Change Supervisor"
                  title="Change Supervisor"
                  class="slds-m-left_x-small"
                ></lightning-button>
              </div>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
  <template if:true={isModalOpen}>
    <section
      role="dialog"
      tabindex="-1"
      aria-labelledby="modal-heading-01"
      aria-modal="true"
      aria-describedby="modal-content-id-1"
      class="slds-modal slds-fade-in-open"
    >
      <div class="slds-modal__container">
        <header class="slds-modal__header">
          <button
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            title="Close"
            onclick={closeChangeSupervisorModal}
          >
            <lightning-icon
              icon-name="utility:close"
              alternative-text="close"
              variant="inverse"
              size="small"
            ></lightning-icon>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2
            id="modal-heading-01"
            class="slds-text-heading_medium slds-hyphenate"
          >
            Change Supervisor
          </h2>
        </header>
        <div
          class="slds-modal__content slds-p-around_medium"
          id="modal-content-id-1"
        >
          <lightning-record-edit-form
            object-api-name="Contact"
            record-id={reporteeRecordId}
          >
            <lightning-input-field
              field-name="Supervisor__c"
            ></lightning-input-field>
            <lightning-button
              type="submit"
              label="Change Supervisor"
              class="slds-m-top_small"
              variant="brand"
              onclick={handleSubmit}
            ></lightning-button>
          </lightning-record-edit-form>
        </div>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
</template>