<template>
  <div class="card">
    <h2 class="title">My Learning Progress</h2>
    <div class="chart-grid">
      <template for:each={mapData} for:item="item">
        <div class="item" key={item.key}>
          <c-lms_tracking_chart heading={item.key} percentage={item.value}>
          </c-lms_tracking_chart>
        </div>
      </template>
    </div>
  </div>
</template>