.card {
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .25);
    padding: 1rem 1.5rem;
    border-radius: 9px;
    min-height: 224px;
}

.chart-grid {
    display: grid;
    grid-template-columns: minmax(140px, max-content) repeat(auto-fill, 140px) 33%;
    grid-gap: 2rem;
}

.item {
    position: relative;
    width: 120px;
}

.title {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 1.5rem;
}